@import '../../variables.scss';

.dropdown {
  position: relative;
  min-height: 68px;
}
.dropdown__type {
  display: none;
}
.dropdown__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2em;
  font-family: Montserrat, Arial, sans-serif;
  color: $black;
  text-transform: uppercase;
  display: block;
  float: left;
  margin-bottom: 5px;
  padding-top: 4px;
}
.dropdown__state {
  font-weight: 400;
  line-height: 1.6em;
  display: block;
  font-weight: 400;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  vertical-align: top;
  text-align: right;
  color: $black-50;
  text-transform: uppercase;
}
.dropdown__wrapper {
  position: relative;
  clear: both;
  width: 100%;
  height: 44px;
  text-align: left;
  border: 1px solid $black-25;
  border-radius: 4px;
  &_witch-menu {
    border-radius: 4px 4px 0 0;
  }
}
.dropdown__wrapper_witch-menu {
  border: 1px solid $black-50;
}
.dropdown__wrapper .dropdown__input {
  position: relative;
  top: 9px;
  left: 0;
  display: block;
  width: 86%;
  padding-left: 15px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  line-height: 1.6em;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
  outline: none;
  cursor: default;
}
.dropdown__input-button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 40px;
  height: 39px;
  padding-top: 1px;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Material Icons';
  text-align: center;
  color: $black-50;
  background: $white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
}
.dropdown__wrapper_witch-menu .dropdown__input::after {
  background: $white;
  transform: rotate(180deg);
}
.dropdown__item-text {
  padding-right: 35%;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black;
  text-transform: uppercase;
}
.dropdown__wrapper.dropdown__wrapper_witch-menu .dropdown__menu {
  display: block;
}
.dropdown__wrapper .dropdown__menu {
  position: absolute;
  top: 42px;
  right: 0;
  left: 0;
  z-index: 9;
  display: none;
  margin-right: -1px;
  margin-left: -1px;
  padding-top: 7px;
  padding-right: 0;
  background-color: $white;
  border: 1px solid $black-50;
  border-radius: 0 0 4px 4px;
  box-shadow:  0px 10px 20px 0px $black-5;
  cursor: default;
}
.dropdown__wrapper .dropdown__item-wrapper {
  position: relative;
  min-height: 30px;
  margin-bottom: 7px;
  padding-top: 5px;
  padding-left: 14px;
}
.dropdown__item-controls {
  position: absolute;
  top: 0;
  right: 7px;
}
.dropdown__wrapper .dropdown__button-decrement, .dropdown__wrapper .dropdown__button-increment {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: $white;
  border: 1px solid $black-50;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}
.dropdown__wrapper .dropdown__button-decrement_inactive {
  opacity: 0.5;
  cursor: default;
}
.dropdown__wrapper .dropdown__counter {
  display: inline-block;
  width: 28px;
  padding-top: 7px;
  padding-left: 4px;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}
.dropdown__wrapper .dropdown__icon-decrement, .dropdown__wrapper .dropdown__icon-increment {
  position: absolute;
  top: 46%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.dropdown__wrapper .dropdown__icon-decrement::after, .dropdown__wrapper .dropdown__icon-increment::after {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 400;
  font-size: 18px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-50;
  transform: translate(-50%, -50%);
}
.dropdown__wrapper .dropdown__icon-decrement::after {
  content: '-';
}
.dropdown__wrapper .dropdown__icon-increment::after {
  content: '+';
  transform: translate(-50%, -44%);
}
.dropdown__bottom {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 18px;
  margin-right: 2px;
  margin-bottom: 12px;
  padding-left: 6px;
}
.dropdown__clear-btn, .dropdown__set-btn {
  word-break: break-all;
  flex: 0 1 auto;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  &:hover {
    color: $black-50;
  }
} 
.dropdown__clear-btn {
  display: none;
  margin-right: auto;
  color: $black-50;
  &_visible {
    display: block;
  }
}
.dropdown__set-btn {
  display: inline-block;
  padding-right: 5px;
  text-align: right;
  color: $purple;
}