@import '../../variables.scss';

.dropdown, .js-dropdown {
  position: relative;
  min-height: 68px;
  &_theme_date {
  flex: 0 0 47.24%;
  .dropdown__arrow, .js-dropdown__arrow {
    @media (max-width: 380px) {
      padding-left: 0;
      width: 25px;
    }
    &_cursor_default {
      cursor: default;
    }
  }
  .dropdown__input {
    text-transform: uppercase;
    letter-spacing: -0.1px;
    cursor: default;
    border: none;
    outline: none;
    &:hover {
      border: 1px solid $black-25;
      border: none;
      outline: none;
    }
    @media (max-width: 400px) {
      padding-left: 8px;
    }
  }
  .js-dropdown__wrapper_expanded {
    border: 1px solid $black-25;
    border-radius: 4px;
  }
  .dropdown__name {
    word-break: break-all;
  }
}

}
.dropdown__type {
  display: none;
}
.dropdown__name {
  display: block;
  float: left;
  margin-bottom: 5px;
  padding-top: 4px;
}
.dropdown__text {
  line-height: 1.6em;
  display: block;
  font-weight: 400;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  vertical-align: top;
  text-align: right;
  color: $black-50;
  text-transform: uppercase;
}
.dropdown__state {
  font-weight: 400;
  line-height: 1.6em;
  display: block;
  font-weight: 400;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  vertical-align: top;
  text-align: right;
  color: $black-50;
  text-transform: uppercase;
}
.dropdown__wrapper, .js-dropdown__wrapper {
  position: relative;
  clear: both;
  width: 100%;
  height: 44px;
  text-align: left;
  border: 1px solid $black-25;
  border-radius: 4px;
  &_expanded {
    border-radius: 4px 4px 0 0;
    border: 1px solid $black-50;
  }
}
.dropdown__input {
  position: relative;
  top: 9px;
  left: 0;
  display: block;
  width: 86%;
  padding-left: 15px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  line-height: 1.6em;
  font-family: Montserrat, Arial, sans-serif;
  background: $white;
  color: $black-75;
  outline: none;
  cursor: default;
}
.dropdown__arrow {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 40px;
  height: 39px;
  padding-top: 1px;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Material Icons';
  text-align: center;
  color: $black-50;
  background: $white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
}
.js-dropdown__wrapper_expanded .js-dropdown__input::after {
  background: $white;
  transform: rotate(180deg);
}
.dropdown__item-text {
  padding-right: 35%;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black;
  text-transform: uppercase;
}
.js-dropdown__wrapper.js-dropdown__wrapper_expanded .dropdown__menu {
  display: block;
}
.dropdown__menu {
  position: absolute;
  top: 42px;
  right: 0;
  left: 0;
  z-index: 9;
  display: none;
  margin-right: -1px;
  margin-left: -1px;
  padding-top: 7px;
  padding-right: 0;
  background-color: $white;
  border: 1px solid $black-50;
  border-radius: 0 0 4px 4px;
  box-shadow:  0px 10px 20px 0px $black-5;
  cursor: default;
}
.dropdown__wrapper .dropdown__item-wrapper {
  position: relative;
  min-height: 30px;
  margin-bottom: 7px;
  padding-top: 5px;
  padding-left: 14px;
}
.dropdown__item-controls {
  position: absolute;
  top: 0;
  right: 7px;
}
.dropdown__wrapper .dropdown__counter-button {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: $white;
  border: 1px solid $black-50;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 400;
    font-size: 18px;
    font-family: Montserrat, Arial, sans-serif;
    color: $black-50;
    transform: translate(-50%, -50%);
  }
  &_theme_increment::after {
    content: '+';
    transform: translate(-50%, -44%);
  }
  &_theme_decrement::after {
    content: '-';
  }
}
.dropdown__wrapper .js-dropdown__counter-button_theme_decrement-inactive {
  opacity: 0.5;
  cursor: default;
}
.dropdown__wrapper .dropdown__counter, .dropdown__wrapper .js-dropdown__counter {
  display: inline-block;
  width: 28px;
  padding-top: 7px;
  padding-left: 4px;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}
.dropdown__buttons-block {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 18px;
  margin-right: 2px;
  margin-bottom: 12px;
  padding-left: 6px;
}
.dropdown__clear-btn, .dropdown__set-btn {
  word-break: break-all;
  flex: 0 1 auto;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  &:hover {
    color: $black-50;
  }
} 
.dropdown__clear-btn, .js-dropdown__clear-btn {
  display: none;
  margin-left: 5px;
  margin-right: auto;
  color: $black-50;
  &_visible {
    display: block;
  }
}
.dropdown__set-btn {
  display: inline-block;
  padding-right: 5px;
  text-align: right;
  color: $purple;
}
