.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.datepicker--cell {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  z-index: 1; }
  .datepicker--cell.-focus- {
    background: #f0f0f0; }
  .datepicker--cell.-current- {
    color: #4EB5E6; }
    .datepicker--cell.-current-.-focus- {
      color: #4a4a4a; }
    .datepicker--cell.-current-.-in-range- {
      color: #4EB5E6; }
  .datepicker--cell.-in-range- {
    background: rgba(92, 196, 239, 0.1);
    color: #4a4a4a;
    border-radius: 0; }
    .datepicker--cell.-in-range-.-focus- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell.-disabled- {
    cursor: default;
    color: #aeaeae; }
    .datepicker--cell.-disabled-.-focus- {
      color: #aeaeae; }
    .datepicker--cell.-disabled-.-in-range- {
      color: #a1a1a1; }
    .datepicker--cell.-disabled-.-current-.-focus- {
      color: #aeaeae; }
  .datepicker--cell.-range-from- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 4px 0 0 4px; }
  .datepicker--cell.-range-to- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 0 4px 4px 0; }
  .datepicker--cell.-range-from-.-range-to- {
    border-radius: 4px; }
  .datepicker--cell.-selected- {
    color: #fff;
    border: none;
    background: #5cc4ef; }
    .datepicker--cell.-selected-.-current- {
      color: #fff;
      background: #5cc4ef; }
    .datepicker--cell.-selected-.-focus- {
      background: #45bced; }
  .datepicker--cell:empty {
    cursor: default; }

.datepicker--days-names {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 8px 0 3px; }

.datepicker--day-name {
  color: #FF9A19;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em; }

.datepicker--cell-day {
  width: 14.28571%; }

.datepicker--cells-months {
  height: 170px; }

.datepicker--cell-month {
  width: 33.33%;
  height: 25%; }

.datepicker--years {
  height: 170px; }

.datepicker--cells-years {
  height: 170px; }

.datepicker--cell-year {
  width: 25%;
  height: 33.33%; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  left: 0;
  top: 0; }
  @media print {
    .datepickers-container {
      display: none; } }

.datepicker {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  z-index: 100; }
  .datepicker.-from-top- {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); }
  .datepicker.-from-right- {
    -webkit-transform: translateX(8px);
            transform: translateX(8px); }
  .datepicker.-from-bottom- {
    -webkit-transform: translateY(8px);
            transform: translateY(8px); }
  .datepicker.-from-left- {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px); }
  .datepicker.active {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease; }

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
          transform: none; }

.datepicker-inline .datepicker--pointer {
  display: none; }

.datepicker--content {
  box-sizing: content-box;
  padding: 4px; }
  .-only-timepicker- .datepicker--content {
    display: none; }

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1; }
  .-top-left- .datepicker--pointer, .-top-center- .datepicker--pointer, .-top-right- .datepicker--pointer {
    top: calc(100% - 4px);
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .-right-top- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    right: calc(100% - 4px);
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }
  .-bottom-left- .datepicker--pointer, .-bottom-center- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    bottom: calc(100% - 4px);
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg); }
  .-left-top- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-bottom- .datepicker--pointer {
    left: calc(100% - 4px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .-top-left- .datepicker--pointer, .-bottom-left- .datepicker--pointer {
    left: 10px; }
  .-top-right- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    right: 10px; }
  .-top-center- .datepicker--pointer, .-bottom-center- .datepicker--pointer {
    left: calc(50% - 10px / 2); }
  .-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
    top: 10px; }
  .-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    bottom: 10px; }
  .-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
    top: calc(50% - 10px / 2); }

.datepicker--body {
  display: none; }
  .datepicker--body.active {
    display: block; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px; }
  .-only-timepicker- .datepicker--nav {
    display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.datepicker--nav-action {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .datepicker--nav-action:hover {
    background: #f0f0f0; }
  .datepicker--nav-action.-disabled- {
    visibility: hidden; }
  .datepicker--nav-action svg {
    width: 32px;
    height: 32px; }
  .datepicker--nav-action path {
    fill: none;
    stroke: #9c9c9c;
    stroke-width: 2px; }

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px; }
  .datepicker--nav-title i {
    font-style: normal;
    color: #9c9c9c;
    margin-left: 5px; }
  .datepicker--nav-title:hover {
    background: #f0f0f0; }
  .datepicker--nav-title.-disabled- {
    cursor: default;
    background: none; }

.datepicker--buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  border-top: 1px solid #efefef; }

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px; }
  .datepicker--button:hover {
    color: #4a4a4a;
    background: #f0f0f0; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */
.datepicker--time {
  border-top: 1px solid #efefef;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  position: relative; }
  .datepicker--time.-am-pm- .datepicker--time-sliders {
    -webkit-flex: 0 1 138px;
        -ms-flex: 0 1 138px;
            flex: 0 1 138px;
    max-width: 138px; }
  .-only-timepicker- .datepicker--time {
    border-top: none; }

.datepicker--time-sliders {
  -webkit-flex: 0 1 153px;
      -ms-flex: 0 1 153px;
          flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px; }

.datepicker--time-label {
  display: none;
  font-size: 12px; }

.datepicker--time-current {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px; }

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1; }

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1; }
  .datepicker--time-current-hours:after,
  .datepicker--time-current-minutes:after {
    content: '';
    background: #f0f0f0;
    border-radius: 4px;
    position: absolute;
    left: -2px;
    top: -3px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    opacity: 0; }
  .datepicker--time-current-hours.-focus-:after,
  .datepicker--time-current-minutes.-focus-:after {
    opacity: 1; }

.datepicker--time-current-ampm {
  text-transform: uppercase;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px; }

.datepicker--time-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat; }
  .datepicker--time-row:first-child {
    margin-bottom: 4px; }
  .datepicker--time-row input[type='range'] {
    background: none;
    cursor: pointer;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none; }
    .datepicker--time-row input[type='range']::-ms-tooltip {
      display: none; }
    .datepicker--time-row input[type='range']:hover::-webkit-slider-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:hover::-moz-range-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:hover::-ms-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:focus {
      outline: none; }
      .datepicker--time-row input[type='range']:focus::-webkit-slider-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
      .datepicker--time-row input[type='range']:focus::-moz-range-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
      .datepicker--time-row input[type='range']:focus::-ms-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-moz-range-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-ms-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      margin-top: -6px; }
    .datepicker--time-row input[type='range']::-webkit-slider-runnable-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-moz-range-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-fill-lower {
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-fill-upper {
      background: transparent; }
  .datepicker--time-row span {
    padding: 0 12px; }

.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em; }
  .datepicker--time-icon:after, .datepicker--time-icon:before {
    content: '';
    background: currentColor;
    position: absolute; }
  .datepicker--time-icon:after {
    height: .4em;
    width: 1px;
    left: calc(50% - 1px);
    top: calc(50% + 1px);
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  .datepicker--time-icon:before {
    width: .4em;
    height: 1px;
    top: calc(50% + 1px);
    left: calc(50% - 1px); }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,menu,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}*[hidden]{display:none}body{line-height:1}menu,ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
.ui-kit{height:140px;padding-top:30px;padding-left:30px}.ui-kit__logo{display:inline-block;width:48px;height:48px;margin-bottom:10px;background:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2248%22%20height%3D%2248%22%3E%3Cpath%20fill%3D%22%231f2041%22%20fill-opacity%3D%22.25%22%20d%3D%22M23.996%2032.468a1.416%201.416%200%200%201-1.412-1.412c0-5.435-4.447-9.882-9.882-9.882a1.416%201.416%200%200%201-1.412-1.412c0-.777.635-1.412%201.412-1.412%207.023%200%2012.706%205.682%2012.706%2012.706%200%20.776-.636%201.412-1.412%201.412zM36.701%2019.762c0%20.776-.635%201.412-1.412%201.412a9.851%209.851%200%200%200-8.117%204.27%2014.447%2014.447%200%200%200-1.412-2.753%2012.588%2012.588%200%200%201%209.53-4.341c.776%200%201.411.635%201.411%201.412z%22%2F%3E%3Cpath%20fill%3D%22%231f2041%22%20fill-opacity%3D%22.25%22%20d%3D%22M24%2048C10.765%2048%200%2037.235%200%2024S10.765%200%2024%200s24%2010.765%2024%2024-10.765%2024-24%2024zm0-45.176C12.318%202.824%202.824%2012.318%202.824%2024c0%2011.682%209.494%2021.176%2021.176%2021.176%2011.682%200%2021.177-9.494%2021.177-21.176%200-11.682-9.495-21.176-21.177-21.176z%22%2F%3E%3C%2Fsvg%3E") left top no-repeat}
@font-face{font-style:normal;font-weight:400;font-family:"Quicksand";src:url(../fonts/quicksand-regular.woff);src:url(../fonts/quicksand-regular.ttf) format("truetype"),url(../fonts/quicksand-regular.svg) format("svg")}@font-face{font-style:normal;font-weight:700;font-family:"Quicksand";src:url(../fonts/quicksand-bold.woff);src:url(../fonts/quicksand-bold.ttf) format("truetype"),url(../fonts/quicksand-bold.svg) format("svg")}@font-face{font-style:normal;font-weight:400;font-family:"Montserrat";src:url(../fonts/montserrat-regular.woff);src:url(../fonts/montserrat-regular.ttf) format("truetype"),url(../fonts/montserrat-regular.svg) format("svg")}@font-face{font-style:normal;font-weight:700;font-family:"Montserrat";src:url(../fonts/montserrat-bold.woff);src:url(../fonts/montserrat-bold.ttf) format("truetype"),url(../fonts/montserrat-bold.svg) format("svg")}@font-face{font-style:normal;font-weight:400;font-family:"Material Icons";src:url(../fonts/materialIcons-regular.woff);src:url(../fonts/materialIcons-regular.ttf) format("truetype"),url(../fonts/materialIcons-regular.svg) format("svg")}@font-face{font-style:normal;font-weight:700;font-family:"Open Sans";src:url(../fonts/open-sans-bold.woff);src:url(../fonts/open-sans-bold.ttf) format("truetype"),url(../fonts/montserrat-bold.svg) format("svg")}html{box-sizing:border-box;-ms-overflow-style:scrollbar;height:100%;font-weight:400;font-size:14px;font-family:Montserrat, Arial, sans-serif;color:rgba(31,32,65,0.75)}html *,html *::before,html *::after{box-sizing:inherit}body{display:flex;flex-direction:column;height:100%;max-width:1920px;min-width:320px;margin:0 auto}
.input{position:relative}.input__title{display:block;float:left;margin-bottom:5px;padding-top:4px;word-break:break-all}.input__text{line-height:1.6em;display:block;font-weight:400;font-size:12px;font-family:Montserrat, Arial, sans-serif;text-align:right;color:rgba(31,32,65,0.5);text-transform:uppercase}.input__field{width:100%;height:44px;padding-left:15px;padding-right:15px;font-weight:400;font-size:14px;line-height:18px;font-family:Montserrat, Arial, sans-serif;color:rgba(31,32,65,0.75);background-color:#fff;border:1px solid rgba(31,32,65,0.25);border-radius:4px}.input__field::placeholder{color:rgba(31,32,65,0.75)}.input__field:hover,.input__field_focused,.input__field:focus{border:1px solid rgba(31,32,65,0.5);outline:none}.input__field_placeholder_light::placeholder{color:rgba(31,32,65,0.25)}.input__field_uppercased{text-transform:uppercase;letter-spacing:-.4px}.input__field_with-arrow::placeholder{color:rgba(31,32,65,0.25)}.input__field_with-arrow:hover,.input__field_with-arrow_focused,.input__field_with-arrow:focus{border:1px solid rgba(31,32,65,0.5);outline:none}.input__field_with-arrow+.input__button{display:block;padding-top:0;padding-left:5px;background-repeat:no-repeat}.input__field_without-hover-effect:hover{border:1px solid rgba(31,32,65,0.25)}.input__button{position:absolute;right:0;bottom:0;width:44px;height:44px;padding-top:3px;text-align:center;background:transparent;border-radius:4px;cursor:pointer;font-weight:400;font-size:24px;font-family:"Material Icons";color:rgba(31,32,65,0.5);border:0;outline:none}.input__button_colored{color:#bc9cff}
.title{font-weight:700;font-size:12px;line-height:1.2em;font-family:Montserrat, Arial, sans-serif;color:#1f2041;text-transform:uppercase}
.dates-selector{position:relative;display:flex;flex-wrap:nowrap;justify-content:space-between;align-items:flex-end}.dates-selector__datepicker{position:absolute;bottom:-7px;transform:translate(0, 100%);z-index:10;display:none;width:100%;background:#fff;border-radius:4px}.dates-selector__datepicker_visible{display:block}
.dropdown{position:relative;min-height:68px}.dropdown_theme_date{flex:0 0 47.24%}@media (max-width: 380px){.dropdown_theme_date__arrow{padding-left:0;width:25px}}.dropdown_theme_date__arrow_cursor_default{cursor:default}.dropdown_theme_date .dropdown__input{text-transform:uppercase;letter-spacing:-.1px;cursor:default;border:0;outline:none}@media (max-width: 400px){.dropdown_theme_date .dropdown__input{padding-left:8px}}.dropdown_theme_date .dropdown__input:hover{border:1px solid rgba(31,32,65,0.25);border:0;outline:none}.dropdown_theme_date__inner_expanded{border:1px solid rgba(31,32,65,0.25);border-radius:4px}.dropdown_theme_date__name{word-break:break-all}.dropdown__type{display:none}.dropdown__name{display:block;float:left;margin-bottom:5px;padding-top:4px}.dropdown__text{line-height:1.6em;display:block;font-weight:400;font-size:12px;font-family:Montserrat, Arial, sans-serif;text-align:right;color:rgba(31,32,65,0.5);text-transform:uppercase}.dropdown__inner{position:relative;clear:both;width:100%;height:44px;text-align:left;border:1px solid rgba(31,32,65,0.25);border-radius:4px}.dropdown__inner_expanded{border-radius:4px 4px 0 0;border:1px solid rgba(31,32,65,0.5)}.dropdown__inner_expanded .dropdown__input::after{background:#fff;transform:rotate(180deg)}.dropdown__inner_expanded .dropdown__menu{display:block}.dropdown__inner .dropdown__item{position:relative;min-height:30px;margin-bottom:7px;padding-top:5px;padding-left:14px}.dropdown__inner .dropdown__counter-button{position:relative;display:inline-block;width:30px;height:30px;background:transparent;border:1px solid rgba(31,32,65,0.5);border-radius:15px;outline:none;cursor:pointer}.dropdown__inner .dropdown__counter-button::after{position:absolute;top:50%;left:50%;font-weight:400;font-size:18px;font-family:Montserrat, Arial, sans-serif;color:rgba(31,32,65,0.5);transform:translate(-50%, -50%)}.dropdown__inner .dropdown__counter-button_theme_increment::after{content:"+";transform:translate(-50%, -44%)}.dropdown__inner .dropdown__counter-button_theme_decrement::after{content:"-"}.dropdown__inner .dropdown__counter-button_inactive{opacity:.5;cursor:default}.dropdown__inner .dropdown__counter{display:inline-block;width:28px;padding-top:7px;padding-left:4px;font-weight:700;font-size:12px;font-family:Montserrat, Arial, sans-serif;vertical-align:top;text-align:center;color:#1f2041;text-transform:uppercase}.dropdown__input{position:relative;top:9px;left:0;display:block;width:86%;padding-left:15px;border:0;font-weight:400;font-size:14px;line-height:24px;line-height:1.6em;font-family:Montserrat, Arial, sans-serif;background:#fff;color:rgba(31,32,65,0.75);outline:none;cursor:default}.dropdown__arrow{position:absolute;top:2px;right:2px;width:40px;height:39px;padding-top:1px;font-weight:400;font-size:24px;font-family:"Material Icons";text-align:center;color:rgba(31,32,65,0.5);background:#fff;border-radius:4px;cursor:pointer;border:0;outline:none}.dropdown__item-text{padding-right:35%;margin-bottom:7px;font-weight:700;font-size:12px;font-family:Montserrat, Arial, sans-serif;color:#1f2041;text-transform:uppercase}.dropdown__menu{position:absolute;top:42px;right:0;left:0;z-index:9;display:none;margin-right:-1px;margin-left:-1px;padding-top:7px;padding-right:0;background-color:#fff;border:1px solid rgba(31,32,65,0.5);border-radius:0 0 4px 4px;box-shadow:0px 10px 20px 0px rgba(31,32,65,0.05);cursor:default}.dropdown__item-controls{position:absolute;top:0;right:7px}.dropdown__buttons-block{display:flex;flex-direction:row-reverse;margin-top:19px;margin-right:2px;margin-bottom:13px;padding-left:6px}.dropdown__clear-button,.dropdown__set-button{word-break:break-all;flex:0 1 auto;font-weight:700;font-size:12px;font-family:Montserrat, Arial, sans-serif;text-transform:uppercase;cursor:pointer;border:0;outline:none;background:transparent}.dropdown__clear-button:hover,.dropdown__set-button:hover{color:rgba(31,32,65,0.5)}.dropdown__clear-button{display:none;margin-left:5px;margin-right:auto;color:rgba(31,32,65,0.5)}.dropdown__clear-button_visible{display:block}.dropdown__set-button{display:inline-block;padding-right:5px;text-align:right;color:#bc9cff}
.datepicker-block{width:100%;padding-right:4.75%;padding-left:4.75%;background:#fff;border:1px solid rgba(31,32,65,0.25);border-radius:4px}.datepicker-block__buttons-block{display:flex;flex-direction:row-reverse;padding-left:4px;margin-top:18px;padding-bottom:18px}.datepicker-block__clear-button,.datepicker-block__set-button{word-break:break-all;flex:0 1 auto;font-weight:700;font-size:12px;font-family:Montserrat, Arial, sans-serif;text-transform:uppercase;cursor:pointer;border:0;outline:none;background:transparent}.datepicker-block__clear-button:hover,.datepicker-block__set-button:hover{color:rgba(31,32,65,0.5)}.datepicker-block__clear-button{display:none;margin-right:auto;color:rgba(31,32,65,0.5)}.datepicker-block__clear-button_visible{display:block}.datepicker-block__set-button{display:inline-block;padding-right:5px;text-align:right;color:#bc9cff}.datepicker{color:rgba(31,32,65,0.5);width:100%;font-size:12px;font-family:Montserrat, Arial, sans-serif;border:0}.datepicker--nav{height:57px;border:0}.datepicker--nav-title:hover{background:transparent}.datepicker--days-names{height:31px}.datepicker--day-name{font-weight:700;font-size:12px;font-family:Montserrat, Arial, sans-serif;color:#bc9cff}.datepicker--nav-title,.datepicker--nav-title i{font-weight:700;font-size:19px;font-family:"Open Sans", Arial, sans-serif;color:#1f2041}.datepicker--cell{height:40px;border-radius:20px}@media (max-width: 380px){.datepicker--cell{height:36px}}@media (max-width: 355px){.datepicker--cell{height:33px}}.datepicker--cell.-focus-{background:transparent}.datepicker--cell.-selected-,.datepicker--cell.-selected-.-current-,.datepicker--cell.-current-.-focus-,.datepicker--cell.-range-from-,.datepicker--cell.-range-from-.-other-month-.-selected-,.datepicker--cell.-range-to-,.datepicker--cell.-range-to-.-other-month-.-selected-,.datepicker--cell.-selected-.-focus-,.-selected-.datepicker--cell-day.-other-month-,.-selected-.datepicker--cell-day.-other-month-.-focus-{position:relative;font-weight:700;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);border-radius:20px;transform-style:preserve-3d;border:0;color:#fff}.datepicker--cell.-selected-.-current-,.datepicker--cell.-current-.-focus-{background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%)}.datepicker--cell-day.-other-month-:hover{color:#fff}.datepicker--cell.-range-from-::before{content:"";position:absolute;top:0;right:0;width:50%;height:100%;background:linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);transform:translateZ(1px)}.datepicker--cell.-range-to-::before{content:"";position:absolute;top:0;left:0;width:50%;height:100%;background:linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);transform:translateZ(-1px)}.datepicker--cell.-current-.-in-range-{background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);border-radius:20px;color:#fff}.datepicker--cell.-current-.-in-range-::before{content:"";position:absolute;top:0;right:0;width:50%;height:100%;background:linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);transform:translateZ(-1px)}.datepicker--cell.-in-range-{color:rgba(31,32,65,0.5);background:linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%)}.datepicker--cell.-in-range-.-focus-{background:linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%)}.datepicker--cell.-current-{font-weight:700;font-family:Montserrat, Arial, sans-serif;color:#fff;background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%)}.datepicker--cell.-disabled-.-focus-{background:transparent;font-weight:400;border-radius:0}.-selected-.datepicker--cell-day.-other-month-{font-weight:400;color:#fff}.datepicker--cell-day.-other-month-{color:rgba(31,32,65,0.25)}.datepicker--cell-day.-other-month-::before,.datepicker--cell-day.-other-month-:hover,.-selected-.datepicker--cell-day.-other-month-:hover{color:#fff}.-in-range-.datepicker--cell-day.-other-month-{background:linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%)}.-in-range-.datepicker--cell-day.-other-month-.-focus-{background:linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);color:rgba(31,32,65,0.25)}.datepicker--cell.datepicker--cell-day.-other-month-.-range-from-.-current-.-selected-,.datepicker--cell.datepicker--cell-day.-in-range-.-current-{background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);transform-style:preserve-3d}.datepicker--cell.datepicker--cell-day.-other-month-.-range-from-.-current-.-selected-:hover,.datepicker--cell.datepicker--cell-day.-in-range-.-current-:hover{background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%)}.datepicker--cell.datepicker--cell-day.-range-from-.-disabled-,.datepicker--cell.datepicker--cell-day.-range-from-.-focus-.-disabled-{color:rgba(31,32,65,0.5)}.datepicker--cell.datepicker--cell-day.-other-month-.-in-range-.-disabled-,.datepicker--cell.datepicker--cell-day.-other-month-.-range-from-.-focus-.-disabled-,.datepicker--cell.datepicker--cell-day.-other-month-.-range-from-.-disabled-{color:rgba(31,32,65,0.25);background:transparent}.datepicker--cell.datepicker--cell-day.-other-month-.-focus-{color:rgba(31,32,65,0.25)}.datepicker--cell.datepicker--cell-day.-other-month-.-in-range-.-focus-{color:rgba(31,32,65,0.25)}.datepicker--cell.datepicker--cell-day.-other-month-.-range-to-,.datepicker--cell.datepicker--cell-day.-other-month-.-range-from-{color:#fff}.datepicker--cell.-in-range-.-disabled-{background:transparent}.datepicker--cell.-range-from-.-disabled-::before{background:transparent}.datepicker--cell.datepicker--cell-day.-range-from-.-disabled-{background:transparent;font-weight:400}.datepicker--cell.datepicker--cell-month.-range-to-.-in-range-.-selected-,.datepicker--cell.datepicker--cell-month.-range-from-.-selected-{background:transparent;font-weight:400;color:#4a4a4a}.datepicker--cell.datepicker--cell-month.-range-to-.-in-range-.-selected-:hover,.datepicker--cell.datepicker--cell-month.-range-from-.-selected-:hover{background:#f0f0f0}.datepicker--cell.datepicker--cell-month.-range-to-.-in-range-.-selected-::before,.datepicker--cell.datepicker--cell-month.-range-from-.-selected-::before{background:transparent}.datepicker--cell-month.-range-from-.-current-.-selected-{background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);font-weight:700;color:#fff}.datepicker--cell-month.-range-from-.-current-.-selected-:hover{background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%)}.datepicker--cell-month.-range-from-.-current-.-selected-::before{background:transparent}.datepicker--cell-month.-range-from-.-selected-{background:transparent}.datepicker--cell.datepicker--cell-year.-range-from-.-current-.-selected-,.datepicker--cell.datepicker--cell-year.-range-to-.-current-.-selected-,.datepicker--cell.datepicker--cell-year.-range-from-.-range-to-.-current-.-selected-.-focus-{background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);font-weight:700;color:#fff}.datepicker--cell.datepicker--cell-year.-range-from-.-current-.-selected-:hover,.datepicker--cell.datepicker--cell-year.-range-to-.-current-.-selected-:hover,.datepicker--cell.datepicker--cell-year.-range-from-.-range-to-.-current-.-selected-.-focus-:hover{background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);font-weight:700;color:#fff}.datepicker--cell.datepicker--cell-year.-range-from-.-current-.-selected-::before,.datepicker--cell.datepicker--cell-year.-range-to-.-current-.-selected-::before,.datepicker--cell.datepicker--cell-year.-range-from-.-range-to-.-current-.-selected-.-focus-::before{background:transparent}.datepicker--cell-year.-range-to-.-in-range-.-selected-{background:transparent;font-weight:400;color:#4a4a4a}.datepicker--cell-year.-range-to-.-in-range-.-selected-:hover{background:#f0f0f0}.datepicker--cell-year.-range-to-.-in-range-.-selected-::before{background:transparent}.datepicker--nav-action:first-child::before{content:"arrow_back";font-weight:400;font-size:24px;line-height:23.91px;font-family:"Material Icons";color:#bc9cff}.datepicker--nav-action:last-child::before{content:"arrow_forward";padding-left:10px;font-weight:400;font-size:24px;line-height:23.91px;font-family:"Material Icons";color:#bc9cff}
.button{display:block;position:relative;min-height:44px;min-width:80px;max-width:350px;padding-top:16px;padding-bottom:16px;cursor:pointer;font-weight:700;font-size:12px;font-family:Montserrat, Arial, sans-serif;text-align:center;text-decoration:none;color:#fff;text-transform:uppercase;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);border-radius:22px}.button:hover,.button_translucent{opacity:.5}.button_theme_light{padding-top:14px;padding-bottom:14px;color:#bc9cff;border:solid 2px transparent;background-image:linear-gradient(#fff, #fff),linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);background-origin:border-box;background-clip:padding-box, border-box}.button_theme_text{min-height:0;padding:0;color:#bc9cff;background:transparent;border:0;outline:none}.button_theme_text:hover{color:rgba(31,32,65,0.5);opacity:1}.button_theme_with-arrow{padding-right:40px;padding-left:38px;width:100%;padding-top:0;padding-bottom:0;border:0}.button_theme_with-arrow::after{content:" arrow_forward";position:absolute;top:50%;transform:translate(0, -50%);right:10px;font-weight:400;font-size:24px;font-family:"Material Icons";color:#fff;text-transform:none;word-break:normal}.button_theme_light.button_size_small{width:100%;min-height:34px;padding-top:9px;padding-bottom:9px;padding-left:17px;padding-right:18px}.button_color_gray{color:rgba(31,32,65,0.5)}.button_size_small{width:100%;min-height:34px;padding-top:10px;padding-bottom:10px;padding-right:20px;padding-left:19px}.button_size_big{word-break:break-all}
.search-form{padding-top:40px;padding-bottom:30px;padding-left:30px;padding-right:30px;background-color:#fff;border-radius:4px;flex:0 0 380px;max-width:380px;box-shadow:0 0 25px rgba(0,0,0,0.2)}@media (max-width: 1440px){.search-form{padding-left:30px;padding-right:30px}}@media (max-width: 385px){.search-form{padding-left:7.79221%;padding-left:7.79221%}}.search-form__title{display:block;margin-bottom:17px;font-weight:700;font-size:24px;line-height:1.25em;font-family:"Open Sans", Arial, sans-serif;color:#1f2041}.search-form__dates-selector{margin-bottom:18px}.search-form__button{display:block;text-decoration:none;margin-top:30px}
.radio__input{display:none}.radio__label{position:relative;display:inline-block;padding-left:29px}.radio__inner{position:absolute;cursor:pointer;top:0;left:0;width:20px;height:20px;background-color:#fff;border:1px solid rgba(31,32,65,0.25);border-radius:10px}.radio__input:checked+.radio__inner{cursor:default;top:1px;left:1px;width:18px;height:18px;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);border:3px solid #fff;box-shadow:0 0 0 1px #bc9cff}.radio__text{font-weight:400;font-size:14px;line-height:1.6em;font-family:Montserrat, Arial, sans-serif;cursor:pointer;margin-right:17px;color:rgba(31,32,65,0.5)}.radio__input:checked ~ .radio__text{cursor:default;color:rgba(31,32,65,0.75)}
.toggle__input{display:none}.toggle__label{position:relative}.toggle__inner{position:absolute;top:0;left:0;width:40px;height:20px;background-color:#fff;border:1px solid rgba(31,32,65,0.25);border-radius:10px}.toggle__inner-circle{position:absolute;top:3px;left:4px;width:12px;height:12px;background-color:rgba(31,32,65,0.25);border-radius:6px}.toggle__input:checked+.toggle__inner{border:1px solid #bc9cff}.toggle__input:checked+.toggle__inner .toggle__inner-circle{left:22px;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%)}.toggle__text{font-weight:400;font-size:14px;line-height:1.6em;font-family:Montserrat, Arial, sans-serif;color:rgba(31,32,65,0.75);cursor:pointer;margin-bottom:10px;padding-left:50px}
.registration-form{padding-top:40px;padding-bottom:30px}.registration-form__title{font-weight:700;font-size:24px;line-height:1.25em;font-family:"Open Sans", Arial, sans-serif;color:#1f2041;margin-bottom:20px}@media (max-width: 350px){.registration-form__title .registration-form__title{word-break:break-all}}.registration-form__radio{margin-bottom:17px}.registration-form__input:nth-child(1){margin-bottom:10px}.registration-form__input:nth-child(2){margin-bottom:10px}.registration-form__input:nth-child(4){margin-bottom:17px}.registration-form__input:nth-child(5){margin-bottom:10px}.registration-form__input:nth-child(6){margin-bottom:10px}.registration-form__toggle{margin-bottom:22px}.registration-form__button{margin-bottom:15px;word-break:break-all}.registration-form__footer{display:flex;flex-wrap:nowrap}.registration-form__footer-left{flex:auto;padding-top:29px}.registration-form__footer-text{color:#000}.registration-form__footer-right{flex:0 0 30.9375%}.registration-form__button{display:block}
.login-form{padding-top:40px;padding-bottom:30px}.login-form__header{font-weight:700;font-size:24px;line-height:1.25em;font-family:"Open Sans", Arial, sans-serif;color:#1f2041;margin-bottom:21px}@media (max-width: 350px){.login-form__header{word-break:break-all}}.login-form__input:nth-child(1){margin-bottom:10px}.login-form__input:nth-child(2){margin-bottom:18px}.login-form__button{margin-bottom:30px;word-break:break-all}.login-form__footer{display:flex;flex-wrap:nowrap}.login-form__footer-left{flex:auto;padding-top:14px}.login-form__footer-text{color:#000}.login-form__footer-right{flex:0 0 30.9375%}.login-form__button{display:block;min-width:98.5px}.login-form__footer-button{margin-bottom:1px}
.reservation-form{padding-top:40px;padding-bottom:30px}.reservation-form__title-left{display:inline-block;width:60%;padding-left:2px}.reservation-form__title-text{font-weight:700;font-size:24px;line-height:1.25em;font-family:"Open Sans", Arial, sans-serif;color:#1f2041}.reservation-form__title-right{display:inline-block;width:38%;text-align:right}.reservation-form__title{margin-bottom:12px}.reservation-form__title_number{font-weight:700;font-size:16px;font-family:Montserrat, Arial, sans-serif}.reservation-form__title_category{font-weight:700;font-size:12px;font-family:Montserrat, Arial, sans-serif;color:#bc9cff;text-transform:uppercase}.reservation-form__title_price{font-weight:400;font-size:14px;line-height:1.6em;font-family:Montserrat, Arial, sans-serif;color:rgba(31,32,65,0.75);font-weight:700;letter-spacing:-.2px}.reservation-form__title_price-text{font-weight:400;font-size:12px}.reservation-form__dates-selector{margin-bottom:16px}.reservation-form__text{display:block;font-weight:400;font-size:14px;font-family:Montserrat, Arial, sans-serif;color:rgba(31,32,65,0.75);clear:both;margin-bottom:15px;line-height:1.3em}.reservation-form__text_left{display:inline-block;width:68.75%}.reservation-form__text_right{float:right;width:23.4375%;text-align:right}.reservation-form__text:nth-child(3){margin-top:20px}.reservation-form__i{display:inline-block;width:20px;height:20px;vertical-align:top;text-align:center;color:rgba(31,32,65,0.25);font-weight:700;font-size:12px;border:1px solid rgba(31,32,65,0.25);border-radius:10px}.reservation-form__price{display:flex;flex-wrap:wrap;clear:both;margin-bottom:21px;padding-top:16px}.reservation-form__price-text{font-weight:700;font-size:19px;font-family:"Open Sans", Arial, sans-serif;color:#1f2041;flex-grow:0;margin-right:5px}.reservation-form__price-space{flex-grow:1;height:18px;border-bottom:1px dotted rgba(31,32,65,0.25)}.reservation-form__price-value{font-weight:700;font-size:19px;line-height:1.2em;font-family:Quicksand, Arial, sans-serif;color:#1f2041;flex-grow:0;margin-left:5px}.reservation-form__button{clear:both}
.rate{display:inline-block;margin-right:16px}.rate__n,.rate__active,.rate__number{display:none}.rate__star{display:inline-block;font-weight:400;font-size:24px;line-height:23.91px;font-family:"Material Icons";color:#bc9cff;cursor:default}
.room-card{height:257.5px;max-width:270px;display:inline-block;border-radius:4px;background:#fff}.room-card__slider{height:152px;margin-bottom:21px;overflow:hidden;border-radius:4px 4px 0 0}.room-card__slide-wrapper{position:relative;width:270px;margin:0 auto}.room-card__slide{display:none}.room-card__slide-active{position:absolute;top:0;left:0;display:block}.room-card__slide-left{position:absolute;top:0;left:-270px;display:block;opacity:.4}.room-card__slide-right{position:absolute;top:0;left:270px;display:block;opacity:.4}.room-card__shadow{position:absolute;width:40px;height:152px}.room-card__shadow_left{top:0;left:0}.room-card__shadow_right{top:0;right:0}.room-card__arrow{position:absolute;width:45px;height:45px;padding-left:9.5px;padding-right:9.5px;font-weight:400;font-size:24px;font-family:"Material Icons";cursor:pointer;color:transparent}.room-card__slider:hover .room-card__arrow{color:#fff}.room-card__slider:hover .room-card__shadow_left{background-image:linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%, rgba(255,255,255,0) 100%)}.room-card__slider:hover .room-card__shadow_right{background-image:linear-gradient(-90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%, rgba(255,255,255,0) 100%)}.room-card__arrow_left{top:52.5px;left:0;padding-top:12px;transform:rotate(90deg)}.room-card__arrow_right{top:52.5px;right:0;padding-top:10px;transform:rotate(-90deg)}.room-card__controls{position:absolute;top:121px;right:16px}.room-card__control{display:inline-block;width:7.5px;height:7.5px;margin-right:0;border:1px solid #fff;border-radius:3.75px;cursor:pointer}.room-card__control_active{background:#fff}.room-card__text{padding-right:6.3%;padding-left:7.40741%}.room-card__link{color:#000}.room-card__number-wrapper{float:left}.room-card__number{display:inline;font-weight:700;font-size:14px;font-family:Montserrat, Arial, sans-serif}.room-card__header{font-weight:700;font-size:19px;line-height:1.2em;font-family:Quicksand, Arial, sans-serif;color:#1f2041;display:inline;margin-right:5px}.room-card__lux{display:inline;font-weight:700;font-size:12px;font-family:Montserrat, Arial, sans-serif;color:#bc9cff;text-transform:uppercase}.room-card__price{display:block;padding-top:3px;padding-bottom:10px;font-weight:700;font-size:14px;line-height:18px;font-family:Montserrat, Arial, sans-serif;text-align:right;color:rgba(31,32,65,0.5);border-bottom:1px solid rgba(31,32,65,0.1)}.room-card__price-text{margin-left:5px;font-weight:400;font-size:12px}.room-card__rate{clear:both;padding-top:10px}.room-card__rate::after{content:"";clear:both}.room-card__rate-inner{float:left}.room-card__reviews{display:block;padding-top:3px;font-weight:700;font-size:14px;line-height:18px;font-family:Montserrat, Arial, sans-serif;text-align:right;color:rgba(31,32,65,0.5)}.room-card__reviews-text{margin-left:5px;font-weight:400}
.cards{background:#f4f4f6}.cards__container{width:83.33333%;margin:0 auto;padding-top:10px;display:flex;flex-wrap:wrap}@media (max-width: 1440px){.cards__container{width:1200px}}@media (max-width: 1200px){.cards__container{width:100%}}.cards__column{flex:0 0 35%}@media (max-width: 1200px){.cards__column{flex:1 0 320px}}@media (max-width: 420px){.cards__column{display:block;width:100%}}.cards__column_right{flex:0 0 30%}@media (max-width: 1200px){.cards__column_right{flex:1 0 320px}}@media (max-width: 420px){.cards__column_right{display:block;width:100%}}.cards__card-wrapper{width:90.47619%;max-width:380px;padding-left:7.14286%;padding-right:7.14286%;margin:0 auto;background-color:#fff;border-radius:4px;box-shadow:0 0 25px rgba(0,0,0,0.2)}@media (max-width: 1200px){.cards__card-wrapper{min-width:310px}}@media (max-width: 380px){.cards__card-wrapper{overflow-x:hidden}}.cards__card-wrapper_block_search{margin-bottom:40px;padding-left:0;padding-right:0;background:transparent;box-shadow:none}.cards__card-wrapper_block_registration{margin-bottom:140px}@media (max-width: 1200px){.cards__card-wrapper_block_registration{margin-bottom:40px}}.cards__card-wrapper_block_reservation{margin-bottom:39px}.cards__card-wrapper_block_login,.cards__card-wrapper_block_datepicker{margin-bottom:39px}.cards__card-wrapper_block_card{margin-bottom:40px;background:transparent;box-shadow:none;padding-left:.7%;padding-right:14.6%}.cards__card{box-shadow:0 0 25px rgba(0,0,0,0.2);border-right:4px;width:270px}.cards__card-wrapper_block_datepicker{max-width:360px;padding:0}@media (min-width: 1445px){.cards__card-wrapper_block_datepicker{margin-left:20px;margin-right:auto}}@media (max-width: 959px){.cards__card-wrapper_block_datepicker{max-width:400px}}.cards__card-wrapper_block_datepicker .datepicker-block{border-color:transparent}.cards__card-wrapper_block_datepicker .datepicker--cell-day{height:40px}@media (max-width: 959px){.cards__card-wrapper_block_datepicker .datepicker--cell-day{height:50px}}@media (max-width: 420px){.cards__card-wrapper_block_datepicker .datepicker--cell-day{height:45px}}@media (max-width: 385px){.cards__card-wrapper_block_datepicker .datepicker--cell-day{height:40px}}@media (max-width: 360px){.cards__card-wrapper_block_datepicker .datepicker--cell-day{height:38px}}.cards__card-wrapper_block_datepicker .datepicker--cell-day.-current-,.cards__card-wrapper_block_datepicker .datepicker--cell-day.-range-from-,.cards__card-wrapper_block_datepicker .datepicker--cell-day.-range-to-,.cards__card-wrapper_block_datepicker .datepicker--cell-day.-range-from-.-selected-,.cards__card-wrapper_block_datepicker .datepicker--cell-day.-range-to-.-selected-{border-radius:50%}
