extends ../../base.pug
block description
  meta(name='description', content="Colors & Type")
block title
  | Colors & Type
block main
  include ../../components/ui-kit/ui-kit.pug
  +ui-kit
  .colors-types
    .colors-types__grid-row
      .colors-types__column.colors-types__column_1
        section.colors-types__colors
          mixin color(i, color, text)
            .colors-types__color-block-wrapper
              div(class="colors-types__color-block colors-types__color-block_"+i)
              .colors-types__color-block-text
                h2.colors-types__color-block-header= color
                p.colors-types__color-block-number= text
          +color(1, "Dark Shade 100%","#1F2041")
          +color(2, "Dark Shade 75%","#1F2041")
          +color(3, "Dark Shade 50%","#1F2041")
          +color(4, "Dark Shade 25%","#1F2041")
          +color(5, "Dark Shade 5%","#1F2041")
          +color(6, "Purple","#BC9CFF")
          +color(7, "Green","#6FCF97")
      .colors-types__column.colors-types__column_2
        section.colors-types__types
          .colors-types__types-block-wrapper
            .colors-types__left-part
              .colors-types__type.colors-types__type_1 H1
            .colors-types__right-part
              h1.colors-types__types-block-h1 This one is the sub-section or widget title
          .colors-types__types-block-wrapper
            .colors-types__left-part
              .colors-types__type.colors-types__type_2 H2
            .colors-types__right-part
              h2.colors-types__types-block-h2 Next one is the item title inside widgets
          .colors-types__types-block-wrapper
            .colors-types__left-part
              .colors-types__type.colors-types__type_3 H3
            .colors-types__right-part
              h3.colors-types__types-block-h3 This is a label or CTA text
          .colors-types__types-block-wrapper
            .colors-types__left-part.colors-types__left-part_4
              .colors-types__type.colors-types__type_4 Body
            .colors-types__right-part.colors-types__right-part_4
              p.colors-types__types-block-p This is the body text which is used for most of the design, like paragraphs, lists, etc.