extends ../../base.pug
block description
  meta(name='description', content="Colors & Type")
block title
  | Colors & Type
block main
  include ../../components/ui-kit/ui-kit.pug
  +ui-kit
  .colors-types
    .colors-types__container
      .colors-types__column
        section.colors-types__colors
          mixin color(i, color, text)
            .colors-types__color-block-wrapper
              div(class="colors-types__color-block colors-types__color-block_"+i)
              .colors-types__color-block-text
                h2.colors-types__color-block-header= color
                p.colors-types__color-block-number= text
          +color("color_dark100", "Dark Shade 100%","#1F2041")
          +color("color_dark75", "Dark Shade 75%","#1F2041")
          +color("color_dark50", "Dark Shade 50%","#1F2041")
          +color("color_dark25", "Dark Shade 25%","#1F2041")
          +color("color_dark5", "Dark Shade 5%","#1F2041")
          +color("color_purple", "Purple","#BC9CFF")
          +color("color_green", "Green","#6FCF97")
      .colors-types__column
        section.colors-types__types
          .colors-types__types-block
            .colors-types__left-part
              .colors-types__type.colors-types__type_h1 H1
            .colors-types__right-part
              h1.colors-types__types-block-h1 This one is the sub-section or widget title
          .colors-types__types-block
            .colors-types__left-part
              .colors-types__type.colors-types__type_h2 H2
            .colors-types__right-part
              h2.colors-types__types-block-h2 Next one is the item title inside widgets
          .colors-types__types-block
            .colors-types__left-part
              .colors-types__type.colors-types__type_h3 H3
            .colors-types__right-part
              h3.colors-types__types-block-h3 This is a label or CTA text
          .colors-types__types-block
            .colors-types__left-part.colors-types__left-part_body
              .colors-types__type.colors-types__type_body Body
            .colors-types__right-part.colors-types__right-part_body
              p.colors-types__types-block-p This is the body text which is used for most of the design, like paragraphs, lists, etc.