@import "../../variables.scss";

.colors-types {
  width: 100%;
  max-width: 1200%*100/1440;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px;

  @media (max-width: 1440px) {
    max-width: $page-container;
  }

  @media (max-width: $page-container) {
    max-width: 100%;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    min-height: 760px;
    padding-top: 4px;

    @media (max-width: $page-inner-min) {
      display: block;
      max-width: 100vw;
      margin: 0 auto;
    }

    @media (max-width: $page-min) {
      max-width: $page-min;
    }
  }

  &__column {
    position: relative;
    margin-bottom: 30px;
    padding-right: 20%*100/1200;
    padding-left: 20%*100/1200;

    &:first-child {
      flex: 1 0 700%*100/1200;

      @media (max-width: $page-container) {
        flex: 1 0 auto;
      }

      @media (max-width: $page-inner-min) {
        display: block;
        flex: none;
      }
    }

    &:last-child {
      flex: 0 0 500%*100/1200;

      @media (max-width: $page-container) {
        flex: 0 0 auto;
      }

      @media (max-width: 450px) {
        display: block;
        flex: none;
        width: 95%;
      }
    }
  }

  &__colors {
    width: 270px;
    margin-left: 10px;
  }

  &__types {
    min-width: 280px;
    max-width: 415px;
    margin-left: 6px;
  }

  &__color-block-wrapper {
    margin-bottom: 18.5px;
  }

  &__color-block {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 36px;
    background-color: $black;
    border-radius: 6px;

    &_color {

      &_dark75 {
        background-color: $black-75;
      }

      &_dark50 {
        background-color: $black-50;
      }

      &_dark25 {
        background-color: $black-25;
      }

      &_dark5 {
        background-color: $black-5;
      }

      &_purple {
        background-color: $purple;
      }

      &_green {
        background-color: $green;
      }
    }
  }


  &__color-block-text {
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
  }

  &__color-block-header {
    font-weight: 700;
    font-size: 19px;
    line-height: 1.2em;
    font-family: Quicksand, Arial, sans-serif;
    color: $black;
    margin-bottom: 4px;
  }

  &__color-block-number {
    line-height: 1.6em;
    font-weight: 400;
    font-size: 19px;
    font-family: Quicksand, Arial, sans-serif;
    color: $black;
  }

  &__types-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }

  &__left-part {
    flex: 0 0 60px;
    padding-top: 5px;
    padding-left: 10px;

    &_body {
      padding-top: 0;
      padding-left: 0;
    }
  }

  &__right-part {
    flex: 1 0 200px;
    padding-top: 2px;
    padding-left: 7px;

    &_body {
      max-width: 320px;
      padding-top: 0;
    }
  }

  &__type {
    font-weight: 400;
    font-family: Montserrat, Arial, sans-serif;
    color: $black-25;

    &_h1 {
      font-size: 24px;
      text-transform: uppercase;
    }

    &_h2 {
      font-size: 19px;
      text-transform: uppercase;
    }

    &_h3 {
      margin-left: 11px;
      font-size: 12px;
      text-transform: uppercase;
    }

    &_body {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__types-block-h1 {
    font-weight: 700;
    font-size: 24px;
    font-family: Quicksand, Arial, sans-serif;
    color: #1f2041;
    line-height: 1.25em;
  }

  &__types-block-h2 {
    font-weight: 700;
    font-size: 19px;
    font-family: Quicksand, Arial, sans-serif;
    color: $black;
    line-height: 1.3em;
  }

  &__types-block-h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2em;
    font-family: Montserrat, Arial, sans-serif;
    color: $black;
    text-transform: uppercase;
  }

  &__types-block-p {
    font-weight: 400;
    font-size: 14px;
    font-family: Montserrat, Arial, sans-serif;
    color: $black-75;
    line-height: 1.7em;
  }
}