@import '../../variables.scss';
.colors-types {
  width: 100%;
  max-width: 1200%*100/1440;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px;
  @media (max-width: 1440px) {
    max-width: $page-container;
  }
  @media (max-width: $page-container) {
    max-width: 100%;
  }
}
.colors-types__container {
  display: flex;
  flex-wrap: wrap;
  min-height: 760px;
  padding-top: 4px;
  @media (max-width: $page-inner-min) {
    display: block;
    max-width: 100vw;
    margin: 0 auto;
  }
  @media (max-width: $page-min) {
    max-width: $page-min;
  }
}
.colors-types__column {
  position: relative;
  margin-bottom: 30px;
  padding-right: 20%*100/1200;
  padding-left: 20%*100/1200;
}
.colors-types__column:first-child {
  flex: 1 0 700%*100/1200;
  @media (max-width: $page-container) {
    flex: 1 0 auto;
  }
  @media (max-width: $page-inner-min) {
    display: block;
    flex: none;
  }
}
.colors-types__column:last-child {
  flex: 0 0 500%*100/1200;
  @media (max-width: $page-container) {
    flex: 0 0 auto;
  }
  @media (max-width: 450px) {
    display: block;
    flex: none;
    width: 95%;
  }
}
.colors-types__colors {
  width: 270px;
  margin-left: 10px;
}
.colors-types__types {
  min-width: 280px;
  max-width: 415px;
  margin-left: 6px;
}
.colors-types__color-block-wrapper {
  margin-bottom: 18.5px;
}
.colors-types__color-block {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-right: 36px;
  // margin-bottom: 18.5px;
  background-color: $black;
  border-radius: 6px;
  &_color_dark75 {
    background-color: $black-75;
  }
  &_color_dark50 {
    background-color: $black-50;
  }
  &_color_dark25 {
    background-color: $black-25;
  }
  &_color_dark5 {
    background-color: $black-5;
  }
  &_color_purple {
    background-color: $purple;
  }
  &_color_green {
    background-color: $green;
  }
}
.colors-types__color-block-text {
  display: inline-block;
  padding-top: 10px;
  vertical-align: top;
}
.colors-types__color-block-header {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.2em;
  font-family: Quicksand, Arial, sans-serif;
  color: $black;
  margin-bottom: 4px;
}
.colors-types__color-block-number {
  line-height: 1.6em;
  font-weight: 400;
  font-size: 19px;
  font-family: Quicksand, Arial, sans-serif;
  color: $black;
}
.colors-types__types-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
.colors-types__left-part {
  flex: 0 0 60px;
  padding-top: 5px;
  padding-left: 10px;
  &_body {
    padding-top: 0;
    padding-left: 0;
  }
}
.colors-types__right-part {
  flex: 1 0 200px;
  // margin-bottom: 48px;
  padding-top: 2px;
  padding-left: 7px;
  &_body {
    max-width: 320px;
    padding-top: 0;
  }
}
.colors-types__type {
  font-weight: 400;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-25;
}
.colors-types__type_h1 {
  font-size: 24px;
  text-transform: uppercase;
}
.colors-types__type_h2 {
  font-size: 19px;
  text-transform: uppercase;
}
.colors-types__type_h3 {
  margin-left: 11px;
  font-size: 12px;
  text-transform: uppercase;
}
.colors-types__type_body {
  font-size: 14px;
  line-height: 24px;
}
.colors-types__types-block-h1{
  font-weight: 700;
  font-size: 24px;
  font-family: Quicksand, Arial, sans-serif;
  color: #1f2041;
  line-height: 1.25em;
}
.colors-types__types-block-h2 {
  font-weight: 700;
  font-size: 19px;
  font-family: Quicksand, Arial, sans-serif;
  color: $black;
  line-height: 1.3em;
}
.colors-types__types-block-h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2em;
  font-family: Montserrat, Arial, sans-serif;
  color: $black;
  text-transform: uppercase;
}
.colors-types__types-block-p {
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
  line-height: 1.7em;
}