extends ../../base.pug
block description
	meta(name='description', content="Отель «Toxin» - номер 888 люкс. 9 990₽ в сутки. Шумопоглощающие стены, окно в каждой из спален, оснащён камином.")
block title
	|  Отель "Toxin" - номер 888
block main
	include ../../components/page-header/page-header.pug
	include ../../components/page-footer/page-footer.pug
	include ../../components/room/room.pug
	+page-header(-1)
	main.room-details
		figure.room-details__img-wrapper
			.room-details__img-col-1
				img(src="img/room1.jpg" width="100%" class="room-details__image-1")
			.room-details__img-col-2
				.room-details__img-2
					img(src="img/room2.jpg" width="100%" class="room-details__image-2")
				.room-details__img-3
					img(src="img/room3.jpg" width="100%" class="room-details__image-3")
		.room-details__wrapper
			section.room-details__container
				include ../../components/info/info.pug
				include ../../components/like/like.pug
				include ../../components/review/review.pug
				.room-details__col-1
					.room-details__content-row-1
						article.room-details__article-1
							h2.room-details__header.room-details__header-1 Сведения о номере
							.room-details__info-wrapper
								+info(
									'room-details__info-1',
									'insert_emoticon',
									'Комфорт',
									'Шумопоглощающие стены')
							.room-details__info-wrapper
								+info(
									'room-details__info-2',
									'location_city',
									'Удобство',
									'Окно в каждой из спален')
							.room-details__info-wrapper
								+info(
									'room-details__info-3',
									'whatshot',
									'Уют',
									'Номер оснащён камином')
						article.room-details__article-2
							h2.room-details__header.room-details__header-2 Впечатления от номера
							.room-details__chart-wrapper
								.room-details__chart
								.room-details__chart-2
								.room-details__chart-inner
									.room-details__chart-number 260
									.room-details__chart-text голосов
							.room-details__chart-comment
								.room-details__chart-item
									.room-details__chart-before.room-details__chart-before_1
									p.room-details__chart-text-item Великолепно
								.room-details__chart-item
									.room-details__chart-before.room-details__chart-before_2
									p.room-details__chart-text-item Хорошо
								.room-details__chart-item
									.room-details__chart-before.room-details__chart-before_3
									p.room-details__chart-text-item Удовлетворительно
								.room-details__chart-item
									.room-details__chart-before.room-details__chart-before_4
									p.room-details__chart-text-item Разочарован
					.room-details__content-row-2
						article.room-details__article-3
							h2.room-details__header.room-details__header-3 Отзывы посетителей номера
								span.room-details__header-3-span 2 отзыва
							.room-details__review-wrapper
								+review(
									'room-details__revew-1',
									'img/murad.jpg',
									'12',
									'Мурад Сарафанов',
									'5 дней назад',
									'Великолепный матрас на кровати в основной спальне! А пуфик вообще 	потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
							.room-details__review-wrapper
								+review(
									'room-details__revew-2',
									'img/Patricia.jpg',
									'2',
									'Патрисия Стёклышкова',
									'Неделю назад',
									'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент')
					.room-details__content-row-3
						article.room-details__article-4
							h2.room-details__header.room-details__header-4 Правила
							ul.room-details__ul
								li.room-details__bullet-item Нельзя с питомцами
								li.room-details__bullet-item Без вечеринок и мероприятий
								li.room-details__bullet-item Время прибытия — после 13:00, а выезд до 12:00
						.room-details__article-space-2
						article.room-details__article-5
							h2.room-details__header.room-details__header-5 Отмена
							p.room-details__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
				.room-details__col-2
					.room-details__form
						.room-details__form-inner
							+room
	+page-footer