@import '../../variables.scss';

.room-details {
  flex: 1 0 auto;
}
.room-details__img-section {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  @media (max-width: 1440px) {
    width: 100%;
  }
  @media (max-width: 640px) {
    flex-wrap: wrap;
  }
  @media (max-width: 320px) {
    width: 100%;
  }
}
.room-details__img-wrapper-1 {
  flex: 0 0 981%*100/1440;
  @media (max-width: 640px) {
    flex: 0 0 100%;
  }
}
.room-details__img-wrapper-2 {
  display: flex;
  flex: 0 0 459%*100/1440;
  flex-wrap: wrap;
  @media (max-width: 640px) {
    flex: 0 0 100%;
    flex-wrap: nowrap;
  }
  @media (max-width: 450px) {
    flex-wrap: wrap;
  }
}
.room-details__img-2 {
  flex: 0 0 100%;
  height: 50%;
  background-size: cover;
  @media (max-width: 640px) {
    flex: 0 0 50%;
    margin-top: -1%;
  }
}
.room-details__img-3 {
  flex: 0 0 100%;
  height: 50%;
  margin-top: -2.79897%;
  background-size: cover;
  @media (max-width: 640px) {
    flex: 0 0 50%;
    margin-top: -1%;
  }
}
.room-details__wrapper {
  padding-bottom: 43px;
  border-bottom: 1px solid $black-10;
  @media (max-width: $page-container) {
    width: 100%;
  }
}
.room-details__container {
  display: flex;
  flex-wrap: nowrap;
  width: $page-container;
  margin: 0 auto;
  // border: 1px solid red;
  padding-top: 60px;
  @media (max-width: 1440px) {
    width: $page-container;
  }
  @media (max-width: 1250px) {
    width: 100%;
  }
  @media (max-width: 830px) {
    flex-wrap: wrap;
  }
  @media (max-width: 420px) {
    width: 100%;
  }
}
.room-details__column-1 {
  flex: 0 0 752%*100/1200;
  padding-right: 20%*100/1200;
  padding-left: 20%*100/1200;
  margin-right: 28%*100/1200;
  padding-top: 3px;
  // border: 1px solid blue;
  @media (max-width: $page-container) {
    flex: 0 1 752%*100/1200;
  }
  @media (max-width: 830px) {
    flex: 0 0 100%;
    margin-right: 0;
  }
  @media (max-width: 420px) {
    flex: 0 1 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}
.room-details__column-2 {
  flex: 0 0 420%*100/1200;
  padding-right: 20%*100/1200;
  padding-left: 20%*100/1200;
  max-width: 420px;
  // border: 1px solid blue;
  @media (max-width: $page-container) {
    flex: 0 0 415px;
  }
  @media (max-width: 830px) {
    flex: 0 0 100%;
  }
  @media (max-width: 420px) {
    flex: none;
    width: 100%;
  }
  .room {
    padding-top: 37px;
  }
}
.room-details__content-row-1 {
  display: flex;
  flex-wrap: nowrap;
  @media (max-width: 1080px) {
    flex-wrap: wrap;
  }
}
.room-details__article-1 {
  flex: 0 0 40%;
  // border: 1px solid green;
  margin-right: 10.8%;
  @media (max-width: 1080px) {
    flex: 0 0 100%;
    margin-right: 0;
  }
}
.room-details__header {
  font-weight: 700;
  font-size: 19px;
  font-family: 'Open Sans', Arial, sans-serif;
  color: $black;
}
.room-details__header_1 {
  margin-bottom: 21px;
}
.room-details__info-wrapper {
  margin-bottom: 20px;
  border-bottom: 1px solid $black-10;
  &:last-child {
    border-bottom: none;
    margin-bottom: 17px;
  }
}
.room-details__article-2 {
  flex: 0 0 45%;
  // border: 1px solid green;
  margin-bottom: 30px;
  @media (max-width: 1080px) {
    flex: 0 0 100%;
  }
}
.room-details__header_2 {
  margin-bottom: 22px;
}
.room-details__chart-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 24px;
}
.room-details__chart {
  // border: 1px solid red;
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 60px;
}
.room-details__chart-text-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6em;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
}
.room-details__chart-white-mask {
  // border: 1px solid red;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 112px;
  height: 112px;
  overflow: hidden;
  border-radius: 56px;
}
.room-details__chart-inner {
  // border: 1px solid red;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  padding-top: 27px;
  overflow: hidden;
  text-align: center;
  background: $white;
  border-radius: 50px;
}
.room-details__sector {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  transform-origin: left bottom;
}
.room-details__chart-number {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 24px;
  font-family: Quicksand, Arial, sans-serif;
  color: $purple;
}
.room-details__chart-text {
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  color: $purple;
  text-transform: uppercase;
}
.room-details__chart-comment {
  display: inline-block;
  width: 165px;
  padding-top: 27px;
  vertical-align: top;
}
.room-details__chart-item {
  margin-bottom: 2px;
}
.room-details__mark {
  display: inline-block;
  float: left;
  width: 10px;
  height: 10px;
  margin-top: 6px;
  margin-right: 6px;
  border-radius: 5px;
  &_1 {
    background: $orange;
  }
  &_2 {
    background: $gradient-green;
  }
  &_3 {
    background: $gradient-purple;
  }
  &_4 {
    background: $gradient-black;
  }
}
.room-details__content-row-2 {
  display: flex;
  flex-wrap: nowrap;
}
.room-details__article-3 {
  flex: 0 1 100%;
  // border: 1px solid green;
  margin-bottom: 10px;
}
.room-details__header_3 {
  margin-bottom: 21px;
}
.room-details__header-right-part {
  display: block;
  float: right;
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-50;
  @media (max-width: 850px) {
    float: none;
    text-align: left;
  }
  @media (max-width: 830px) {
    float: right;
    text-align: right;
  }
  @media (max-width: 400px) {
    float: none;
    text-align: left;
  }
}
.room-details__review-wrapper {
  margin-bottom: 25px;
}
.room-details__content-row-3 {
  display: flex;
  flex-wrap: nowrap;
  @media (max-width: 1080px) {
    flex-wrap: wrap;
  }
}
.room-details__article-4 {
  flex: 0 0 42%;
  // border: 1px solid green;
  margin-bottom: 20px;
  padding-right: 5%;
  @media (max-width: 1080px) {
    flex: 0 0 100%;
  }
}
.room-details__header_4 {
  margin-bottom: 18px;
  padding-left: 20px;
}
.room-details__article-space-2 {
  flex: 0 1 9%;
  @media (max-width: 1080px) {
    display: none;
  }
}
.room-details__article-5 {
  flex: 0 0 49.2%;
  // border: 1px solid green;
  margin-bottom: 50px;
  @media (max-width: 1080px) {
    flex: 0 0 100%;
  }
  @media (max-width: 420px) {
    flex: 0 1 315px;
  }
}
.room-details__header_5 {
  margin-bottom: 18px;
}
.room-details__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6em;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
  line-height: 1.75em;
  padding-right: 5px;
}
.room-details__form {
  padding-right: 30%*100/380;
  padding-left: 30%*100/380;
  border-radius: 4px;
  box-shadow: 0 0 25px $shadow;
}
.room-details__bullet-item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
}
.room-details__bullet-item::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  background-color: $black-25;
  border-radius: 5px;
}