@import '../../variables.scss';

.page_header__container {
  .header__container {
    padding-top: 15px;
  }
  .header__ul-wrap {
    padding-top: 13px;
    padding-right: 11px;
    @media (max-width: $mobile-menu-breakpoint) {
      padding-right: 0;
    }
  }
  .header__arrow {
    width: 20px;
    text-align: right;
  }
  .header__li {
    margin-right: 34px;
    &:nth-child(1) {
      margin-right: 18px;
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:nth-child(2) {
      margin-right: 41px;
      .header__li--incl a {
        min-width: 65px;
      }
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:nth-child(3) {
      margin-right: 17px;
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:nth-child(4) {
      margin-right: 17px;
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:last-child {
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
  .header__li--incl {
    margin-right: 0;
    @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    &:nth-child(1) {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:nth-child(2) {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:nth-child(3) {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:nth-child(4) {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:last-child {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .header__login-container {
    // padding-right: 1.87%;
    margin-bottom: 8px;
    flex: 0 1 303px;
    @media (max-width: $mobile-menu-breakpoint) {
      // flex: 0 0 100%;
      flex: none;
    }
  }
  .header__login-content {
    @media (max-width: 950px) {
      width: 303px;
      margin-right: 24px;
    }
    @media (max-width: $mobile-menu-breakpoint) {
      width: 100%;
      margin: 0 auto;
    }
  }
  .header__login-wrap {
    // flex: 1 0 auto;
  }
}