mixin pagination(first, second, text)
	.js-pagination
		#pagination-container
		p.pagination__text <span class="js-pagination__first">#{first}</span> – <span class="js-pagination__second">#{second}</span> #{text}
