mixin pagination(first, second, text)
	.pagination.js-pagination
		#pagination-container
		p.pagination__text <span class="pagination__first js-pagination__first">#{first}</span> – <span class="pagination__second js-pagination__second">#{second}</span> #{text}
