@import '../../variables.scss';
.search__container {
  padding-top: 40px;
  padding-bottom: 30px;
}
.search__h1 {
  margin-bottom: 17px;
}
.search__input-wrap {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 18px;
  .input__h3 {
    word-break: break-all;
  }
}
.search__input-1-wrap, .search__input-2-wrap {
  margin-top: auto;
  flex: 0 0 47.24%;
}
.search__input-space {
  flex: auto;
}
.search__input-1, .search__input-2 {
  text-transform: uppercase;
  letter-spacing: -0.4px;
}
.search__dropdown-container {
  margin-bottom: 30px;
}
.search__datepicker-wrap {
  position: relative;
}
.search__datepicker-container {
  position: absolute;
  top: -10px;
  z-index: 10;
  display: none;
  width: 100%;
  background: $white;
}
.search__btn {
  display: block;
}