include ../../components/input/input.pug
include ../../components/dropdown/dropdown.pug
article.search__container
	h1.page__h1.search__h1 Найдём номера под ваши пожелания
	form.search__form
		.search__input-wrap
			.search__input-1-wrap
				+input(
				'прибытие', 
				'date', 
				'arrival', 
				'search__input-1', 
				'', 
				'', 
				'', 
				'expand_more')
			.search__input-space
			.search__input-2-wrap
				+input(
				'выезд', 
				'date', 
				'departure', 
				'search__input-2', 
				'', 
				'', 
				'', 
				'expand_more')
		.search__datepicker-wrap
			.search__datepicker-container
				include ../../components/datepicker/datepicker.pug
		+dropdown(
		'peoples',
		'search__dropdown', 
		'гости', 
		'', 
		'взрослые', 
		'дети', 
		'младенцы',
		'1')
		a(href="search_room.html")
			span.btn.btn--arrow.search__btn подобрать номер