mixin datepicker(text1, text2)
	.js-datepicker-block
		.js-datepicker-block__content
		.datepicker-block__buttons-block
			.js-datepicker-block__set-btn
				button(type="button" class="btn btn_theme_text") #{text1}
			.js-datepicker-block__clear-btn
				button(type="button" class="btn btn_theme_text btn_color_gray") #{text2}
