mixin datepicker
	.datepicker-block
		.datepicker-block__content
		.datepicker-block__bottom
			button(type="button" class="datepicker-block__set-btn") применить
			button(type="button" class="datepicker-block__clear-btn") очистить
