mixin datepicker
	.datepicker-block
		.datepicker-block__content
		.datepicker-block__buttons-block
			.datepicker-block__set-btn
				button(type="button" class="btn btn_theme_text") применить
			.datepicker-block__clear-btn
				button(type="button" class="btn btn_theme_text btn_color_gray") очистить
