include ../../components/radio-item/radio-item.pug

mixin radio(data)
	-
		const {name, texts, checkedItemNumber = 0} = data
		const checked = [];
		checked[checkedItemNumber] = true;
	.radio
		each value, i in texts
			.radio__item
				+radio-item(name, value, checked[i])