mixin radio(data)
	-
		const {name, text} = data
	.radio.js-radio
		each value, i in text
			label.radio__label.js-radio__label
				if i === 0
					input(type="radio" name=name class="radio__input js-radio__input" checked)
				else
					input(type="radio" name=name class="radio__input js-radio__input")
				.radio__inner
				p.radio__text= value