@import '../../variables.scss';
.input {
  position: relative;
}
.input__name {
  display: block;
  float: left;
  margin-bottom: 5px;
  padding-top: 4px;
  word-break: break-all;
}
.input__text {
  line-height: 1.6em;
  display: block;
  font-weight: 400;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  vertical-align: top;
  text-align: right;
  color: $black-50;
  text-transform: uppercase;
}
.input__field {
  width: 100%;
  height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
  background-color: $white;
  border: 1px solid $black-25;
  border-radius: 4px;
  // text-transform: inherit;
  &::-webkit-input-placeholder {
    color: $black-75;
  }
  &::-moz-placeholder {
    color: $black-75;
  }
  &:-moz-placeholder {
    color: $black-75;
  }
  &:-ms-input-placeholder {
    color: $black-75;
  }
  &:hover, &_selected, &:focus {
    border: 1px solid $black-50;
    outline: none;
  }
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
  &::-webkit-clear-button {
    display: none;
  }
  &::-ms-clear {
    display: none;
  }
  &_theme_light {
    &::-webkit-input-placeholder {
      color: $black-25;
    }
    &::-moz-placeholder {
      color: $black-25;
    }
    &:-moz-placeholder {
      color: $black-25;
    }
    &:-ms-input-placeholder {
      color: $black-25;
    }
  }
  &_theme_uppercase {
    text-transform: uppercase;
    letter-spacing: -0.4px;
  }
  &_with-arrow {
    &::-webkit-input-placeholder {
      color: $black-25;
    }
    &::-moz-placeholder {
      color: $black-25;
    }
    &:-moz-placeholder {
      color: $black-25;
    }
    &:-ms-input-placeholder {
      color: $black-25;
    }
    &:hover, &_selected, &:focus {
      border: 1px solid $black-50;
      outline: none;
    }
    + .input__button{
      display: block;
      padding-top: 0;
      padding-left: 5px;
      background-repeat:no-repeat
    }
  }
  &_theme_without-hover {
    &:hover {
      border: 1px solid $black-25;
    }
  }
}
.input__button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 44px;
  height: 44px;
  padding-top: 3px;
  text-align: center;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Material Icons';
  color: $black-50;
  border: none;
  outline: none;
  &_color_purple {
    color: $purple;
  }
  &_cursor_default {
    cursor: default;
  }
}