include ../../components/title/title.pug

mixin input(data = {})
	-
		const {header, type = 'text', name, value, placeholder, text, icon, buttonColor, modifiers} = data;
		let className = 'input__field';
		if (modifiers) {
			modifiers.forEach((item) => {
				className = item === 'placeholderLight' ? className + ' input__field_placeholder_light' : className;
				className = item === 'textUppercase' ? className + ' input__field_uppercased' : className;
				className = item === 'focused' ? className + ' input__field_focused' : className;
				className = item === 'withArrow' ? className + ' input__field_with-arrow' : className;
				className = item === 'withoutHoverEffect' ? className + ' input__field_without-hover-effect' : className;
				className = item === 'masked' ? className + ' js-input__field_masked' : className;
			});
		}
	.input.js-input
		if header
			span.input__title
				+title(header)
		if text
			p.input__text= text
		input(type= type name= name class=className value= value placeholder= placeholder)
		if icon
			-
				let buttonClassName = 'input__button js-input__button';
				buttonClassName = buttonColor === 'primary' ? buttonClassName + ' input__button_colored' : buttonClassName;
			button(type="button" class= buttonClassName)= icon
