include ../../components/title/title.pug

mixin input(data = {})
	-
		const {header, type = 'text', name, value, placeholder, text, icon, buttonColor, modifiers} = data;
		let className = 'input__field';
		if (modifiers) {
			modifiers.forEach((item, i) => {
				className = item === 'themeLight' ? className + ' input__field_theme_light' : className;
				className = item === 'themeUpprecase' ? className + ' input__field_theme_uppercase' : className;
				className = item === 'focused' ? className + ' input__field_focused' : className;
				className = item === 'withArrow' ? className + ' input__field_with-arrow' : className;
				className = item === 'withoutHoverEffect' ? className + ' input__field_theme_without-hover-effect' : className;
				className = item === 'typeMasked' ? className + ' js-input__field_type_masked' : className;
			});
		}
	.input.js-input
		if header
			span.input__name
				+title(header)
		if text
			p.input__text= text
		input(type= type name= name class=className value= value placeholder= placeholder)
		if icon
			if buttonColor === 'purple'
				button(type="button" class="input__button js-input__button input__button_colored")= icon
			else
				button(type="button" class="input__button js-input__button")= icon
