include ../../components/title/title.pug

mixin input(data)
	-
		const {header, type, name, className, value, placeholder, text, icon, color} = data;
	.input.js-input
		if header
			span.input__name
				+title(header)
		if text
			p.input__text= text
		if value	
			if placeholder	
				input(type= type name= name class="input__field"+className value= value placeholder= placeholder)
			else 
				input(type= type name= name class="input__field"+className value= value)
		else
			input(type= type name= name class="input__field"+className placeholder= placeholder)
		if icon
			if color === 'purple'
				button(type="button" class="input__button js-input__button input__button_color_purple js-input__button_color_purple")= icon
			else
				button(type="button" class="input__button js-input__button")= icon