mixin input(h3, type, name, cl, val, plac, p, icon, color)
	.input
		if h3
			h3.input__header= h3
		if p
			p.input__text= p
		if value		
			input(type= type name= name class="input__field "+cl value= val placeholder= plac)
		else
			input(type= type name= name class="input__field "+cl placeholder= plac)
		if icon
			if color === 'purple'
				i.input__icon.input__icon_color_purple= icon
			else
				i.input__icon= icon