mixin review(data)
	-
		const {image, like, head, days, text} = data
	.review
		.review__column-left
			.review__image-wrapper
				img(src=image class="review__image")
			.review__like-wrapper
				+like(like)
		.review__column-right
			h4.review__header= head
			p.review__days= days
			p.review__text= text