@import "../../variables.scss";

@keyframes bg {

  0% {
    background-image: url("images/bg3.jpg");
  }

  33% {
    background-image: url("images/bg2.jpg");
  }

  66% {
    background-image: url("images/bg1.jpg");
  }

  100% {
    background-image: url("images/bg3.jpg");
  }
}

@keyframes text {

  0% {
    background: transparent;
  }

  33% {
    background: $grey;
  }

  66% {
    background: transparent;
  }

  100% {
    background: transparent;
  }
}

.landing {
  flex: 1 0 auto;
  position: relative;
  z-index: 0;
  width: 100%;
  background: transparent center bottom no-repeat;
  background-size: cover;
  animation-name: bg;
  animation-duration: 45s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  &__container {
    width: 100%;
    max-width: 1200%*100/1440;
    margin: 0 auto;
    padding-right: 11%*100/1440;
    padding-left: 20%*100/1440;
    min-height: 830px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 70px;

    @media (max-width: 1440px) {
      max-width: $page-container;
    }

    @media (max-width: $page-container) {
      max-width: 100%;
    }

    @media (max-width: $mobile-menu-breakpoint) {
      padding-top: 30px;
      min-height: 584px;
    }

    @media (max-width: 650px) {
      flex-direction: column;
      min-height: 498px;
    }
  }

  &__text {
    display: block;
    padding-left: 20px;
    padding-right: 0;
    margin-bottom: 24px;
    margin-top: auto;
    margin-right: 0;
    margin-left: auto;
    flex: 0 0 300px;
    max-width: 300px;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
    font-family: Montserrat, Arial, sans-serif;
    animation-name: text;
    animation-duration: 45s;
    animation-timing-function: steps(1, end);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    color: $black-75;
    padding-right: 3px;
    border-radius: 4px;

    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
      flex: 0 1 auto;
    }
  }
}