extends ../../base.pug
block description
	meta(name='description', content="Отель «Toxin» - лучший отель 2019 года по версии ассоциации «Отельные взгляды». Бронирование номеров, услуги, новости, служба поддержки.")
	meta(name='keywords', content="отель, toxin, гостиница, забронировать номер, поиск номера")
block title
	|  Отель «Toxin»
block main
	include ../../components/header/header.pug
	include ../../components/footer/footer.pug
	include ../../components/search-form/search-form.pug
	-
		const datepickerText = ['применить', 'очистить'];
		const searchFormData = {
			title: 'Найдём номера под ваши пожелания',
			dropdown1: {
				cl: ' js-dropdown_theme_date',
				name: 'arrival',
				header: 'прибытие'
			}, 
			dropdown2: {
				cl: ' js-dropdown_theme_date',
				name: 'departure',
				header: 'выезд'
			},
			dropdown3: {
				cl: 'peoples',
				name: 'guests',
				header: 'гости',
				p: '',
				item1: 'взрослые',
				item2: 'дети',
				item3: 'младенцы',
				clear: '1'
			}, 
			btnText: 'подобрать номер',
			datepickerText1: datepickerText[0],
			datepickerText2: datepickerText[1]
		}
		const landigText = 'Лучшие номера для вашей работы, отдыха и просто вдохновения';

	+header
	main.landing
		.landing__container
			+search-form(searchFormData)
			p.landing__text #{landigText}
	+footer