extends ../../base.pug
block description
	meta(name='description', content="Отель «Toxin» - лучший отель 2019 года по версии ассоциации «Отельные взгляды». Бронирование номеров, услуги, новости, служба поддержки.")
	meta(name='keywords', content="отель, toxin, гостиница, забронировать номер, поиск номера")
block title
	|  Отель «Toxin»
block main
	include ../../components/header/header.pug
	include ../../components/footer/footer.pug
	include ../../components/search-form/search-form.pug
	+header
	main.landing
		.landing__container
			//- .landing__form-wrapper
			+search-form
			p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения
	+footer