@import '../../variables.scss';
.btn {
  position: relative;
  min-height: 44px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  background: $gradient-purple;
  border-radius: 22px;
  &_submit {
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
  &:hover, &_hover {
    opacity: 0.5;
  }
  &__theme_light {
    position: relative;
    padding: 2px;
    color: $purple;
  }
  &__text {
    display: block;
    background: $white;
    padding-bottom: 14px;
    background-clip: padding-box;
    min-height: 40px;
    padding-top: 14px;
    border-radius: 20px;
  }
  &_icon-link {
    min-height: 15px;
    padding-top: 0;
    color: $purple;
    background: $white;
    &:hover, &-hover {
      color: $black-50;
      opacity: 1;
    }
  }
  &_witch-arrow {
    display: block;
    padding-right: 40px;
    padding-left: 38px;
  }
  &_arrow::after {
    content: ' arrow_forward';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
    display: inline;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Material Icons';
    color: $white;
    text-transform: none;
  }
  &__size_small {
    display: block;
    width: 100%;
    min-height: 34px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 20px;
    padding-left: 19px;
  }
}
.btn__theme_light.btn__size_small {
  display: block;
  width: 100%;
  min-height: 34px;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  .btn__text {
    padding-top: 9px;
    padding-left: 17px;
    padding-right: 18px;
    padding-bottom: 9px;
    min-height: 30px;
  }
}
.btn__theme_light.btn__size_big {
  .btn__text {
    padding-left: 10px;
    padding-right: 10px;
    word-break: break-all;
  }
}