@import '../../variables.scss';
.login-form {
  padding-top: 40px;
  padding-bottom: 30px;
}
.login-form__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25em;
  font-family: 'Open Sans', Arial, sans-serif;
  color: $black;
  margin-bottom: 20px;
  @media (max-width: 350px) {
    word-break: break-all;
  }
}
.login-form__input-wrapper:nth-child(1) {
  margin-bottom: 10px;
}
.login-form__input-wrapper:nth-child(2) {
  margin-bottom: 20px;
}
.login-form__btn {
  margin-bottom: 30px;
  word-break: break-all;
  .btn__witch-arrow::after {
    word-break: normal;
  }
}
.login-form__footer {
  display: flex;
  flex-wrap: nowrap;
}
.login-form__footer-left {
  flex: auto;
  padding-top: 14px;
}
.login-form__footer-text {
  color: $black-text;
}
.login-form__footer-right {
  flex: 0 0 99%*100/320;
}
.login-form__button {
  display: block;
  min-width: 98.5px;
}
