include ../../components/input/input.pug
mixin login-form
	article.login-form
		h1.login-form__header Войти
		form.login-form__form
			.login-form__input-wrapper.login-form__input-wrapper_1
				+input(
					'', 
					'email', 
					'email', 
					'', 
					'', 
					'Email', 
					'')
			.login-form__input-wrapper.login-form__input-wrapper_2
				+input(
					'', 
					'text', 
					'password', 
					'', 
					'', 
					'Пароль', 
					'')
			.login-form__btn
				button.btn.btn_arrow.btn_submit войти
		.login-form__footer
			.login-form__footer-1
				p.login-form__footer-text Нет аккаунта на Toxin?
			.login-form__footer-2
				a(href="registration.html" class="login-form__link")
					.login-form__btn-2 
						.btn.btn_frame
							span.btn__inner-block.btn_size_big-frame создать
