@import "../../variables.scss";

.login-form {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

  &__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25em;
    font-family: "Open Sans", Arial, sans-serif;
    color: $black;
    margin-bottom: 21px;

    @media (max-width: 350px) {
      word-break: break-all;
    }
  }

  &__input {

    &:nth-child(1) {
      margin-bottom: 10px;
    }

    &:nth-child(2) {
      margin-bottom: 18px;
    }
  }

  &__button {
    margin-bottom: 30px;
    word-break: break-all;
  }

  &__footer {
    display: flex;
    flex-wrap: nowrap;
  }

  &__footer-left {
    flex: auto;
    padding-top: 14px;
  }

  &__footer-text {
    color: $black-text;
  }

  &__footer-right {
    flex: 0 0 99%*100/320;
  }

  &__button {
    display: block;
    min-width: 98.5px;
  }

  &__footer-button {
    margin-bottom: 1px;
  }
}
