include ../../components/input/input.pug
mixin login-form
	article.login-form
		h1.login-form__header Войти
		form.login-form__form
			.login-form__input-wrapper
				+input(
					'', 
					'email', 
					'email', 
					' input__field_theme_light', 
					'', 
					'Email', 
					'')
			.login-form__input-wrapper
				+input(
					'', 
					'text', 
					'password', 
					' input__field_theme_light', 
					'', 
					'Пароль', 
					'')
			.login-form__btn
				button(type="submit" class="btn btn__witch-arrow btn_submit") войти
		.login-form__footer
			.login-form__footer-left
				p.login-form__footer-text Нет аккаунта на Toxin?
			.login-form__footer-right
				.login-form__button
					a(href="registration.html" class="btn btn__theme_light btn__size_big")
						span.btn__text создать
