include ../../components/input/input.pug
include ../../components/btn/btn.pug
mixin login-form(data)
	-
		const {title, input1, input2, btnText, footerText, btnText2} = data;
	article.login-form
		h1.login-form__header #{title}
		form.login-form__form
			.login-form__input-wrapper
				+input(input1)
			.login-form__input-wrapper
				+input(input2)
			.login-form__btn
				+btn(btnText, 'submit', 'theme_arrow')
		.login-form__footer
			.login-form__footer-left
				p.login-form__footer-text #{footerText}
			.login-form__footer-right
				.login-form__button
					+btn(btnText2, 'big-a', 0, 'registration.html')
