extends ../../base.pug
block description
	meta(name='description', content="Отель «Toxin» - вход в личный кабинет.")
	meta(name='keywords', content="отель, toxin, гостиница, личный кабинет, страница входа")
block title
	| Отель «Toxin» - личный кабинет
block main
	include ../../components/login-form/login-form.pug
	include ../../components/header/header.pug
	include ../../components/footer/footer.pug
	-
		const loginFormData = {
			title: 'Войти',
			input1: {
				header: '',
				type: 'email',
				name: 'email',
				value: null,
				placeholder: 'Email',
				text: '',
				modifiers: ['placeholderLight']
			},
			input2: {
				header: '',
				type: 'password',
				name: 'password',
				value: null,
				placeholder: 'Пароль',
				text: '',
				modifiers: ['placeholderLight']
			},
			buttonText: 'войти',
			footerText: 'Нет аккаунта на Toxin?',
			buttonText2: 'создать'
		}
	+header
	main.sign-in
		.sign-in__container
			+login-form(loginFormData)
	+footer