extends ../../base.pug
block description
	meta(name='description', content="Отель «Toxin» - вход в личный кабинет.")
block title
	| Отель "Toxin" - личный кабинет
block main
	include ../../components/login/login.pug
	include ../../components/header/header.pug
	include ../../components/footer/footer.pug
	+header
	main.sign-in
		.sign-in__container
			.sign-in__inner
				+login
	+footer