/* Icons from directory "" */
.icon-Logo,.icon-Logo\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-Logo-dims{width:106px;height:40px}
.icon-check,.icon-check\:regular{background-image:url('icons/icons.png');background-position:0 -40px;background-repeat:no-repeat}
.icon-check-dims{width:10px;height:11px}
.icon-facebook,.icon-facebook\:regular{background-image:url('icons/icons.png');background-position:0 -51px;background-repeat:no-repeat}
.icon-facebook-dims{width:22px;height:22px}
.icon-instagram,.icon-instagram\:regular{background-image:url('icons/icons.png');background-position:0 -73px;background-repeat:no-repeat}
.icon-instagram-dims{width:22px;height:22px}
.icon-twitter,.icon-twitter\:regular{background-image:url('icons/icons.png');background-position:0 -95px;background-repeat:no-repeat}
.icon-twitter-dims{width:24px;height:20px}
.icon-ui_kit_logo,.icon-ui_kit_logo\:regular{background-image:url('icons/icons.png');background-position:0 -115px;background-repeat:no-repeat}
.icon-ui_kit_logo-dims{width:48px;height:48px}