// @font-face {
// 	font-style: normal;
// 	font-weight: 400;
// 	font-family: "Quicksand";

// 	src: url("../../fonts/Quicksand-Regular.woff");
// 	src: url("../../fonts/Quicksand-Regular.ttf") format("truetype"), url("../../fonts/Quicksand-Regular.svg") format("svg");
// }
// @font-face {
// 	font-style: normal;
// 	font-weight: 700;
// 	font-family: "Quicksand";

// 	src: url("../../fonts/Quicksand-Bold.woff");
// 	src: url("../../fonts/Quicksand-Bold.ttf") format("truetype"), url("../../fonts/Quicksand-Bold.svg") format("svg");
// }

h1 {
	font-weight: 700;
	font-size: 24px;
	font-family: Quicksand;
	color: #1f2041;
}
.inner {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	background: yellow;
	border: 1px solid red;
}
// .ui-kit-logo {
// 	display: block;
// 	margin-bottom: 10px;
// }
// .ui-kit-logo--bg {
// 	display: block;
// 	width: 48px;
// 	height: 48px;
// 	margin-bottom: 10px;
// 	background: url("ui_kit_logo.svg") left top no-repeat;
// }
.colors-types__row {
	display: flex;
	flex-wrap: wrap;
}
.colors-types__col {
	position: relative;
	padding-right: 20%*100/1200;
	padding-left: 20%*100/1200;
	border: 1px solid yellow;
}
.colors-types__col--1 {
	flex: 0 0 700%*100/1200;
	@media (max-width: 1200px) {
		flex: 1 0 auto;
	}
}
.colors-types__col--2 {
	flex: 0 0 500%*100/1200;
	@media (max-width: 1200px) {
		flex: 0 0 403px;
	}
	@media (max-width: 403px) {
		flex: 0 0 auto;
	}
}
.colors-types__colors {
	width: 270px;
	margin-left: 9px;
	background:red;
}
.colors-types__types {
	min-width: 280px;
	max-width: 403px;
	margin-left: 6px;
	background: green;
}