extends ../base
block title
	| Index page
block main
	include ../../components/ui_kit/ui_kit.pug
	.page__container
		h1 Sample
		.colors-types__row
			.colors-types__col.colors-types__col--1
				.colors-types__colors
					h1 Col-1
			.colors-types__col.colors-types__col--2
				.colors-types__types
					h1 Col-2