extends ../../base.pug
block title
  | Colors & Type
block main
  include ../../components/ui-kit/ui-kit.pug
  .page__container.colors-types__container
    .colors-types__row
      .colors-types__col.colors-types__col_1
        section.colors-types__colors
          mixin color(i, color, text)
            .colors-types__color-block-wrap
              div(class="colors-types__color-block colors-types__color-block_"+i)
              .colors-types__color-block-text
                h2.colors-types__color-block-h2= color
                p.colors-types__color-block-p= text
          +color(1, "Dark Shade 100%","#1F2041")
          +color(2, "Dark Shade 75%","#1F2041")
          +color(3, "Dark Shade 50%","#1F2041")
          +color(4, "Dark Shade 25%","#1F2041")
          +color(5, "Dark Shade 5%","#1F2041")
          +color(6, "Purple","#BC9CFF")
          +color(7, "Green","#6FCF97")
      .colors-types__col.colors-types__col_2
        section.colors-types__types
          .colors-types__types-block-wrap
            .colors-types__types-col-1.colors-types__types-col-1_1
              .colors-types__types-text-1.colors-types__types-text-1_1 H1
            .colors-types__types-col-2.colors-types__types-col-2_1
              h1.colors-types__types-block-h1 This one is the sub-section or widget title
          .colors-types__types-block-wrap
            .colors-types__types-col-1.colors-types__types-col-1_2
              .colors-types__types-text-1.colors-types__types-text-1_2 H2
            .colors-types__types-col-2.colors-types__types-col-2_2
              h2.colors-types__types-block-h2 Next one is the item title inside widgets
          .colors-types__types-block-wrap
            .colors-types__types-col-1.colors-types__types-col-1_3
              .colors-types__types-text-1.colors-types__types-text-1_3 H3
            .colors-types__types-col-2.colors-types__types-col-2_3
              h3.colors-types__types-block-h3 This is a label or CTA text
          .colors-types__types-block-wrap
            .colors-types__types-col-1.colors-types__types-col-1_4
              .colors-types__types-text-1.colors-types__types-text-1_4 Body
            .colors-types__types-col-2.colors-types__types-col-2_4
              p.colors-types__types-block-p This is the body text which is used for most of the design, like paragraphs, lists, etc.