extends ../base
block title
	| Index page
block main
	img.ui-kit-logo(src = require("./ui_kit_logo.svg"))
	.page__container
		h1 Sample
		.colors-types__row
			.colors-types__col.colors-types__col--1
				.colors-types__colors
					h1 Col-1
			.colors-types__col.colors-types__col--2
				.colors-types__types
					h1 Col-2