@import '../../variables.scss';
.d-none {
  display: none;
}
.d-block {
  display: block !important;
}
.search-room {
  flex: 1 0 auto;
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  background: $white;
  border-bottom: 1px solid $black-10
}
.search-room__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1200%*100/1440;
  margin: 0 auto;
  margin-bottom: 3px;
  padding-top: 27px;
  padding-right: 14%*100/1440;
  padding-left: 20%*100/1440;
  @media (max-width: 1440px) {
    width: 1200px;
  }
  @media (max-width: 1220px) {
    width: 100%;
  }
  @media (max-width: 905px) {
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
  }
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}
.search-room__filters {
  display: none;
  @media (max-width: 905px) {
    display: block;
    margin: 0 auto;
    width: 310px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    margin-bottom: 30px;
    text-align: center;
    background: $black-10;
  }
  &-header {
    position: relative;
    margin-bottom: 18px;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    max-width: 240px;
    &::after, &_rotate::after {
      content: 'expand_more';
      position: absolute;
      top: -1px;
      right: -28px;
      font-weight: 400;
      font-size: 24px;
      font-family: 'Material Icons';
      text-align: center;
      color: $black-text;
      text-transform: none;
      background: transparent;
    }
    &_rotate::after {
      transform: rotate(180deg);
    }
  }
}
.search-room__form {
  flex: 0 0 275%*100/1200;
  // border: 1px solid green;
  min-width: 266px;
  max-width: 310px;
  margin-right: 4.5%;
  @media (max-width: 905px) {
    margin: 0 auto;
    margin-bottom: 50px;
    display: none;
  }
  @media (max-width: 600px) {
    flex-grow: 1;
  }
}
.search-room__aside-title {
}
.search-room__input {
  margin-bottom: 15px;
}
.search-room__peoples-dropdown {
  margin-bottom: 29px;
}
.search-room__slider {
  margin-bottom: 15px;
}
.search-room__slider-text {
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-50;
}
.search-room__checkbox {
  width: 222%*100/266;
  margin-bottom: 21px;
}
.search-room__checkbox-title {
  margin-bottom: 15px;
}
.search-room__rich-checkbox {
  margin-bottom: 26px;
}
.search-room__rich-checkbox-title {
  margin-bottom: 17px;
}
.search-room__room-dropdown {
  margin-bottom: 29px;
}
.search-room__expandable-list-title {
  position: relative;
  margin-bottom: 18px;
  cursor: pointer;
  &::after, &_rotate::after {
    content: 'expand_more';
    position: absolute;
    top: -1px;
    right: 12px;
    display: block;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Material Icons';
    text-align: center;
    color: $black-50;
    text-transform: none;
    background: #ffffff;
    border-radius: 4px;
  }
  &_rotate::after {
    transform: rotate(180deg);
  }
}
.search-room__expandable-text {
  margin-bottom: 30px;
  .checkbox__text {
    margin-bottom: 11px;
  }
}
.search-room__cards-wrapper {
  flex: auto;
  padding-top: 3px;
  min-width: 282px;
}
.search-room__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25em;
  font-family: 'Open Sans', Arial, sans-serif;
  color: $black;
  padding-left: 4px;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
  @media (max-width: 905px) {
    text-align: center;
  }
}
.search-room__cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 21px;
  @media (max-width: 905px) {
    text-align: center;
    justify-content: center;
  }
}
.search-room__card {
  flex: 0 0 280px;
  margin-bottom: 20px;
  padding-right: 0.7%;
  // border: 1px solid magenta;
  padding-left: 0.7%;
  border-radius: 4px;
  box-shadow: 0 10px 20px $black-5;
}
.search-room__pagination {
  margin-bottom: 69px;
  text-align: center;
  margin-left: -20px;
  #pagination-container {
    display: inline-block;
  }
  @media (max-width: 905px) {
    margin: 0 auto;
    margin-bottom: 69px;
  }
}
.search-room__pagination .paginationjs-page {
  margin-right: 1px;
  @media (max-width: 800px) {
    margin-right: -6px;
  }
}
.search-room__input-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 44px;
  height: 44px;
  padding-top: 9px;
  text-align: center;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Material Icons';
  color: $black-50;
}