extends ../../base.pug
block description
	meta(name='description', content="Отель «Toxin» - поиск номеров.")
	meta(name='keywords', content="отель, toxin, гостиница, забронировать номер, поиск номера, цена номера, каталог номеров, фото номера")
block title
	|  Отель «Toxin» - поиск номеров
block main
	include ../../components/header/header.pug
	include ../../components/footer/footer.pug
	+header
	main.search-room
		include ../../components/input/input.pug
		include ../../components/dropdown/dropdown.pug
		include ../../components/slider/slider.pug
		include ../../components/checkbox/checkbox.pug
		include ../../components/card/card.pug
		include ../../components/datepicker-block/datepicker-block.pug
		- 	
			let RoomData = function(img, num, lux, price, rate, rev, link) {
				this.img = img;
				this.num = num;
				this.lux = lux;
				this.price = price;
				this.rate = rate;
				this.rev = rev;
				this.link = link;
			};
			let data = [
				new RoomData(['img/image1.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 888, 'люкс', '9 990', 5, 145, 'room-details.html'),
				new RoomData(['img/image2.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 840, '', '9 990', 4, 65, 'mock-address/change-me'),
				new RoomData(['img/image3.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 980, 'люкс', '8 500', 3, 35, 'mock-address/change-me'),
				new RoomData(['img/image4.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 856, '', '7 300', 5, 19, 'mock-address/change-me'),
				new RoomData(['img/image5.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 740, '', '6 000', 4, 44, 'mock-address/change-me'),
				new RoomData(['img/image6.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 982, '', '5 800', 3, 56, 'mock-address/change-me'),
				new RoomData(['img/image7.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 678, '', '5 500', 5, 45, 'mock-address/change-me'),
				new RoomData(['img/image8.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 450, '', '5 300', 4, 39, 'mock-address/change-me'),
				new RoomData(['img/image9.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 350, '', '5 000', 3, 77, 'mock-address/change-me'),
				new RoomData(['img/image10.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 666, '', '5 000', 5, 25, 'mock-address/change-me'),
				new RoomData(['img/image11.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 444, '', '5 000', 3, 15, 'mock-address/change-me'),
				new RoomData(['img/image12.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 352, '', '5 000', 3, 53, 'mock-address/change-me')
				];
		.search-room__container
			.search-room__filters
				h3.search-room__aside-title Фильтры
			aside.search-room__form
				form.search-room__form-content
					.search-room__input-wrapper
						+input(
							'даты пребывания в отеле', 
							'text', 
							'search-room__input-1', 
							' input__field_theme_without-hover', 
							'19 авг - 23 авг', 
							'Введите даты', 
							'',
							'expand_more')
					.search-room__datepicker-wrapper
						.search-room__datepicker-container
							+datepicker
					.search-room__peoples-dropdown-wrapper
						+dropdown(
							'peoples',
							'guests', 
							'гости', 
							'', 
							'взрослые', 
							'дети', 
							'младенцы',
							'1')
					.search-room__slider-wrapper
						+slider(1, 'диапазон цены')
					.search-room__slider-text Стоимость за сутки пребывания в номере
					.search-room__checkbox-wrapper
						h3.search-room__aside-title.search-room__checkbox-title Checkbox Buttons
						+checkbox(
							'', 
							['Можно курить', 
							'Можно с питомцами', 
							'Можно пригласить гостей (до 10 человек)'])
					.search-room__rich-wrapper
						h3.search-room__aside-title.search-room__rich-title доступность
						+checkbox(
							'', 
							['Ширина коридоров в номере не менее 91 см.', 
							'На 1 этаже вас встретит специалист  и проводит до номера.'],
							['Широкий коридор',
							'Помощник для инвалидов'])
					.search-room__room-dropdown-wrapper
						+dropdown(
							'rooms',
							'rooms', 
							'удобства номера', 
							'', 
							'спальни', 
							'кровати', 
							'ванные комнаты')
					.search-room__expandable-wrapper
						h3.search-room__aside-title.search-room__expandable-title дополнительные удобства
						.search-room__expandable-text.d-none
							+checkbox(
								'', 
								['Завтрак', 
								'Письменный стол', 
								'Стул для кормления',
								'Кроватка',
								'Телевизор',
								'Шампунь'])
			section.search-room__cards
				h1.search-room__title Номера, которые мы для вас подобрали
				.search-room__cards-wrapper
					each val, i in data
						.search-room__card-wrapper
							+card('', val)
				.search-room__pagination-wrapper
					#pagination-container
					p.pagination__text <span class="pagination__first">1</span> – <span class="pagination__second">12</span> из 100+ вариантов аренды
	+footer