extends ../../base.pug
block description
	meta(name='description', content="Отель «Toxin» - поиск номеров.")
	meta(name='keywords', content="отель, toxin, гостиница, забронировать номер, поиск номера, цена номера, каталог номеров, фото номера")
block title
	|  Отель «Toxin» - поиск номеров
block main
	include ../../components/header/header.pug
	include ../../components/footer/footer.pug
	+header
	main.search-room
		include ../../components/input/input.pug
		include ../../components/dropdown/dropdown.pug
		include ../../components/range-slider/range-slider.pug
		include ../../components/checkbox-list/checkbox-list.pug
		include ../../components/card/card.pug
		include ../../components/datepicker-block/datepicker-block.pug
		include ../../components/pagination/pagination.pug
		include ../../components/filter-date-driopdown/filter-date-driopdown.pug
		- 	
			const RoomData = function(img, num, lux, price, rate, rev, link) {
				this.img = img;
				this.num = num;
				this.lux = lux;
				this.price = price;
				this.rate = rate;
				this.rev = rev;
				this.link = link;
			};
			const data = [
				new RoomData(['img/image1.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 888, 'люкс', '9 990', 5, 145, 'room-details.html'),
				new RoomData(['img/image2.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 840, '', '9 990', 4, 65, 'mock-address/change-me'),
				new RoomData(['img/image3.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 980, 'люкс', '8 500', 3, 35, 'mock-address/change-me'),
				new RoomData(['img/image4.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 856, '', '7 300', 5, 19, 'mock-address/change-me'),
				new RoomData(['img/image5.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 740, '', '6 000', 4, 44, 'mock-address/change-me'),
				new RoomData(['img/image6.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 982, '', '5 800', 3, 56, 'mock-address/change-me'),
				new RoomData(['img/image7.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 678, '', '5 500', 5, 45, 'mock-address/change-me'),
				new RoomData(['img/image8.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 450, '', '5 300', 4, 39, 'mock-address/change-me'),
				new RoomData(['img/image9.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 350, '', '5 000', 3, 77, 'mock-address/change-me'),
				new RoomData(['img/image10.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 666, '', '5 000', 5, 25, 'mock-address/change-me'),
				new RoomData(['img/image11.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 444, '', '5 000', 3, 15, 'mock-address/change-me'),
				new RoomData(['img/image12.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 352, '', '5 000', 3, 53, 'mock-address/change-me')
				];
				const input1 = {
					header: 'даты пребывания в отеле',
					type: 'text',
					name: 'search-room__input-1',
					value: '19 авг - 23 авг',
					placeholder: 'Введите даты',
					text: '',
					icon: 'expand_more',
					modifiers: ['withoutHoverEffect']
				}
				const dropdown1 = {
					name: 'guests',
					header: 'гости',
					text: '',
					item1: 'взрослые',
					item2: 'дети',
					item3: 'младенцы',
					clear: '1'
				}
				const dropdown2 = {
					name: 'rooms',
					header: 'удобства номера',
					text: '',
					item1: 'спальни',
					item2: 'кровати',
					item3: 'ванные комнаты'
				}
				const sliderTitle = 'диапазон цены';
				const sliderText = 'Стоимость за сутки пребывания в номере';
				const headers = ['Фильтры', 'Checkbox Buttons', 'доступность', 'дополнительные удобства', 'Номера, которые мы для вас подобрали'];
				const checkboxList1 = {
					text: ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']
				}
				const checkboxList2 = {
					text: ['Ширина коридоров в номере не менее 91 см.', 
						'На 1 этаже вас встретит специалист  и проводит до номера.'],
					title: ['Широкий коридор',
					'Помощник для инвалидов']
				}
				const checkbox3 = {
					text: ['Завтрак', 
							'Письменный стол', 
							'Стул для кормления',
							'Кроватка',
							'Телевизор',
							'Шампунь']
				}
				const paginationText = 'из 100+ вариантов аренды';
				const cardText = ['₽', 'в сутки', 'Отзывов'];
				const datepickerText = ['применить', 'очистить'];
		.search-room__container
			.search-room__filters
				h3.search-room__aside-title.js-search-room__aside-title
					+title(headers[0])
			aside.search-room__form.js-search-room__form
				form.search-room__form-content.js-search-room__form-content
					.search-room__input.js-search-room__input
						+filter-date-driopdown(input1, datepickerText)
					.search-room__peoples-dropdown.js-search-room__peoples-dropdown
						+dropdown(dropdown1)
					.search-room__slider
						+range-slider(sliderTitle)
					.search-room__slider-text #{sliderText}
					.search-room__checkbox.js-search-room__checkbox
						h3.search-room__checkbox-title
							+title(headers[1])
						+checkbox-list(checkboxList1)
					.search-room__rich-checkbox
						h3.search-room__rich-checkbox-title
							+title(headers[2])
						+checkbox-list(checkboxList2)
					.search-room__room-dropdown.js-search-room__room-dropdown
						+dropdown(dropdown2)
					.search-room__expandable-list
						h3.search-room__expandable-list-title.js-search-room__expandable-list-title
							+title(headers[3])
						.search-room__expandable-text.js-search-room__expandable-text.search-room__expandable-text_hidden
							+checkbox-list(checkbox3)
			section.search-room__cards-wrapper
				h1.search-room__title #{headers[4]}
				.search-room__cards
					each val, i in data
						.search-room__card
							+card(val, cardText)
				.search-room__pagination
					+pagination(1, 12, paginationText)
	+footer