@import "../../variables.scss";
.headers_footers__page {
	background: $grey;
}
.headers_footers__menu {
	width: 100%;
	background: $white;
	box-shadow: 0 10px 20px $black-5;
	&--1 {
		margin-top: 8px;
		margin-bottom: 40px;
	}
	&--2 {
		margin-bottom: 40px;
	}
}
.headers_footers__footer-1 {
	background: $white;
	box-shadow: 0 10px 20px $black-5;
}
