extends ../../base.pug
block title
	| Headers & Footers
block main
	.headers_footers__page
		include ../../components/ui_kit/ui_kit.pug
		include ../../components/header/header.pug
		-
			let MenuItem = function(item, href, incl, hrefs) {
				this.item = item;
				this.href = htef;
				this.incl = incl;
				this.hrefs = hrefs;
			}
			let menu = [
				new MenuItem('Home', '#'),
				new MenuItem('About Us', '#'),
				new MenuItem('Services', '#', ['Service 1', 'Service 2', 'Service 3'], ['#', "#", '#']),
				new MenuItem('Careers', '#'),
				new MenuItem('News', '#'),
				new MenuItem('Documentation', '#')
			];
			let nav = [
				new MenuItem('Navigation', '#', ['About Us', 'News', 'Support', 'Products'], ['#', '#', '#', '#']),
				new MenuItem('About Us', '#', ['Who we are', 'Our team', 'Careers', 'Investors'], ['#', '#', '#', '#']),
				new MenuItem('Support', '#', ['Documentation', 'Community', 'Get in Touch'], ['#', '#', '#'])
			];
		.headers_footers__menu.headers_footers__menu--1
			+header(headers_footers__header-menu, menu, 0)
		.headers_footers__menu.headers_footers__menu--2
			+header(headers_footers__header-menu, menu, 0, 1)
		.headers_footers__footer-1