@import "../../variables.scss";

.info {
  padding-bottom: 20px;

  &__image {
    display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 48px;
    line-height: 47.81px;
    font-family: "Material Icons";
    color: $purple;
  }

  &__text-wrapper {
    display: inline-block;
    padding-top: 3px;
  }

  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    font-family: Montserrat, Arial, sans-serif;
    color: $black-75;
    text-transform: none;
    margin-bottom: 5px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
    font-family: Montserrat, Arial, sans-serif;
    color: $black-75;
  }
}