@import '../../variables.scss';
.dates-block {
  margin-bottom: 18px;
}
.dates-block__inputs-wrapper {
  display: flex;
  flex-wrap: nowrap;
  // .input__name {
  //   word-break: break-all;
  // }
  // input {
  //   &::-webkit-input-placeholder {
  //     color: $black-75;
  //   }
  //   &::-moz-placeholder {
  //     color: $black-75;
  //   }
  //   &:-moz-placeholder {
  //     color: $black-75;
  //   }
  //   &:-ms-input-placeholder {
  //     color: $black-75;
  //   }
  // }
}
.dates-block__arrival-wrapper, .dates-block__departure-wrapper {
  margin-top: auto;
  flex: 0 0 47.24%;
  .input__button {
    @media (max-width: 350px) {
      width: 32px;
    }
  }
}
.dates-block__arrival-wrapper {
  margin-right: auto;
}
.dates-block__arrival-wrapper .input__field, .dates-block__departure-wrapper .input__field {
  text-transform: uppercase;
  letter-spacing: -0.4px;
  cursor: default;
  &:hover {
    border: 1px solid $black-25;
  }
  @media (max-width: 350px) {
    padding-left: 12px;
  }
}
// .dates-block .dropdown__container {
//   margin-bottom: 19px;
// }
.dates-block__datepicker-wrapper {
  position: relative;
}
.dates-block__datepicker-container {
  position: absolute;
  top: 6px;
  z-index: 10;
  display: none;
  width: 100%;
  background: $white;
  &_visible {
    display: block;
  }
}
