mixin dates-block
	include ../../components/input/input.pug
	include ../../components/dropdown/dropdown.pug
	include ../../components/datepicker-block/datepicker-block.pug
	.dates-block
		.dates-block__inputs-wrapper
			.dates-block__arrival-wrapper
				+input(
				'прибытие', 
				'text', 
				'arrival', 
				'', 
				'', 
				'дд.мм.гггг', 
				'', 
				'expand_more')
			.dates-block__departure-wrapper
				+input(
				'выезд', 
				'text', 
				'departure', 
				'', 
				'', 
				'дд.мм.гггг', 
				'', 
				'expand_more')
		.dates-block__datepicker-wrapper
			.dates-block__datepicker-container
				+datepicker
		//- +dropdown(
		//- 'peoples',
		//- '', 
		//- 'гости', 
		//- '', 
		//- 'взрослые', 
		//- 'дети', 
		//- 'младенцы',
		//- '1')