@import "../../variables.scss";

#pagination-container {
	margin-bottom: 10px;
}
.paginationjs-prev, .paginationjs-page, .paginationjs-next, .paginationjs-ellipsis {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: -6px;
	text-align: center;
	border-radius: 20px;
}
.paginationjs-page a, .paginationjs-ellipsis a {
	position: relative;
	top: 11px;
	padding: 10px;
	font-weight: 400;
	font-size: 12px;
	font-family: Montserrat;
	color: $black-50;
	text-decoration: none;
}
.paginationjs-prev, .paginationjs-next {
	background: $gradient-green;
}
.paginationjs-prev a, .paginationjs-next a {
	position: relative;
	top: 11px;
	padding: 10px;
	font-weight: 400;
	font-size: 12px;
	font-family: Montserrat;
	color: transparent;
	text-decoration: none;
}
.paginationjs-page.active {
	background: $gradient-purple;
	cursor: default;
}
.paginationjs-page.active a {
	font-weight: 700;
	color: $white;
}
.paginationjs-next::after, .paginationjs-prev::after {
	content: " arrow_forward";
	position: absolute;
	top: 8px;
	right: 8px;
	display: inline;
	font-weight: 400;
	font-size: 24px;
	font-family: "Material Icons";
	color: $white;
	text-transform: none;
}
.paginationjs-prev::after {
	transform: rotate(180deg);
}
.pagination__text {
	padding-left: 5px;
}