@import '../../variables.scss';
.btn {
  position: relative;
  min-height: 44px;
  padding-top: 16px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  background: $gradient-purple;
  border-radius: 22px;
  &--button {
    display: block;
    width: 100%;
    padding-top: 0;
    border: none;
  }
  &:hover, &--hover {
    opacity: 0.5;
  }
  &--white {
    position: relative;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    color: $purple;
    background: $gradient-purple;
    border-radius: 22px;
    span {
      display: block;
      background: $white;
      padding-bottom: 3px;
      background-clip: padding-box;
      min-height: 40px;
      padding-top: 14px;
      border-radius: 20px;
    }
  }
  &--icon-link {
    min-height: 15px;
    padding-top: 0;
    color: $purple;
    background: $white;
    &:hover, &-hover {
      color: $black-50;
      opacity: 1;
    }
  }
  &--arrow::after {
    content: ' arrow_forward';
    position: absolute;
    top: 10px;
    right: 12px;
    display: inline;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Material Icons';
    color: $white;
    text-transform: none;
  }
  &--small {
    display: block;
    width: 100%;
    min-height: 34px;
    padding-top: 11px;
    padding-right: 20px;
    padding-left: 19px;
  }
  &--small-white {
    display: block;
    width: 100%;
    min-height: 34px;
    padding-top: 11px;
    padding-top: 9px;
    padding-right: 20px;
    padding-left: 19px;
  }
  &--header-white {
    display: block;
    width: 100%;
    min-height: 34px;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    span {
      padding-top: 9px;
      padding-left: 17px;
      padding-right: 18px;
      min-height: 30px;
    }
  }
}