@import "../../variables.scss";

.expandable-checkbox-list {
  &__title {
    position: relative;
    margin-bottom: 18px;
    cursor: pointer;

    &::after,
    &_rotate::after {
      content: "expand_more";
      position: absolute;
      top: -1px;
      right: 12px;
      display: block;
      font-weight: 400;
      font-size: 24px;
      font-family: "Material Icons";
      text-align: center;
      color: $black-50;
      text-transform: none;
      background: #ffffff;
      border-radius: 4px;
    }

    &_rotate::after {
      transform: rotate(180deg);
    }
  }

  &__text {
    &_hidden {
      display: none;
    }
  }
}