mixin radio(cl, text)
	.radio__container
		each t, i in text
			label.radio__label
				if i === 0
					input(type="radio" name=cl class="radio"+" "+cl checked)
				else
					input(type="radio" name=cl class="radio"+" "+cl)
				.radio__custom
				p.radio__text= t