@import "../../variables.scss";
// @import "./item-quantity-dropdown.min.css";
.dropdown__h3 {
	display: block;
	float: left;
	margin-bottom: 5px;
	padding-top: 4px;
}
.dropdown__p {
	display: block;
	font-weight: 400;
	font-size: 12px;
	font-family: Montserrat;
	vertical-align: top;
	text-align: right;
	color: $black-50;
	text-transform: uppercase;
}
.iqdropdown {
	position: relative;
	top: 5px;
	width: 100%;
	height: 44px;
	text-align: left;
	border: 1px solid $black-25;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	&:hover {
		border: 1px solid $black-50;
	}
}
.iqdropdown.menu-open {
	border: 1px solid $black-50;
}
.iqdropdown .iqdropdown-selection {
	display: block;
	width: 100%;
	position: absolute;
	top: 9px;
	left: 0;
	padding-left: 15px;

}
.iqdropdown .iqdropdown-selection::after {
	content: "expand_more";
	position: absolute;
	top: -7px;
	right: 2px;
	width: 40px;
	height: 39px;
	padding-top: 7px;
	font-weight: 400;
	font-size: 24px;
	font-family: "Material Icons";
	color: $black-50;
	text-align: center;
	background: $white;
	border-radius: 4px;
	// border: 1px solid red;
}
.iqdropdown.menu-open .iqdropdown-selection::after {
	background: $white;
	transform: rotate(180deg);
}
.iqdropdown-item {
	font-weight: 700;
	font-size: 12px;
	font-family: Montserrat;
	color: $black;
	text-transform: uppercase;
}
.iqdropdown.menu-open .iqdropdown-menu {
	display: block;
}
.iqdropdown .iqdropdown-menu {
	box-shadow:  0px 10px 20px 0px $black-5;
	position: absolute;
	top: 42px;
	right: 0;
	left: 0;
	z-index: 99999;
	display: none;
	margin-right: -1px;
	margin-left: -1px;
	padding-top: 7px;
	padding-right: 15px;
	background-color: $white;
	border: 1px solid $black-50;
	border-radius: 0 0 4px 4px;
	cursor: default;
}
.iqdropdown .iqdropdown-menu-option {
	height: 30px;
	margin-bottom: 7px;
	position: relative;
	padding-left: 15px;
	padding-top: 7px;
}
.iqdropdown-item-controls {
	position: absolute;
	top: 0;
	right: -2px;
}
.iqdropdown .button-decrement, .iqdropdown .button-increment {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	outline: none;
	background: $white;
	border: 1px solid $black-50;

}
.iqdropdown .counter {
	display: inline-block;
	width: 32px;
	text-align: center;
	vertical-align: top;
	color: $black;
font-family: Montserrat;
font-size: 12px;
font-weight: 700;
text-transform: uppercase;
padding-top: 7px;
}
.iqdropdown .icon-decrement, .iqdropdown .icon-increment {
	position: relative;
}
.iqdropdown .icon-decrement::after, .iqdropdown .icon-increment::after {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

	color: $black-50;
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
}
.iqdropdown .icon-decrement::after {
	content: "-";
}
.iqdropdown .icon-increment::after {
	content: "+";
	transform: translate(-50%, -44%);
}
