//- script
//- 	| const dropdown = {
//- 	| 	rooms: [
//- 	| 		['спальня', 'спальни', 'спален'],
//- 	| 		['кровать', 'кровати', 'кроватей'],
//- 	|		['ванная комната', 'ванные комнаты', 'ванных комнат']
//- 	| 	]
//- 	| }
- const rooms = [
- 	['спальня', 'спальни', 'спален'],
- 	['кровать', 'кровати', 'кроватей'],
- 	['ванная комната', 'ванные комнаты', 'ванных комнат']
- ]