@import "../../variables.scss";

.like {
  position: relative;
  display: inline-block;
  min-width: 40px;
  margin-right: 6px;

  &__input {
    display: none;
  }

  &__inner {
    min-width: 40px;
    height: 20px;
    padding: 1px;
    border-radius: 10px;
    cursor: pointer;
    background: $black-25;

    &::after {
      content: "favorite_border";
      position: absolute;
      top: 5px;
      left: 5px;
      font-weight: 400;
      font-size: 10px;
      line-height: 9.96px;
      font-family: "Material Icons";
      color: $black-25;
    }
  }

  &__inner-text {
    display: block;
    background: $white;
    border-radius: 9px;
  }

  // &__inner::after {
  //   content: "favorite_border";
  //   position: absolute;
  //   top: 5px;
  //   left: 5px;
  //   font-weight: 400;
  //   font-size: 10px;
  //   line-height: 9.96px;
  //   font-family: "Material Icons";
  //   color: $black-25;
  // }

  &__text {
    font-size: 14px;
    line-height: 1.6em;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 5px;
    font-weight: 400;
    font-size: 10px;
    font-family: Montserrat, Arial, sans-serif;
    color: $black-25;
  }

  &__input:checked + .like__inner {
    background: $gradient-purple;

    &::after {
      content: "favorite";
      color: $purple;
    }

    .like__text {
      color: $purple;
    }

  }

}