mixin like(text)
	.like
		label.like__label.js-like__label
			input(type="checkbox" name="like" class="like__input js-like__input")
			.like__custom
				span.like__inner
					p.like__text.js-like__text= text