@import "../../variables.scss";

.range-slider {
  position: relative;
}

#ui-range-slider-range {
  position: relative;
  width: 100%;
}

.range-slider__header {
  display: inline-block;
  float: left;
  width: 50%;
  padding-top: 1px;
  margin-bottom: 7px;
}

#range-slider__amount {
  display: inline-block;
  width: 50%;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  vertical-align: top;
  text-align: right;
  color: $black-50;
  text-transform: uppercase;
  outline: none;
}

.ui-slider-horizontal {
  position: relative;
  height: 6px;
  background-color: $white;
  border: 1px solid $black-25;
  border-radius: 3px;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 16px;
  height: 16px;
  margin-top: -5px;
  margin-left: -8px;
  background: $gradient-green;
  border: 2px solid $white;
  border-radius: 8px;
  cursor: pointer;

  -ms-touch-action: none;
  touch-action: none;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  height: 6px;
  font-size: .7em;
  background: red;
  background: $gradient-green;
  background-position: 0 0;
  border: 0;
}

.range-slider__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6em;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
}

#range-slider__range {
  clear: both;
}