extends ../../base.pug
block description
	meta(name='description', content="Form Elements")
block title
	| Form Elements
block main
	include ../../components/ui-kit/ui-kit.pug
	include ../../components/input/input.pug
	include ../../components/checkbox-list/checkbox-list.pug
	include ../../components/radio/radio.pug
	include ../../components/toggle/toggle.pug
	include ../../components/like/like.pug
	include ../../components/rate/rate.pug
	include ../../components/range-slider/range-slider.pug
	include ../../components/dropdown/dropdown.pug
	include ../../components/info/info.pug
	include ../../components/review/review.pug
	include ../../components/button/button.pug
	include ../../components/pagination/pagination.pug
	include ../../components/dates-selector/dates-selector.pug
	include ../../components/filter-date-driopdown/filter-date-driopdown.pug
	include ../../components/title/title.pug
	include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug
	-
		const input1 = {
			header: 'Text Field',
			type: 'email',
			name: 'form-elements__input-1',
			value: '',
			placeholder: 'Email',
			text: 'Default',
			modifiers: ['themeLight']
		}
		const input2 = {
			header: 'Text Field',
			type: 'text',
			name: 'form-elements__input-2',
			value: 'This is pretty awesome',
			placeholder: '',
			text: 'Hover / Focus',
			modifiers: ['focused']
		}
		const input4 = {
			header: 'masked text field',
			type: 'text',
			name: 'form-elements__input-4',
			value: '',
			placeholder: 'дд.мм.гггг',
			text: 'Default',
			modifiers: ['themeUpprecase']
		}
		const input7 = {
			header: 'filter date dropdown',
			type: 'text',
			name: 'form-elements__input-7',
			value: '19 авг - 23 авг',
			placeholder: '',
			text: '',
			icon: 'expand_more'
		}
		const input8 = {
			header: 'subscription text field',
			type: 'email',
			name: 'form-elements__input-8',
			value: '',
			placeholder: 'Email',
			text: '',
			icon: 'arrow_forward',
			buttonColor: 'purple',
			modifiers: ['withArrow']
		}
		const input9 = {
			header: 'filter date dropdown',
			type: 'text',
			name: 'search-room__input-1',
			value: '19 авг - 23 авг',
			placeholder: 'Введите даты',
			text: '',
			icon: 'expand_more',
			modifiers: ['withoutHoverEffect']
		}
		const headers = {
			checkbox: 'Checkbox Buttons',
			radio: 'Radio Buttons',
			toggle: 'Toggle',
			like: 'like button',
			rate: 'rate button',
			buttons: 'buttons',
			pagination: 'pagination',
			expandableList: 'expandable checkbox list',
			richCeckbox: 'rich Checkbox Buttons',
			bullet: 'bullet list'}
		const checkboxList1 = [
			{name: 'smoking', text: 'Можно курить'}, 
			{name: 'pets', text: 'Можно с питомцами'}, 
			{name: 'guests', text: 'Можно пригласить гостей (до 10 человек)'}
		]
		const checkboxList2 = [
			{name: 'breakfast', text: 'Завтрак'}, 
			{name: 'table', text: 'Письменный стол'}, 
			{name: 'chair', text: 'Стул для кормления'},
			{name: 'bed', text: 'Кроватка'},
			{name: 'tv', text: 'Телевизор'},
			{name: 'shampoo', text: 'Шампунь'}
		]
		const checkboxList3 = [
			{name: 'corridor', title: 'Широкий коридор',  text: 'Ширина коридоров в номере не менее 91 см.'},
			{name: 'helper', title: 'Помощник для инвалидов',  text: 'На 1 этаже вас встретит специалист  и проводит до номера.'}
		]
		const radio = {
				name: 'registration-form__radio',
				text: ['Мужчина', 'Женщина']
			}
		const toggleText = 'Получать спецпредложения';
		const sliderTitle = 'Range Slider';
		const btnText = 'click me';
		const btnText2 = 'перейти к оплате';
		const dropdown1 = {
				name: 'rooms1',
				header: 'dropdown',
				text: 'Default',
				item1: 'спальни',
				item2: 'кровати',
				item3: 'ванные комнаты'
			}
		const dropdown2 = {
				name: 'rooms2',
				header: 'dropdown',
				text: 'expanded',
				item1: 'спальни',
				item2: 'кровати',
				item3: 'ванные комнаты'
			}
		const dropdown3 = {
				name: 'guests1',
				header: 'dropdown',
				text: '',
				item1: 'взрослые',
				item2: 'дети',
				item3: 'младенцы',
				clear: '1'
			}
		const dropdown4 = {
				name: 'guests2',
				header: 'dropdown',
				text: 'Default',
				item1: 'взрослые',
				item2: 'дети',
				item3: 'младенцы',
				clear: '1'
			}
		const dropdown5 = {
				name: 'arrival',
				header: 'date Dropdown'
			}
		const dropdown6 = {
				name: 'departure',
				header: 'date Dropdown'
			}
		const datepickerText = ['применить', 'очистить'];

		const bullets = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'];
		const info1 = {
			img: 'insert_emoticon',
			header: 'Комфорт',
			text: 'Шумопоглощающие стены'
		}
		const info2 = {
			img: 'location_city',
			header: 'Удобство',
			text: 'Окно в каждой из спален'
		}
		const review = {
			img: 'img/murad.jpg',
			like: '12',
			head: 'Мурад Сарафанов',
			days: '5 дней назад',
			text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще 	потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
		}
		const paginationText = 'из 100+ вариантов аренды'

	+ui-kit
	.form-elements
		.form-elements__container
			section.form-elements__section.js-form-elements__section
				.form-elements__item.js-form-elements__item
					+input(input1)
				.form-elements__item.js-form-elements__item
					+input(input2)
				.form-elements__item.js-form-elements__item
					+dropdown(dropdown4)
				.form-elements__item.js-form-elements__item
					+input(input4)
				.form-elements__item.js-form-elements__item
					+dates-selector(dropdown5, dropdown6, datepickerText[0], datepickerText[1])
				.form-elements__item.js-form-elements__item
					+filter-date-driopdown(input9, datepickerText)
				.form-elements__item.js-form-elements__item
					+input(input8)
			section.form-elements__section.js-form-elements__section
				.form-elements__item.js-form-elements__item
					h3.form-elements__item-title.js-form-elements__item-title
						+title(headers.checkbox)
					+checkbox-list(checkboxList1)
				.form-elements__item.js-form-elements__item
					h3.form-elements__item-title.js-form-elements__item-title
						+title(headers.radio)
					+radio(radio)
				.form-elements__item.js-form-elements__item
					h3.form-elements__item-title.js-form-elements__item-title
						+title(headers.toggle)
					+toggle(toggleText)
					+toggle(toggleText)
				.form-elements__item.js-form-elements__item
					h3.form-elements__item-title.js-form-elements__item-title
						+title(headers.like)
					+like('2')
					+like('12')
				.form-elements__item.js-form-elements__item
					h3.form-elements__item-title.js-form-elements__item-title
						+title(headers.rate)
					+rate(4, 1)
					+rate(5, 1)
			section.form-elements__section.js-form-elements__section
				.form-elements__item.js-form-elements__item
					+range-slider(sliderTitle)
				.form-elements__item.js-form-elements__item
					h3.form-elements__item-title.js-form-elements__item-title
						+title(headers.buttons)
					.form-elements__btn
						+button({text: btnText, tag: 'div'})
					.form-elements__btn
						+button({text: btnText, tag: 'div', modifiers: ['translucent']})
					.form-elements__btn
						+button({text: btnText, tag: 'div', modifiers: ['themeLight']})
					.form-elements__btn
						+button({text: btnText, tag: 'div', modifiers: ['themeLight', 'translucent']})
					.form-elements__btn
						+button({text: btnText, tag: 'div', modifiers: ['text']})
					.form-elements__btn
						+button({text: btnText, tag: 'div', modifiers: ['text', 'colorGray']})
					.form-elements__btn
						+button({text: btnText2, tag: 'button', modifiers: ['themeArrow'], type: 'submit'})
				.form-elements__item.js-form-elements__item
					h3.form-elements__item-title.js-form-elements__item-title
						+title(headers.pagination)
					+pagination(1, 12, paginationText)
			section.form-elements__section.js-form-elements__section
				.form-elements__item.js-form-elements__item
					+dropdown(dropdown1)
				.form-elements__item.js-form-elements__item
					+dropdown(dropdown2)
			section.form-elements__section.js-form-elements__section
				.form-elements__item.js-form-elements__item
					+expandable-checkbox-list(headers.expandableList, checkboxList2)
				.form-elements__item.js-form-elements__item
					+expandable-checkbox-list(headers.expandableList, checkboxList2)
			section.form-elements__section.js-form-elements__section
				.form-elements__item.js-form-elements__item
					+dropdown(dropdown3)
			section.form-elements__section.js-form-elements__section
				.form-elements__item.js-form-elements__item
					h3.form-elements__item-title.js-form-elements__item-title
						+title(headers.richCeckbox)
					+checkbox-list(checkboxList3)
			section.form-elements__section.js-form-elements__section
				.form-elements__item.js-form-elements__item
					+dropdown(dropdown3)
			section.form-elements__section.js-form-elements__section
				.form-elements__item.js-form-elements__item
					h3.form-elements__item-title.js-form-elements__item-title
						+title(headers.bullet)
					ul.form-elements__bullet-list
						li.form-elements__bullet-item #{bullets[0]}
						li.form-elements__bullet-item #{bullets[1]}
						li.form-elements__bullet-item #{bullets[2]}
			section.form-elements__section.js-form-elements__section
				.form-elements__item.js-form-elements__item
					+info(info1)
				.form-elements__item.js-form-elements__item
					+info(info2)
			section.form-elements__section.js-form-elements__section
				.form-elements__item.js-form-elements__item
					+review(review)