@import '../../variables.scss';
.form-elements {
  width: 100%;
  max-width: 1200%*100/1440;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px;
  @media (max-width: 1440px) {
    max-width: $page-container;
  }
  @media (max-width: $page-container) {
    max-width: 100%;
  }
  .toggle__text {
    margin-bottom: 14px;
  }
}
.form-elements__grid-row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;

  @media (max-width: $page-inner-min) {
    display: block;
    max-width: 100vw;
    margin: 0 auto;
  }
  @media (max-width: $page-min) {
    max-width: $page-min;
  }
}
.form-elements__grid-column {
  padding-right: 18%*100/1200;
  // border: 1px solid red;
  padding-left: 21%*100/1200;
  &_1, &_4, &_7, &_41 {
    flex: 0 0 445%*100/1200;
    @media (max-width: $page-container) {
      flex: 1 0 362px;
    }
    @media (max-width: 1086px) {
      flex: 0 0 50%;
    }
    @media (max-width: 724px) {
      flex: 0 0 100%;
    }
  }
  &_1 {
    margin-bottom: 80px;
  }
  &_41 {
    order: 5;
  }
  &_2, &_5, &_51 {
    padding-left: 1.85%;
    flex: 0 0 392%*100/1200;
    @media (max-width: $page-container) {
      flex: 0 0 361px;
    }
    @media (max-width: 1086px) {
      flex: 0 0 50%;
    }
    @media (max-width: 724px) {
      flex: 0 0 100%;
    }
  }
  &_51 {
    order: 6;
  }
  &_3, &_6, &_61 {
    padding-left: 1.95%;
    flex: 0 0 362%*100/1200;
    @media (max-width: $page-container) {
      flex: 0 0 362px;
    }
    @media (max-width: 1086px) {
      flex: 0 0 50%;
    }
    @media (max-width: 724px) {
      flex: 0 0 100%;
    }
  }
  &_61 {
    order: 7;
  }
  &_7 {
    flex: 0 0 446%*100/1200;
    order: 8;
    @media (max-width: $page-container) {
      flex: 10 0 361px;
    }
    @media (max-width: 1086px) {
      flex: 0 0 50%;
    }
    @media (max-width: 724px) {
      flex: 0 0 100%;
    }
  }
  &_8 {
    flex: 0 0 754%*100/1200;
    order: 9;
    @media (max-width: $page-container) {
      flex: 0 0 724px;
    }
    @media (max-width: 1086px) {
      flex: 0 0 50%;
    }
    @media (max-width: 724px) {
      flex: 0 0 100%;
    }
  }
}
.form-elements__inner {
  max-width: 100vw;
  // border: 1px solid green;
  &_1, &_4, &_7, &_41 {
    width: 320%*100/404;
    @media (max-width: $page-container) {
      width: 320px;
    }
    @media (max-width: 1086px) {
      width: 100%;
    }
  }
  &_2, &_5, &_51 {
    width: 320%*100/350;
    @media (max-width: $page-container) {
      width: 320px;
    }
    @media (max-width: 1086px) {
      width: 100%;
    }
  }
}
.form-elements__item {
  max-width: 100vw;
  margin-bottom: 17px;
  &_2 {
    margin-bottom: 16.5px;
  }
  &_3 {
    margin-bottom: 20px;
  }
  &_4 {
    margin-bottom: 37px;
  }
  &_6 {
    margin-bottom: 38px;
  }
  &_5 {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 38px;
  }
  &_6, &_7, &_16, &_17, &_18, &_19, &_21, &_23 {
    width: 266%*100/320;
  }
  &_8 {
    width: 222%*100/320;
    margin-bottom: 30px;
    padding-top: 5px;
  }
  &_9 {
    margin-bottom: 40px;
  }
  &_10 {
    margin-bottom: 45px;
  }
  &_11 {
    margin-bottom: 41px;
  }
  &_13 {
    width: 266%*100/320;
    margin-bottom: 44px;
    padding-top: 4px;
  }
  &_14 {
    margin-bottom: 38px;    
  }
  &_15 {
    margin-bottom: 40px;
    .paginationjs-page, .paginationjs-ellipsis {
      margin-right: 0;
    }
  }
  &_16 {
    margin-bottom: 15px;
    .iqdropdown-menu {
      z-index: 10;
    }
  }
  &_17 {
    margin-bottom: 173px;
  }
  &_18, &_19 {
    margin-bottom: 50px;
    h3 {
      position: relative;
      display: block;
    }
    h3::after {
      content: 'expand_more';
      position: absolute;
      top: -1px;
      right: 12px;
      display: block;
      font-weight: 400;
      font-size: 24px;
      font-family: 'Material Icons';
      text-align: center;
      color: $black-50;
      text-transform: none;
      background: $white;
      border-radius: 4px;
    }
  }
  &_19 {
    margin-bottom: 91px;
    h3 {
      margin-bottom: 18px;
    }
    h3::after {
      transform: rotate(180deg);
    }
  }
  &_20, &_22 {
    margin-bottom: 255px;
  }
  &_21 {
    margin-bottom: 40px;
    padding-right: 5px;
    h3 {
      margin-bottom: 17px;
    }
  }
  &_23 {
    margin-bottom: 40px;
    padding-right: 5px;
    h3 {
      margin-bottom: 14px;
    }
  }
  &_24 {
    margin-bottom: 20px;
  }
  &_24, &_25 {
    width: 280%*100/320;
  }
  &_25 {
    margin-bottom: 50px;
  }
  &_26 {
    margin-bottom: 147px;
    padding-top: 10px;
  }
}
.form-elements__item-inner {
  display: inline-block;
  &_1 {
    flex: 0 0 150%*100/320;
  }
  &_2 {
    flex: 0 0 150%*100/320;
  }
}
.form-elements__space {
  flex: auto;
}
.form-elements__item-header {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2em;
  font-family: Montserrat, Arial, sans-serif;
  color: $black;
  text-transform: uppercase;
}
.form-elements__item-8-header {
  margin-bottom: 16px;
}
.form-elements__item-9-header {
  margin-bottom: 15px;
}
.form-elements__item-10-header {
  margin-bottom: 15px;
}
.form-elements__item-11-header {
  margin-bottom: 15px;
}
.form-elements__item-12-header {
  margin-bottom: 17px;
}
.form-elements__rate-1-star, .form-elements__rate-2-star {
  cursor: pointer;
}
.form-elements__item-14-header {
  margin-bottom: 16px;
}
.form-elements__btn {
  display: inline-block;
  width: 99px;
  margin-right: 15px;
  margin-bottom: 30px;
  &_4 {
    margin-right: 30px;
  }
  &_5, &_6 {
    width: 61px;
    margin-bottom: 17px;
  }
  &_7 {
    margin-bottom: 41px;
    display: block;
    width: 100%;
  }
}
.form-elements__item-15-header {
  margin-bottom: 16px;
}
.form-elements__info-1 {
  border-bottom: 1px solid $black-10;
}
.form-elements__input {
  letter-spacing: -0.2px;
  &_uppercase {
    text-transform: uppercase;
  }
}
.form-elements__revew-1-container {
  padding-right: 1px;
}
.form-elements__bullet-item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
}
.form-elements__bullet-item::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  background-color: $black-25;
  border-radius: 5px;
}