$displays: none, inline, inline-block, block !default;
$grid-breakpoints: (
  xs: 0,
  md: 768px,
  lg: 1170px  
) !default;
$grid-columns:                12 !default;
$grid-columns-md:                12 !default;
$grid-columns-lg:                12 !default;
$grid-gutter-width:           30px !default;
$grid-gutter-width-md:           30px !default;
$grid-gutter-width-lg:           30px !default;
$container-width: 320px !default;
$container-width-md: 750px !default;
$container-width-lg: 1200px !default;
$container-gutter-width:           30px !default;
$container-gutter-width-md:           30px !default;
$container-gutter-width-lg:           30px !default;