mixin rate(className, n, active)
	div(class= "rate js-rate " + className data-active=active)
		- for (let i = 0; i <5 ; i++)
			if i < n
				i(class= "rate__star") star
			else
				i(class= "rate__star") star_border