mixin rate(cl, n, active)
	div(class= "rate " + cl)
		.rate__active #{active}
		- for (let i = 0; i <5 ; i++)
			if i < n
				i(class= "rate__star") star
			else
				i(class= "rate__star") star_border