@import '../../variables.scss';
.rate {
  display: inline-block;
  margin-right: 16px;
  vertical-align: top;
}
.rate__n, .rate__active, .rate__number {
  display: none;
}
.rate__star {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 23.91px;
  font-family: 'Material Icons';
  color: $purple;
  cursor: default;
}