@import "../../variables.scss";

.rate {
  display: inline-block;
  margin-right: 16px;
  vertical-align: top;

  &__n,
  &__active,
  &__number {
    display: none;
  }

  &__star {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    line-height: 23.91px;
    font-family: "Material Icons";
    color: $purple;
    cursor: default;
  }
}