mixin rate(value, active)
	-
		let className;
		if(active) {
			className = "rate rate_active js-rate"
		} else {
			className = "rate js-rate"
		}
	div(class= className data-active=active)
		- for (let i = 0; i <5 ; i++)
			if i < value
				i(class= "rate__star") star
			else
				i(class= "rate__star") star_border