@import '../../variables.scss';
.inputs-block__inputs-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 18px;
  .input__header {
    word-break: break-all;
  }
  input {
    &::-webkit-input-placeholder {
      color: $black-75;
    }
    &::-moz-placeholder {
      color: $black-75;
    }
    &:-moz-placeholder {
      color: $black-75;
    }
    &:-ms-input-placeholder {
      color: $black-75;
    }
  }
}
.inputs-block__arrival-wrapper, .inputs-block__departure-wrapper {
  margin-top: auto;
  flex: 0 0 47.24%;
  .input__icon {
    @media (max-width: 350px) {
      width: 32px;
    }
  }
}
.inputs-block__arrival-wrapper {
  margin-right: auto;
}
.inputs-block__arrival-wrapper .input__field, .inputs-block__departure-wrapper .input__field {
  text-transform: uppercase;
  letter-spacing: -0.4px;
  cursor: default;
  &:hover {
    border: 1px solid $black-25;
  }
  @media (max-width: 350px) {
    padding-left: 12px;
  }
}
.inputs-block .dropdown__container {
  margin-bottom: 19px;
}
.inputs-block__datepicker-wrapper {
  position: relative;
}
.inputs-block__datepicker-container {
  position: absolute;
  top: -10px;
  z-index: 10;
  display: none;
  width: 100%;
  background: $white;
  &_visible {
    display: block;
  }
}
