.ui-kit {
  height: 140px;
  padding-top: 30px;
  padding-left: 30px;
}
.ui-kit-logo {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
  background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2248%22%20height%3D%2248%22%3E%3Cpath%20fill%3D%22%231f2041%22%20fill-opacity%3D%22.25%22%20d%3D%22M23.996%2032.468a1.416%201.416%200%200%201-1.412-1.412c0-5.435-4.447-9.882-9.882-9.882a1.416%201.416%200%200%201-1.412-1.412c0-.777.635-1.412%201.412-1.412%207.023%200%2012.706%205.682%2012.706%2012.706%200%20.776-.636%201.412-1.412%201.412zM36.701%2019.762c0%20.776-.635%201.412-1.412%201.412a9.851%209.851%200%200%200-8.117%204.27%2014.447%2014.447%200%200%200-1.412-2.753%2012.588%2012.588%200%200%201%209.53-4.341c.776%200%201.411.635%201.411%201.412z%22%2F%3E%3Cpath%20fill%3D%22%231f2041%22%20fill-opacity%3D%22.25%22%20d%3D%22M24%2048C10.765%2048%200%2037.235%200%2024S10.765%200%2024%200s24%2010.765%2024%2024-10.765%2024-24%2024zm0-45.176C12.318%202.824%202.824%2012.318%202.824%2024c0%2011.682%209.494%2021.176%2021.176%2021.176%2011.682%200%2021.177-9.494%2021.177-21.176%200-11.682-9.495-21.176-21.177-21.176z%22%2F%3E%3C%2Fsvg%3E') left top no-repeat;
}