extends ../../base.pug
block description
	meta(name='description', content="Отель «Toxin» - регистрация нового пользователя.")
	meta(name='keywords', content="отель, toxin, гостиница, регистрация аккаунта, зарегистрироваться, получить спецпредложение")
block title
	|  Отель «Toxin» - регистрация
block main
	include ../../components/header/header.pug
	include ../../components/registration-form/registration-form.pug
	include ../../components/footer/footer.pug
	+header
	main.registration
		.registration__container
			+registration-form
	+footer