extends ../../base.pug
block description
	meta(name='description', content="Отель «Toxin» - регистрация нового пользователя.")
	meta(name='keywords', content="отель, toxin, гостиница, регистрация аккаунта, зарегистрироваться, получить спецпредложение")
block title
	|  Отель «Toxin» - регистрация
block main
	include ../../components/header/header.pug
	include ../../components/registration-form/registration-form.pug
	include ../../components/footer/footer.pug
	-
		const registrationFormData = {
			title: 'Регистрация аккаунта',
			input1: {
				header: '',
				type: 'text',
				name: 'name',
				value: '',
				placeholder: 'Имя',
				text: '',
				modifiers: ['themeLight']
			},
			input2: {
				header: '',
				type: 'text',
				name: 'surname',
				value: '',
				placeholder: 'Фамилия',
				text: '',
				modifiers: ['themeLight']
			},
			radio: {
				name: 'registration-form__radio',
				text: ['Мужчина', 'Женщина']
			},
			input3: {
				header: 'дата рождения',
				type: 'text',
				name: 'birthday',
				value: '',
				placeholder: 'дд.мм.гггг',
				text: '',
				modifiers: ['themeUpprecase', 'typeMasked']
			},
			input4: {
				header: 'данные для входа в сервис',
				type: 'email',
				name: 'email',
				value: '',
				placeholder: 'Email',
				text: '',
				modifiers: ['themeLight']
			},
			input5: {
				header: '',
				type: 'password',
				name: 'password',
				value: '',
				placeholder: 'Пароль',
				text: '',
				modifiers: ['themeLight']
			},
			toggle: {
				text: ['Получать спецпредложения']
			},
			btnText: 'перейти к оплате',
			footerText: 'Уже есть аккаунт на Toxin',
			btnText2: 'войти'
		}

	+header
	main.registration
		.registration__container
			+registration-form(registrationFormData)
	+footer