extends ../../base.pug
block title
	| Registration
block main
	.registration
		header.registration__header
			include ../../components/page-header/page-header.pug
		main.registration__wrap
			.registration__container
				.registration__inner
					include ../../components/reg/reg.pug
		.page__space
		include ../../components/page-footer/page-footer.pug