@import "../../variables.scss";
.cards__page {
	background: $grey;
}
.cards__container {
	padding-top: 10px;
	width: 1200%*100/1440;
	// border: 1px solid green;
	margin: 0 auto;
	@media (max-width: 1440px) {
		width: $page-container;
	}
	@media (max-width: $page-container) {
		width: 100%;
	}
}
.cards__row {
	display: flex;
	flex-wrap: wrap;
	// border: 1px solid yellow;
}
.cards__col {
	// border: 1px solid blue;
	flex: 0 0 420%*100/1200;
	&--3 {
		flex: 0 0 360%*100/1200;
	}
	@media (max-width: $page-container) {
		flex: 1 0 380px;
	}
	@media (max-width: 420px) {
		display: block;
		width: 100%;
	}
}
.cards__inner {
	// border: 1px solid red;
	box-shadow: 0 0 25px $shadow;
border-radius: 4px;
background-color: $white;
	margin: 0 auto;
	width: 380%*100/420;
	&--3 {
		width: 320%*100/360;
	}
	@media (max-width: $page-container) {
		min-width: 380px;
	}
	@media (max-width: 380px) {
		overflow-x: hidden;
	}
}
.cards__content {
	// border: 1px solid green;
	margin: 0 auto;
	width: 320%*100/380;
	&--5 {
		width: 100%;
	}
	@media (max-width: 380px) {
		max-width: 315px;
	}
}
// .cards__h1 {
	
// }
// .cards__input-wrap {
// 	display: inline-block;
// 	width: 147%*100/320;
// 	&--1 {
// 		margin-right: 20%*100/320;
// 	}
// }