extends ../../base.pug
block title
	| Cards
block main
	.cards__page
		include ../../components/ui_kit/ui_kit.pug
		include ../../components/input/input.pug
		.cards__container
			.cards__row
				.cards__col.cards__col--1
					.cards__inner.cards__inner--1
				.cards__col.cards__col--2
					.cards__inner.cards__inner--2
				.cards__col.cards__col--3
					.cards__inner.cards__inner--3