extends ../../base.pug
block title
	| Cards
block main
	.cards__page
		include ../../components/ui_kit/ui_kit.pug
		include ../../components/card/card.pug
		- 
			let RoomData = function(img, num, lux, price, rate, rev) {
				this.img = img;
				this.num = num;
				this.lux = lux;
				this.price = price;
				this.rate = rate;
				this.rev = rev;
			};
			let a = new RoomData(['img/image1.jpg', 'img/image2.jpg', 'img/image3.jpg', 'img/image4.jpg'], 888, 'люкс', '9 990', 5, 145);
		.cards__container
			.cards__row
				.cards__col.cards__col--1
					.cards__inner.cards__inner--1
						.cards__content.cards__content--1
							include ../../components/search/search.pug
					.cards__inner.cards__inner--2
						.cards__content.cards__content--2
							include ../../components/reg/reg.pug
				.cards__col.cards__col--2
					.cards__inner.cards__inner--3
						.cards__content.cards__content--3
							include ../../components/room/room.pug
					.cards__inner.cards__inner--4
						.cards__content.cards__content--4
							include ../../components/login/login.pug
				.cards__col.cards__col--3
					.cards__inner.cards__inner--5
						.cards__content.cards__content--5
							include ../../components/datepicker/datepicker.pug
					.cards__inner.cards__inner--6
						.cards__content.cards__content--6
							+card('cards__card-1', a)
					.cards__inner.cards__inner--7
						.cards__content.cards__content--7
