extends ../../base.pug
block title
	| Cards
block main
	.cards__page
		include ../../components/ui_kit/ui_kit.pug
		include ../../components/card/card.pug
		- 	
			let RoomData = function(img, num, lux, price, rate, rev) {
				this.img = img;
				this.num = num;
				this.lux = lux;
				this.price = price;
				this.rate = rate;
				this.rev = rev;
			};
			let data = [
				new RoomData(['img/image1.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 888, 'люкс', '9 990', 5, 145),
				new RoomData(['img/image2.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 840, '', '9 990', 4, 65)
				];
		.cards__container
			.cards__row
				.cards__col.cards__col_1
					.cards__inner.cards__inner_1
						.cards__content.cards__content_1
							include ../../components/search/search.pug
					.cards__inner.cards__inner_2
						.cards__content.cards__content_2
							include ../../components/reg/reg.pug
				.cards__col.cards__col_2
					.cards__inner.cards__inner_3
						.cards__content.cards__content_3
							include ../../components/room/room.pug
					.cards__inner.cards__inner_4
						.cards__content.cards__content_4
							include ../../components/login/login.pug
				.cards__col.cards__col_3
					.cards__inner.cards__inner_5
						.cards__content.cards__content_5
							include ../../components/datepicker/datepicker.pug
					.cards__inner.cards__inner_6
						.cards__content.cards__content_6
							+card('cards__card-1', data[0])
					.cards__inner.cards__inner_7
						.cards__content.cards__content_7
							+card('cards__card-1', data[1])
