include ../../components/checkbox/checkbox.pug

mixin checkbox-list(data)
	-
		const {text, title} = data
	.checkbox-list
		-
			const texts = [];
			for (let i = 0; i < text.length; i += 1) {
				texts.push({text: text[i], title: ''});
				if (title) {
					texts[i].title = title[i];
				}
			}
		each value, i in texts
			-
				const header = texts[i].title;
				const text = texts[i].text;
			+checkbox(i, header, text)
