include ../../components/checkbox/checkbox.pug

mixin checkbox-list(data)
	.checkbox-list
		each value, i in data
			-
				const header = data[i].title;
				const text = data[i].text;
				const name = data[i].name;
			.checkbox-list__checkbox
				+checkbox(header, text, name)
