include ../../components/checkbox/checkbox.pug

mixin checkbox-list(data = {})
	-
		const {texts, title = null} = data
	.checkbox-list
		each value, i in texts
			-
				let header = '';
				if (title) {
					header = title[i];
				}
				const text1 = texts[i];
			+checkbox(i, header, text1)
