include ../../components/checkbox/checkbox.pug

mixin checkbox-list(data = {})
	-
		const {texts, titles = null} = data
	.checkbox-list
		each value, i in texts
			-
				let header = '';
				if (titles) {
					header = titles[i];
				}
				const text = texts[i];
			.checkbox-list__checkbox
				+checkbox(header, text)
