include ../../components/checkbox/checkbox.pug

mixin checkbox-list(data)
	- 
		const names = data.map(item => item.name);
		const titles = data.map(item => item.title);
		const texts = data.map(item => item.text);
	.checkbox-list
		each value, i in names
			-
				const header = titles[i];
				const text = texts[i];
				const name = names[i];
			.checkbox-list__checkbox
				+checkbox(header, text, name)
