@import "../../variables.scss";

.index {
  position: relative;
  z-index: 0;
  width: 100%;
  background: transparent center bottom no-repeat;
  background-size: cover;
  animation-name: bg;
  animation-duration: 45s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.index__container {
  width: 100%;
  max-width: 1200%*100/1440;
  margin: 0 auto;
  // border: 1px solid blue;
  padding-right: 20%*100/1440;
  padding-left: 20%*100/1440;
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;

  @media (max-width: 1440px) {
    max-width: $page-container;
  }

  @media (max-width: $page-container) {
    max-width: 100%;
  }

  @media (max-width: $mobile-menu-breakpoint) {
    padding-top: 30px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    text-align: center;
  }
}

.index__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25em;
  font-family: "Open Sans", Arial, sans-serif;
  color: $black;
  display: block;
  flex: 0 0 100%;
  margin-bottom: 50px;
  font-family: Open Sans;
}

.index__column {
  flex: 0 0 50%;
}

.index__subtitle {
  font-weight: 700;
  font-size: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  color: $black;
  display: block;
  margin-bottom: 30px;
  font-family: Open Sans;
}

.index__links-list {
  display: block;
  margin-bottom: 50px;
}

.index__links-item {
  display: block;
  margin-bottom: 20px;
}

.index__link {
  text-decoration: none;
  color: $black-50;

  &:hover {
    color: $black-text;
  }
}
