extends ../../base.pug
block description
	meta(name='description', content="Project links")
block title
	| Project links
block main
	main.index
		.page__container
			.index__container
				h1.index__header Ссылки на страницы проекта
				.index__col
					h2.index__header-2 Ui-Kit
					ul.index__links-list
						li.index__links-item
							a(href="colors-types.html" class="index__link") Colors & Type
						li.index__links-item
							a(href="form-elements.html" class="index__link") Form Elements
						li.index__links-item
							a(href="cards.html" class="index__link") Cards
						li.index__links-item
							a(href="headers-footers.html" class="index__link") Headers & Footers
				.index__col
					h2.index__header-2 Страницы сайта
					ul.index__links-list
						li.index__links-item
							a(href="landing.html" class="index__link") Landing page
						li.index__links-item
							a(href="search-room.html" class="index__link") Search Room/Filter
						li.index__links-item
							a(href="room-details.html" class="index__link") Room Details
						li.index__links-item
							a(href="registration.html" class="index__link") Registration
						li.index__links-item
							a(href="sign-in.html" class="index__link") Sign In
