extends ../../base.pug
block title
	| Project links
block main
	main.index
		.page__container.index__container
			h1.index__h1 Ссылки на страницы проекта
			.index__col
				h2.index__h2 Ui-Kit
				ul.index__ul
					li.index__li
						a.index__a(href="colors-types.html") Colors & Type
					li.index__li
						a.index__a(href="form-elements.html") Form Elements
					li.index__li
						a.index__a(href="cards.html") Cards
					li.index__li
						a.index__a(href="headers-footers.html") Headers & Footers
			.index__col
				h2.index__h2 Страницы сайта
				ul.index__ul
					li.index__li
						a.index__a(href="landing.html") Landing page
					li.index__li
						a.index__a(href="search_room.html") Search Room/Filter
					li.index__li
						a.index__a(href="room-details.html") Room Details
					li.index__li
						a.index__a(href="registration.html") Registration
					li.index__li
						a.index__a(href="sign_in.html") Sign In
