extends ../../base.pug
block title
	| Project links
block main
	header.index__header
		include ../../components/page_header/page_header.pug
	main.index__wrap
		.page__container.index__container
			h1.index__h1 Ссылки на страницы проекта
			.index__col
				h2.index__h2 Ui-Kit
				ul.index__ul
					li.index__li
						a.index__a(href="colors_types.html") Colors & Type
					li.index__li
						a.index__a(href="form_elements.html") Form Elements
					li.index__li
						a.index__a(href="cards.html") Cards
					li.index__li
						a.index__a(href="headers_footers.html") Headers & Footers
			.index__col
				h2.index__h2 Страницы сайта
				ul.index__ul
					li.index__li
						a.index__a(href="landing.html") Landing page
					li.index__li
						a.index__a(href="search_room.html") Search Room/Filter
					li.index__li
						a.index__a(href="room_details.html") Room Details
					li.index__li
						a.index__a(href="registration.html") Registration
					li.index__li
						a.index__a(href="sign_in.html") Sign In
	.page__space
	include ../../components/page_footer/page_footer.pug