@import '../../variables.scss';
@keyframes bg {
  0% {
    background-image: url('bg3.jpg');
  }

  33% {
    background-image: url('bg2.jpg');
  }

  66% {
    background-image: url('bg1.jpg');
  }
  100% {
    background-image: url('bg3.jpg');
  }
}
@keyframes text {
  0% {
    background: transparent;
  }

  33% {
    background: $white;
  }

  66% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
.index__header {
  position: relative;
  z-index: 10;
  box-shadow: 0 10px 20px $black-5;
}
.index__container {
  padding-right: 20%*100/1440;
  padding-left: 20%*100/1440;
}
.index__wrap {
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 830px;
  background: transparent center bottom no-repeat;
  background-size: cover;
  animation-name: bg;
  animation-duration: 45s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  @media (max-width: $mobile-menu-breakpoint) {
    min-height: 560px;
  }
}

.index__row {
  display: flex;
  flex-wrap: nowrap;
  &--1 {
    margin-bottom: 50px;
    padding-top: 68px;
    @media (max-width: $mobile-menu-breakpoint) {
      margin-bottom: 50px;
    }
  }
  &--2 {
    min-height: 315px;
    @media (max-width: $mobile-menu-breakpoint) {
      min-height: 45px;
    }
  }
}
.index__col-1 {
  flex: 0 0 380px;
  // border: 1px solid green;
  @media (max-width: $page-container) {
    flex: 0 0 380px;
  }
  @media (max-width: 420px) {
    display: block;
    flex: none;
    width: 100%;
  }
}
.index__form-wrap {
  // border: 1px solid red;
  width: 100%;
  margin: 0;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 0 25px $shadow;
  @media (max-width: $page-container) {
    min-width: 380px;
  }
  @media (max-width: 390px) {
    // overflow-x: hidden;
    // width: 100%;
    min-width: 100%;
  }
}
.index__form {
  width: 320%*100/380;
  margin: 0 auto;
  min-width: 280px;
  @media (max-width: 380px) {
    max-width: 315px;
  }
}
.index__col-2, .index__col-3 {
  flex: auto;
}
.index__col-4 {
  padding-right: 0;
  margin-top: auto;
  margin-right: -9px;
  flex: 0 0 300px;
  text-align: right;
  @media (max-width: $mobile-menu-breakpoint) {
    margin-right: 0;
  }
  @media (max-width: 380px) {
    // padding-right: 15px;
  }
}
.index__p {
  animation-name: text;
  animation-duration: 45s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  color: $black-75;
  padding-right: 3px;
  border-radius: 4px;
}