@import "../../variables.scss";
@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: "Quicksand";

	src: url("../../fonts/Quicksand-Regular.woff");
	src: url("../../fonts/Quicksand-Regular.ttf") format("truetype"), url("../../fonts/Quicksand-Regular.svg") format("svg");
}
@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: "Quicksand";

	src: url("../../fonts/Quicksand-Bold.woff");
	src: url("../../fonts/Quicksand-Bold.ttf") format("truetype"), url("../../fonts/Quicksand-Bold.svg") format("svg");
}
@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: "Montserrat";

	src: url("../../fonts/Montserrat-Regular.woff");
	src: url("../../fonts/Montserrat-Regular.ttf") format("truetype"), url("../../fonts/Montserrat-Regular.svg") format("svg");
}
@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: "Montserrat";

	src: url("../../fonts/Montserrat-Bold.woff");
	src: url("../../fonts/Montserrat-Bold.ttf") format("truetype"), url("../../fonts/Montserrat-Bold.svg") format("svg");
}
@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: "Material Icons";

	src: url("../../fonts/MaterialIcons-Regular.woff");
	src: url("../../fonts/MaterialIcons-Regular.ttf") format("truetype"), url("../../fonts/MaterialIcons-Regular.svg") format("svg");
}

html {
	box-sizing: border-box;

	-ms-overflow-style: scrollbar;
}

*, *::before, *::after {
	box-sizing: inherit;
}
h1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2em;
	font-family: Quicksand;
	color: #1f2041;
}
h2 {
	font-weight: 700;
	font-size: 19px;
	line-height: 1.2em;
	font-family: Quicksand;
	color: $black;
}
h3 {
	font-weight: 700;
	font-size: 12px;
	line-height: 1.2em;
	font-family: Montserrat;
	color: $black;
	text-transform: uppercase;
}
h4 {
	text-transform: none;
	color: $black-75;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 18px;
}
p {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	line-height: 1.6em;
	font-family: Montserrat;
	color: $black-75;
}
.page__wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 320px;
	height: 100%;
	margin: 0 auto;
	// overflow-x: hidden;
	// border: 1px solid green;
}
.page__inner {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	min-width: $page-inner-min;
	max-width: $page-inner-max;
	// border: 1px solid red;
	transform: translateX(-50%);
}
.page__container {
	width: 100%;
	max-width: 1200%*100/1440;
	margin: 0 auto;
	// border: 1px solid blue;
	@media (max-width: 1440px) {
		max-width: $page-container;
	}
	@media (max-width: $page-container) {
		max-width: 100%;
	}
}
// .row {
// 	display: flex;
// 	flex-wrap: wrap;
// }
// .col {
// 	position: relative;
// 	width: 100%;
// 	padding-right: 15px;
// 	padding-left: 15px;
// }

// .col {
// 	flex-grow: 1;
// 	flex-basis: 0;
// 	max-width: 100%;
// }

// .col-auto {
// 	flex: 0 0 auto;
// 	width: auto;
// 	max-width: 100%;
// }

// .col-1 {
// 	flex: 0 0 8.33333%;
// 	max-width: 8.33333%;
// }