@import "../../variables.scss";

.filter-date-driopdown {

  &__datepicker-wrapper {
    position: relative;
  }

  &__datepicker-container {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 10;
    display: none;
    width: 320px;
    border-radius: 4px;
    background: $white;

    @media (max-width: 905px) {
      width: 100%;
    }

    &_visible {
      display: block;
    }
  }
}