mixin filter-date-driopdown(input1, datepickerText)
	include ../../components/input/input.pug
	include ../../components/datepicker-block/datepicker-block.pug
	.filter-date-driopdown.js-filter-date-driopdown
		+input(input1)
		.filter-date-driopdown__datepicker-wrapper
			.filter-date-driopdown__datepicker-container.js-filter-date-driopdown__datepicker-container
				+datepicker(datepickerText[0], datepickerText[1])