mixin search-form(data)
	include ../../components/dates-selector/dates-selector.pug
	include ../../components/btn/btn.pug
	-
		const {title, dropdown1, dropdown2,	dropdown3, btnText} = data;
	article.search-form
		h1.search-form__title #{title}
		form.search-form__form
			.search-form__dates-selector
				+dates-selectorO(dropdown1, dropdown2)
			+dropdownO(dropdown3)
			.search-form__button
				+btn(btnText, 'submit', 'theme_arrow')
