@import '../../variables.scss';
.search-form {
  padding-top: 40px;
  padding-bottom: 30px;
}
.search-form__header-wrapper {
  margin-bottom: 17px;
}
.search-form__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25em;
  font-family: 'Open Sans', Arial, sans-serif;
  color: $black;
}
.search-form__inputs-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 18px;
  .input__header {
    word-break: break-all;
  }
  input {
    &::-webkit-input-placeholder {
      color: $black-75;
    }
    &::-moz-placeholder {
      color: $black-75;
    }
    &:-moz-placeholder {
      color: $black-75;
    }
    &:-ms-input-placeholder {
      color: $black-75;
    }
  }
}
.search-form__input-1-wrapper, .search-form__input-2-wrapper {
  margin-top: auto;
  flex: 0 0 47.24%;
  .input__icon {
    @media (max-width: 350px) {
      width: 32px;
    }
  }
}
.search-form__input-1-wrapper {
  margin-right: auto;
}
.search-form__input-1, .search-form__input-2 {
  text-transform: uppercase;
  letter-spacing: -0.4px;
  cursor: default;
  &:hover {
    border: 1px solid $black-25;
  }
  @media (max-width: 350px) {
    padding-left: 12px;
  }
}
.search-form__dropdown-container {
  margin-bottom: 30px;
}
.search-form__datepicker-wrapper {
  position: relative;
}
.search-form__datepicker-container {
  position: absolute;
  top: -10px;
  z-index: 10;
  display: none;
  width: 100%;
  background: $white;
}
.search-form__link {
  text-decoration: none;
}