mixin search-form
	include ../../components/inputs-block/inputs-block.pug
	article.search-form
		h1.search-form__title Найдём номера под ваши пожелания
		form.search-form__form
			+inputs-block
			.search-form__btn-wrapper
				a(href="search-room.html" class="btn btn_witch-arrow") подобрать номер
