mixin search-form
	include ../../components/input/input.pug
	include ../../components/dropdown/dropdown.pug
	include ../../components/datepicker/datepicker.pug
	article.search-form
		.search-form__header-wrapper
			h1.search-form__header Найдём номера под ваши пожелания
		form.search-form__form
			.search-form__inputs-wrapper
				.search-form__input-1-wrapper
					+input(
					'прибытие', 
					'text', 
					'arrival', 
					'', 
					'', 
					'ДД.ММ.ГГГГ', 
					'', 
					'expand_more')
				.search-form__input-2-wrapper
					+input(
					'выезд', 
					'text', 
					'departure', 
					'', 
					'', 
					'ДД.ММ.ГГГГ', 
					'', 
					'expand_more')
			.search-form__datepicker-wrapper
				.search-form__datepicker-container
					+datepicker
			+dropdown(
			'peoples',
			'', 
			'гости', 
			'', 
			'взрослые', 
			'дети', 
			'младенцы',
			'1')
			a(href="search-room.html" class="search-form__link")
				.btn.btn_arrow подобрать номер