mixin search-form
	include ../../components/dates-selector/dates-selector.pug
	article.search-form
		h1.search-form__title Найдём номера под ваши пожелания
		form.search-form__form
			.search-form__dates-selector
				+dates-selector
			+dropdown(
				'peoples',
				'guests', 
				'гости', 
				'', 
				'взрослые', 
				'дети', 
				'младенцы',
				'1')
			.search-form__button
				button(type="submit" class="btn btn_witch-arrow btn_submit")  подобрать номер
