@import '../../variables.scss';

.page-header {
  position: relative;
  z-index: 10;
  box-shadow: 0 10px 20px $black-5;
  .header {
    padding-top: 15px;
  }
  .header__navigation-list-wrapper {
    padding-top: 13px;
    padding-right: 11px;
    @media (max-width: $mobile-menu-breakpoint) {
      padding-right: 0;
    }
  }
  .header__arrow {
    width: 20px;
    text-align: right;
  }
  .header__navigation-item {
    margin-right: 34px;
    @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    &:nth-child(1) {
      margin-right: 18px;
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:nth-child(2) {
      margin-right: 41px;
      .header__navigation-item_submenu a {
        min-width: 65px;
      }
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:nth-child(3) {
      margin-right: 17px;
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:nth-child(4) {
      margin-right: 17px;
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:last-child {
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
  .header__navigation-item_submenu {
    margin-right: 0;
    @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    &:nth-child(1) {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:nth-child(2) {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:nth-child(3) {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:nth-child(4) {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:last-child {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .header__user-block {
    margin-bottom: 0;
    flex: 0 1 303px;
    @media (max-width: $mobile-menu-breakpoint) {
      flex: none;
    }
  }
  .header__btn-content {
    @media (max-width: 950px) {
      width: 303px;
      margin-right: 24px;
    }
    @media (max-width: $mobile-menu-breakpoint) {
      width: 100%;
      margin: 0 auto;
    }
  }
}