@import "../../variables.scss";
.footer__container {	
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;
	width: 100%;
	max-width: 1200%*100/1440;
	margin: 0 auto;
}
.footer__col {
	// border: 1px solid red;
	&--1, &--5 {
		flex: 1 0 300%*100/1200;
		min-width: 300px;
		padding-left: 20%*100/1200;
	padding-right: 20%*100/1200;
	}
	&--2, &--3, &--4 {
		flex: 1 0 200%*100/600;
		padding-left: 20%*100/600;
	padding-right: 20%*100/600;
	padding-top: 2px;
	}
	&--2, &--3 {
		min-width: 125px;
	}
	&--4 {
		min-width: 155px;
	}
}
.footer__nav {
	display: flex;
	flex-wrap: nowrap;
	flex: 1 1 600%*100/1200;
	@media (max-width: 600px) {
		flex-wrap: wrap;
	}
}
.footer__logo {
	margin-bottom: 15px;
}
.footer__p {
	line-height: 1.75em;
}