@import '../../variables.scss';
.datepicker__container {
  width: 100%;
  padding-right: 4.75%;
  padding-left: 4.75%;
  background: $white;
  border: 1px solid $black-25;
  border-radius: 4px;
}
.datepicker {
  width: 100%;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  border: none;
}
.datepicker--nav {
  height: 57px;
  border: none;
}
.datepicker--days-names {
  height: 31px;
}
.datepicker--day-name {
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  color: $purple;
}
.datepicker--nav-title, .datepicker--nav-title i {
  font-weight: 700;
  font-size: 19px;
  font-family: 'Open Sans', Arial, sans-serif;
  color: $black;
}
.datepicker--cell {
  height: 40px;
  border-radius: 20px;
  @media (max-width: 380px) {
    height: 36px;
  }
  @media (max-width: 355px) {
    height: 33px;
  }
}
.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-, .datepicker--cell.-current-.-focus-, .datepicker--cell.-range-from-, .datepicker--cell.-range-from-.-other-month-.-selected-, .datepicker--cell.-range-to-, .datepicker--cell.-range-to-.-other-month-.-selected-, .datepicker--cell.-selected-.-focus-, .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-day.-other-month-.-focus- {
  position: relative;
  font-weight: 700;
  background: $gradient-purple;
  border-radius: 20px;
  transform-style: preserve-3d;
  border: none;
  color: $white;
}
.datepicker--cell.-selected-.-current-, .datepicker--cell.-current-.-focus- {
  background: $gradient-green;
}
.datepicker--cell-day.-other-month-:hover {
    color:  $white;
}
.datepicker--cell.-range-from-::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: $bg-purple;
  transform: translateZ(-1px);
}
.datepicker--cell.-range-to-::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: $bg-purple;
  transform: translateZ(-1px);
}
.datepicker--cell.-current-.-in-range- {
  background: $gradient-purple;
  border-radius: 20px;
  color: $white;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: $bg-purple;
    transform: translateZ(-1px);
  }
}
.datepicker--cell.-in-range- {
  color: $black-50;
  background: $bg-purple;
  &.-focus- {
    background: $bg-purple;
  }
}
.datepicker--cell.-current- {
  font-weight: 700;
  font-family: Montserrat, Arial, sans-serif;
  color: $white;
  background: $gradient-green;
}
.datepicker--cell.-disabled-.-focus- {
  background: transparent;
  font-weight: 400;
  border-radius: none;
}
.-selected-.datepicker--cell-day.-other-month- {
  font-weight: 400;
  color: $white;
  // background: transparent;
}
.datepicker--cell-day.-other-month-::before, .datepicker--cell-day.-other-month-:hover, .-selected-.datepicker--cell-day.-other-month-:hover {
  color: $white;
  // background: transparent;
}
.-in-range-.datepicker--cell-day.-other-month- {
  // background: transparent;
  background: $bg-purple;
  &.-focus- {
    background: $bg-purple;
    color: #cccccc;
  }
}
.datepicker--cell.-in-range-.-disabled- {
  background: transparent;
}
.datepicker--cell.-range-from-.-disabled-::before {
  background: transparent;
}
.datepicker--cell.datepicker--cell-day.-range-from-.-disabled- {
  background: transparent;
  font-weight: 400;
}
// .datepicker--cell-month.-range-from-.-current-.-selected- {
//   background: $gradient-green;
//   &::before {
//     background: transparent;
//   }
// }
.datepicker--cell.datepicker--cell-month.-range-to-.-in-range-.-selected-, .datepicker--cell.datepicker--cell-month.-range-from-.-selected- {
  background: transparent;
  font-weight: 400;
  color: #4a4a4a;
  &:hover {
    background: #f0f0f0;
  }
  &::before {
    background: transparent;
  }
}
.datepicker--cell-month.-range-from-.-current-.-selected- {
  background: $gradient-green;
  font-weight: 700;
  color: $white;
  &:hover {
    background: $gradient-green;
  }
  &::before {
    background: transparent;
  }
}
.datepicker--cell-month.-range-from-.-selected- {
  background: transparent;
}
.datepicker--cell.datepicker--cell-year.-range-from-.-current-.-selected-, .datepicker--cell.datepicker--cell-year.-range-to-.-current-.-selected-,.datepicker--cell.datepicker--cell-year.-range-from-.-range-to-.-current-.-selected-.-focus- {
  background: $gradient-green;
  font-weight: 700;
  color: $white;
  &:hover {
    background: $gradient-green;
    font-weight: 700;
    color: $white;
  }
  &::before {
    background: transparent;
  }
}
.datepicker--cell-year.-range-to-.-in-range-.-selected- {
  background: transparent;
  font-weight: 400;
  color: #4a4a4a;
  &:hover {
    background: #f0f0f0;
  }
  &::before {
    background: transparent;
  }
}

.datepicker--nav-action:first-child::before {
  content: 'arrow_back';
  font-weight: 400;
  font-size: 24px;
  line-height: 23.91px;
  font-family: 'Material Icons';
  color: $purple;
}
.datepicker--nav-action:last-child::before {
  content: 'arrow_forward';
  padding-left: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 23.91px;
  font-family: 'Material Icons';
  color: $purple;
}
.datepicker__bottom {
  margin-top: 18px;
  padding-bottom: 18px;
  padding-left: 5px;
}
.datepicker__clear {
  display: none;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-50;
  text-transform: uppercase;
  cursor: pointer;
  &--wrap {
    float: left;
  }
}
.datepicker__set {
  display: inline;
  padding-right: 5px;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  text-align: right;
  color: $purple;
  text-transform: uppercase;
  cursor: pointer;
  &--wrap {
    display: block;
    text-align: right;
  }
}
