@import "../../variables.scss";
.datepicker__container {
	padding-left: 6.25%;
	padding-right: 6.25%;
	border: 1px solid $black-25;
	border-radius: 4px;
	background: $white;
	width: 100%;
}
.datepicker {
	border: none;
	width: 100%;
	font-family: Montserrat;
	font-size: 12px;
}
.datepicker--nav {
	height: 57px;
}
.datepicker--days-names {
	height: 31px;
}
.datepicker--day-name {
	color: $purple;
font-family: Montserrat;
font-size: 12px;
font-weight: 700;
}
.datepicker--nav-title, .datepicker--nav-title i {
	color: $black;
font-family: Open Sans;
font-size: 19px;
font-weight: 700;
}
.datepicker--cell {
	height: 40px;
	border-radius: 20px;	
}
.datepicker--cell.-selected-, .datepicker--cell.-range-from-, .datepicker--cell.-range-to-, .datepicker--cell.-selected-.-focus- {
	border-radius: 20px;
	background: $gradient-purple;
	font-weight: 700;
	position: relative;
	transform-style: preserve-3d;
}
.datepicker--cell.-range-from-::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: $bg-purple;
	transform: translateZ(-1px);
}
.datepicker--cell.-range-to-::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: $bg-purple;
	transform: translateZ(-1px);
}
.datepicker--cell.-in-range- {
	background: $bg-purple;
	color: $black-50;
}
.datepicker--cell.-current- {
	color: $white;
font-family: Montserrat;
font-weight: 700;
background: $gradient-green;
}
.-selected-.datepicker--cell-day.-other-month- {
	font-weight: 400;
	background: transparent;
	color: #dedede;
}
.datepicker--cell-day.-other-month-::before, .datepicker--cell-day.-other-month-:hover, .-selected-.datepicker--cell-day.-other-month-:hover {
	background: transparent;
	color: #dedede;
}
.-in-range-.datepicker--cell-day.-other-month-, {
	background: transparent;
}
.datepicker--nav-action {

}
.datepicker--nav-action:first-child::before {
	content: "arrow_back";
	color: $purple;
font-family: "Material Icons";
font-size: 24px;
font-weight: 400;
line-height: 23.91px;
}
.datepicker--nav-action:last-child::before {
	content: "arrow_forward";
	color: $purple;
font-family: "Material Icons";
font-size: 24px;
font-weight: 400;
line-height: 23.91px;
padding-left: 10px;
}
.datepicker__bottom {
	margin-top: 18px;
	padding-bottom: 18px;
	padding-left: 5px;
}
.datepicker__clear {
	// display: none;
	font-weight: 700;
	font-size: 12px;
	font-family: Montserrat;
	color: $black-50;
	text-transform: uppercase;
	cursor: pointer;
	&--wrap {
		float: left;
	}
}
.datepicker__set {
	display: inline;
	font-weight: 700;
	font-size: 12px;
	font-family: Montserrat;
	text-align: right;
	color: $purple;
	text-transform: uppercase;
	cursor: pointer;
	&--wrap {
		display: block;
		text-align: right;
	}
}