@import '../../variables.scss';
.datepicker__container {
  width: 100%;
  padding-right: 6.25%;
  padding-left: 6.25%;
  background: $white;
  border: 1px solid $black-25;
  border-radius: 4px;
}
.datepicker {
  width: 100%;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  border: none;
}
.datepicker--nav {
  height: 57px;
  border: none;
}
.datepicker--days-names {
  height: 31px;
}
.datepicker--day-name {
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  color: $purple;
}
.datepicker--nav-title, .datepicker--nav-title i {
  font-weight: 700;
  font-size: 19px;
  font-family: 'Open Sans', Arial, sans-serif;
  color: $black;
}
.datepicker--cell {
  height: 40px;
  border-radius: 20px;
}
.datepicker--cell.-selected-, .datepicker--cell.-range-from-, .datepicker--cell.-range-to-, .datepicker--cell.-selected-.-focus- {
  position: relative;
  font-weight: 700;
  background: $gradient-purple;
  border-radius: 20px;
  transform-style: preserve-3d;
  border: none;
}
.datepicker--cell.-range-from-::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: $bg-purple;
  transform: translateZ(-1px);
}
.datepicker--cell.-range-to-::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: $bg-purple;
  transform: translateZ(-1px);
}
.datepicker--cell.-in-range- {
  color: $black-50;
  background: $bg-purple;
}
.datepicker--cell.-current- {
  font-weight: 700;
  font-family: Montserrat, Arial, sans-serif;
  color: $white;
  background: $gradient-green;
}
.-selected-.datepicker--cell-day.-other-month- {
  font-weight: 400;
  color: #dedede;
  background: transparent;
}
.datepicker--cell-day.-other-month-::before, .datepicker--cell-day.-other-month-:hover, .-selected-.datepicker--cell-day.-other-month-:hover {
  color: #dedede;
  background: transparent;
}
.-in-range-.datepicker--cell-day.-other-month-, {
  background: transparent;
}

.datepicker--nav-action:first-child::before {
  content: 'arrow_back';
  font-weight: 400;
  font-size: 24px;
  line-height: 23.91px;
  font-family: 'Material Icons';
  color: $purple;
}
.datepicker--nav-action:last-child::before {
  content: 'arrow_forward';
  padding-left: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 23.91px;
  font-family: 'Material Icons';
  color: $purple;
}
.datepicker__bottom {
  margin-top: 18px;
  padding-bottom: 18px;
  padding-left: 5px;
}
.datepicker__clear {
  // display: none;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-50;
  text-transform: uppercase;
  cursor: pointer;
  &--wrap {
    float: left;
  }
}
.datepicker__set {
  display: inline;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat, Arial, sans-serif;
  text-align: right;
  color: $purple;
  text-transform: uppercase;
  cursor: pointer;
  &--wrap {
    display: block;
    text-align: right;
  }
}
