mixin registration-form
	include ../../components/input/input.pug
	include ../../components/radio/radio.pug
	include ../../components/toggle/toggle.pug
	article.registration-form
		.registration-form__header-wrapper
			h1.registration-form__header Регистрация аккаунта
		form.registration-form__form
			+input(
				'', 
				'text', 
				'name', 
				'registration-form__input-1', 
				'', 
				'Имя', 
				'')
			+input(
				'', 
				'text', 
				'surname', 
				'registration-form__input-2', 
				'', 
				'Фамилия', 
				'')
			.registration-form__radio-wrapper
				+radio(
					'registration-form__radio', 
					['Мужчина', 'Женщина'])
			+input(
				'дата рождения', 
				'date', 
				'birthday', 
				'registration-form__input-3', 
				'', 
				'', 
				'')
			+input(
				'данные для входа в сервис', 
				'email', 
				'email', 
				'registration-form__input-4', 
				'', 
				'Email', 
				'')
			+input(
				'', 
				'text', 
				'password', 
				'registration-form__input-5', 
				'', 
				'Пароль', 
				'')
			.registration-form__toggle-wrapper
				+toggle(
					'registration-form__toggle', 
					['Получать спецпредложения'])
			.registration-form__btn
				button.btn.btn_arrow.btn_submit перейти к оплате
		.registration-form__footer
			.registration-form__footer-1
				p.registration-form__footer-text Уже есть аккаунт на Toxin
			.registration-form__footer-2
				a(href="sign-in.html" class="registration-form__link")
					.registration-form__btn-2 
						.btn.btn_light
							span.btn_light-inner.btn_light-tall войти