mixin registration-form(data)
	include ../../components/input/input.pug
	include ../../components/radio/radio.pug
	include ../../components/toggle/toggle.pug
	include ../../components/button/button.pug
	-
		const {title, input1, input2, radio, input3, input4, input5, toggle, btnText, footerText, btnText2} = data;
	article.registration-form
		.registration-form__title
			h1.registration-form__title.js-registration-form__title #{title}
		form.registration-form__form
			.registration-form__input
				+input(input1)
			.registration-form__input
				+input(input2)
			.registration-form__radio
				+radio(radio)
			.registration-form__input
				+input(input3)
			.registration-form__input
				+input(input4)
			.registration-form__input
				+input(input5)
			.registration-form__toggle
				+toggle(toggle)
			.registration-form__btn
				+button({text: btnText, tag: 'button', modifiers: ['themeArrow'], type: 'submit'})
		.registration-form__footer
			.registration-form__footer-left
				p.registration-form__footer-text #{footerText}
			.registration-form__footer-right
				.registration-form__button 
				+button({text: btnText2, tag: 'a', modifiers: ['themeLight', 'sizeBig'], type: 'submit', link: 'sign-in.html'})
