mixin registration-form(data)
	include ../../components/input/input.pug
	include ../../components/radio/radio.pug
	include ../../components/toggle/toggle.pug
	include ../../components/btn/btn.pug
	-
		const {title, input1, input2, radio, input3, input4, input5, toggle, btnText, footerText, btnText2} = data;
	article.registration-form
		.registration-form__title-wrapper
			h1.js-registration-form__title #{title}
		form.registration-form__form
			.registration-form__input-wrapper
				+input(input1)
			.registration-form__input-wrapper
				+input(input2)
			.registration-form__radio-wrapper
				+radio(radio)
			.registration-form__input-wrapper
				+input(input3)
			.registration-form__input-wrapper
				+input(input4)
			.registration-form__input-wrapper
				+input(input5)
			.registration-form__toggle-wrapper
				+toggle(toggle)
			.registration-form__btn
				+btn(btnText, 'submit', 'theme_arrow')
		.registration-form__footer
			.registration-form__footer-left
				p.registration-form__footer-text #{footerText}
			.registration-form__footer-right
				.registration-form__button 
				+btn(btnText2, 'big-a', 0, 'sign-in.html')
