@import '../../variables.scss';
.registration-form {
  padding-top: 40px;
  padding-bottom: 30px;
}
.registration-form__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25em;
  font-family: 'Open Sans', Arial, sans-serif;
  color: $black;
}
.registration-form__title-wrapper {
  margin-bottom: 20px;
  @media (max-width: 350px) {
    .registration-form__title {
      word-break: break-all;
    }
  }
}
.registration-form__input-wrapper:nth-child(1) {
  margin-bottom: 10px;
}
.registration-form__input-wrapper:nth-child(2) {
  margin-bottom: 10px;
}
.registration-form__radio-wrapper {
  margin-bottom: 19px;
}
.registration-form__input-wrapper:nth-child(4) {
  margin-bottom: 17px;
  // .input__field {
  //   text-transform: uppercase;
  //   letter-spacing: -0.4px;
  // }
}
.registration-form__input-wrapper:nth-child(5) {
  margin-bottom: 10px;
}
.registration-form__input-wrapper:nth-child(6) {
  margin-bottom: 10px;
}
.registration-form__toggle-wrapper {
  margin-bottom: 24px;
}
.registration-form__btn {
  margin-bottom: 30px;
  word-break: break-all;
  .btn_theme_arrow::after {
    word-break: normal;
  }
}
.registration-form__footer {
  display: flex;
  flex-wrap: nowrap;
}
.registration-form__footer-left {
  flex: auto;
  padding-top: 14px;
}
.registration-form__footer-text {
  color: $black-text;
}
.registration-form__footer-right {
  flex: 0 0 99%*100/320;
}
.registration-form__button {
  display: block;
}
