mixin registration-form
	include ../../components/input/input.pug
	include ../../components/radio/radio.pug
	include ../../components/toggle/toggle.pug
	article.registration-form
		.registration-form__title-wrapper
			h1.registration-form__title Регистрация аккаунта
		form.registration-form__form
			.registration-form__input-wrapper
				+input(
					'', 
					'text', 
					'name', 
					'', 
					'', 
					'Имя', 
					'')
			.registration-form__input-wrapper
				+input(
					'', 
					'text', 
					'surname', 
					'registration-form__input-2', 
					'', 
					'Фамилия', 
					'')
			.registration-form__radio-wrapper
				+radio(
					'registration-form__radio', 
					['Мужчина', 'Женщина'])
			.registration-form__input-wrapper
				+input(
					'дата рождения', 
					'date', 
					'birthday', 
					'', 
					'', 
					'', 
					'')
			.registration-form__input-wrapper
				+input(
					'данные для входа в сервис', 
					'email', 
					'email', 
					'', 
					'', 
					'Email', 
					'')
			.registration-form__input-wrapper
				+input(
					'', 
					'text', 
					'password', 
					'', 
					'', 
					'Пароль', 
					'')
			.registration-form__toggle-wrapper
				+toggle(
					'registration-form__toggle', 
					['Получать спецпредложения'])
			.registration-form__btn
				button.btn.btn__witch-arrow.btn_submit перейти к оплате
		.registration-form__footer
			.registration-form__footer-left
				p.registration-form__footer-text Уже есть аккаунт на Toxin
			.registration-form__footer-right
				a(href="sign-in.html" class="registration-form__link")
					.registration-form__btn-wrapper 
						.btn.btn__theme_light.btn__size_big
							span.btn__text войти