@import '../../variables.scss';
.header__active {
  display: none;
}
.header__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200%*100/1440;
  margin: 0 auto;
  padding-top: 17px;
  padding-right: 20%*100/1440;
  padding-left: 20%*100/1440;
  // border: 1px solid blue;
  @media (max-width: 1440px) {
    max-width: $page-container;
  }
  @media (max-width: $page-container) {
    max-width: 100%;
  }
  @media (max-width: 420px) {
    max-width: 380%*100/420;
  }
  @media (max-width: 380px) {
    max-width: 315px;
  }
}
.header__logo {
  display: block;
  flex: 0 0 106px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.header__burger {
  display: none;
  @media (max-width: $mobile-menu-breakpoint) {
    display: block;
    width: 30px;
    position: absolute;
    top: 15px;
    right: 5%;
    cursor: pointer;
  }
}
.header__burger-line {
  width: 100%;
  height: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: $black-75;
}
.header__ul {
  &-wrap {
    flex: 1 1 320px;
    padding-top: 12px;
    text-align: right;
    // border: 1px solid green;
    @media (max-width: 750px) {
      flex: 0 0 100%;
      text-align: center;
    }
    @media (max-width: $mobile-menu-breakpoint) {
      display: none;
    }
  }
  &-incl {
    position: absolute;
    top: 16px;
    left: -10px;
    z-index: 10;
    padding-top: 10px;
    background: $white;
    border: 1px solid $black-50;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    @media (max-width: $mobile-menu-breakpoint) {
      position: static;
      display: none;
      text-align: center;
      border: none;
      padding-top: 15px;
      // left: 50%;
      // top: 30px;
      // transform: translate(-50%, 0);
    }
  }
  &-incl--active {
    display: block;
  }
}
.header__ul-wrap--show {
  @media (max-width: $mobile-menu-breakpoint) {
    display: block;
  }
}
.header__li {
  position: relative;
  display: inline-block;
  margin-right: 26px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat, Arial, sans-serif;
  @media (max-width: $mobile-menu-breakpoint) {
    display: block;
    margin-right: 0;
    text-align: center;
    a {
      text-align: center;
    }
  }
  &:last-child {
    margin-right: 29px;
    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
    }
  }
  &--big {
    margin-right: 36px;
    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
      margin-top: -11px;
      margin-left: 10px;
    }
  }
  &--incl {
    display: block;
    margin-right: 0;
    padding-left: 10px;
    // padding-top: 10px;
    padding-right: 10px;
    // margin-bottom: 10px;
    text-align: left;
    @media (max-width: $mobile-menu-breakpoint) {
      position: static;
      padding-left: 0;
    }
    a {
      display: block;
      white-space: nowrap;
    }
  }
  &--active {
    cursor: default;
    a {
      font-weight: 700;
      cursor: default;
    }
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.header__li:hover > .header__ul-incl {
  // visibility: visible;
  // opacity: 1;
}
.header__ul-incl--show {
  visibility: visible;
  opacity: 1;
  @media (max-width: $mobile-menu-breakpoint) {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}
.header__li--active:hover {
  cursor: default;
  a {
    cursor: default;
  }
}
.header__li--active a:hover, .header__a--active:hover {
  cursor: default;
}
.header__a {
  color: $black-50;
}
.header__a--active {
  color: $black-75;
}
.header__a:hover {
  color: $black-text;
}
.header__a--active:hover {
  color: $black-75;
}
.header__arrow {
  position: absolute;
  right: -20px;
  bottom: -5px;
  display: inline-block;
  padding-top: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 23.91px;
  font-family: 'Material Icons';
  color: $black-50;
  cursor: pointer;
  @media (max-width: $mobile-menu-breakpoint) {
    padding-top: 0;
    position: relative;
    top: 8px;
    left: -5px;
    // vertical-align: bottom;
  }
}
.header__login-container-logged {
  flex: 0 0 145px;
  height: 30px;
  margin-top: 10px;
  padding-top: 4px;
  padding-left: 30px;
  border-left: 1px solid $black-10;
  @media (max-width: 950px) {
    flex: 0 0 100%;
    text-align: center;
    padding-right: 50px;
  }
  @media (max-width: $mobile-menu-breakpoint) {
    display: none;
  }
}
.header__user {
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-50;
  cursor: default;
}
.header__login-container {
  flex: 0 0 200px;
  margin-bottom: 10px;
  padding-top: 3px;
  // flex: 0 0 200px;
  // padding-right: 1.37%;
  // border: 1px solid red;
  @media (max-width: 950px) {
    // flex: 1 1 320px;
    flex: 0 0 100%;
  }
  @media (max-width: $mobile-menu-breakpoint) {
    display: none;
  }
}
.header__login-container--show {
  @media (max-width: $mobile-menu-breakpoint) {
    display: block;
  }
}
.header__login-content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
  @media (max-width: $mobile-menu-breakpoint) {
    flex-wrap: wrap;
  }
}
.header__login-wrap {
  // display: inline-block;
  flex: 1 1 79%*100/200;
  // flex: 1 0 auto;
  vertical-align: top;
  @media (max-width: $mobile-menu-breakpoint) {
    flex: 0 0 100%;
  }
}
.header__login-space {
  flex: 0 0 20px;
  // flex: 1 0 20%*100/200;
  @media (max-width: $mobile-menu-breakpoint) {
    flex: 0 0 100%;
    height: 10px;
  }
}
.header__register-wrap {
  // display: inline-block;
  flex: 1 1 101%*100/200;
  // flex: 1 0 auto;
  vertical-align: top;
  @media (max-width: $mobile-menu-breakpoint) {
    flex: 0 0 100%;
  }
}
