.ui-kit-header {
	height: 140px;
	padding-top: 30px;
	padding-left: 30px;
}
.ui-kit-logo {
	display: block;
	width: 48px;
	height: 48px;
	margin-bottom: 10px;
	background: url("ui_kit_logo.svg") left top no-repeat;
}