@import "../../variables.scss";

.header {
  flex: 0 0 auto;
  width: 100%;
  position: relative;
  z-index: 10;
  box-shadow: 0 10px 20px $black-5;

  &__navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200%*100/1440;
    margin: 0 auto;
    padding-right: 20%*100/1440;
    padding-left: 20%*100/1440;
    padding-top: 15px;
<<<<<<< HEAD

    @media (max-width: 1440px) {
      max-width: $page-container;
    }

=======

    @media (max-width: 1440px) {
      max-width: $page-container;
    }

>>>>>>> 19196f176283432f4da306a96c4fa22b86c68a8a
    @media (max-width: $page-container) {
      max-width: 100%;
    }
  }

  &__active-page-number {
    display: none;
  }

  &__logo {
    display: block;
    flex: 0 0 106px;
    margin-right: 15px;
    margin-bottom: 13px;
    margin-right: auto;
  }

  &__burger {
    position: relative;
    display: none;
    background: transparent;
    border: 0;
    outline: none;

    @media (max-width: $mobile-menu-breakpoint) {
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 18px;
      right: 3%;
      cursor: pointer;
    }
  }

  &__burger-line {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 14px;
    left: 0;
    background: $black;

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 5px;
      position: absolute;
      left: 0;
      background: $black;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }

    &_cross {
      background: transparent;

      &::before,
      &::after {
        content: "";
        top: 0;
        transform-origin: center center;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__navigation-list {
    flex: 1 1 320px;
    padding-top: 13px;
    padding-right: 11px;
    text-align: right;
<<<<<<< HEAD

    @media (max-width: 750px) {
    }

=======

    @media (max-width: 750px) {
    }

>>>>>>> 19196f176283432f4da306a96c4fa22b86c68a8a
    @media (max-width: $mobile-menu-breakpoint) {
      flex: 0 0 100%;
      display: none;
      padding-right: 0;
      margin: 0 auto;
    }
  }

  &__navigation-list_visible {
    @media (max-width: $mobile-menu-breakpoint) {
      display: block;
    }
  }

  &__navigation-item_with-submenu .header__navigation-list {
    position: absolute;
    top: 16px;
    left: -10px;
    z-index: 10;
    padding-top: 10px;
    background: $white;
    border: 1px solid $black-50;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;

    @media (max-width: $mobile-menu-breakpoint) {
      position: static;
      display: none;
      text-align: center;
      border-radius: 0;
      border: 0;
      padding-top: 15px;

      &-inner {
        display: inline-block;
        margin: 0 auto;
      }
    }
  }

  &__navigation-item_with-submenu.header__navigation-item_expanded .header__navigation-list {
    visibility: visible;
    opacity: 1;
<<<<<<< HEAD

    @media (max-width: $mobile-menu-breakpoint) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      visibility: visible;
      opacity: 1;
    }
  }

  &__navigation-item_with-submenu {
    position: relative;
    margin-right: 33px;

    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
      margin-top: 0;
      margin-left: 10px;
=======

    @media (max-width: $mobile-menu-breakpoint) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      visibility: visible;
      opacity: 1;
>>>>>>> 19196f176283432f4da306a96c4fa22b86c68a8a
    }

  }

<<<<<<< HEAD
  &__navigation-item_with-submenu .header__navigation-item {
    display: block;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;

    @media (max-width: $mobile-menu-breakpoint) {
      position: static;
      text-align: center;
      background: $black-10;
      display: flex;
      flex: 1 1 auto;      
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 2px;
      margin-left: auto;
      margin-right: auto;
      margin-right: 0;
    }

    @media (max-width:$mobile-menu-breakpoint) {
      margin-left: auto;
      margin-right: auto;
    }

    &:nth-child(1) {
      margin-right: 0;
=======
  &__navigation-item {
    position: relative;
    display: inline-block;
    margin-right: 34px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    font-family: Montserrat, Arial, sans-serif;

    @media (max-width: $mobile-menu-breakpoint) {
      display: block;
      margin-right: 0;
      text-align: center;
      line-height: 14px;

      .header__link {
        text-align: center;
        position: relative;
        z-index: 1;
      }
    }
>>>>>>> 19196f176283432f4da306a96c4fa22b86c68a8a

      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &:nth-child(2) {
      margin-right: 0;

      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }

<<<<<<< HEAD
    &:nth-child(3) {
      margin-right: 0;

      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &:nth-child(4) {
      margin-right: 0;

      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &:last-child {
      margin-right: 0;

      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }


    


    .header__link {
      display: block;
      min-width: 110px;

      @media (max-width: $mobile-menu-breakpoint) {
        display: inline;
=======
    &:nth-child(1) {
      margin-right: 18px;

      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
>>>>>>> 19196f176283432f4da306a96c4fa22b86c68a8a
      }
    }

<<<<<<< HEAD
  &__navigation-item_with-submenu .header__navigation-item:hover {
    @media (max-width: $mobile-menu-breakpoint) {

      .header__link {
        color: $black-text;
=======
    &:nth-child(2) {
      margin-right: 41px;

      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }

      .header__navigation-item .header__link {
        min-width: 65px;
>>>>>>> 19196f176283432f4da306a96c4fa22b86c68a8a
      }
    }

<<<<<<< HEAD
  &__navigation-list_visible {
    visibility: visible;
    opacity: 1;

    @media (max-width: $mobile-menu-breakpoint) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      visibility: visible;
      opacity: 1;
=======
    &:nth-child(3) {
      margin-right: 17px;

      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
>>>>>>> 19196f176283432f4da306a96c4fa22b86c68a8a
    }

<<<<<<< HEAD
  &__navigation-item_active:hover {
    cursor: default;

    .header__link {
      cursor: default;
=======
    &:nth-child(4) {
      margin-right: 17px;

      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
>>>>>>> 19196f176283432f4da306a96c4fa22b86c68a8a
    }

<<<<<<< HEAD
  &__navigation-item_active a:hover,
  &__link_active:hover {
    cursor: default;
  }

  &__link {
    position: relative;
    z-index: 1;
    color: $black-50;
  }

  &__link_active {
    color: $black-75;
    font-weight: 700;
  }

  &__link:hover {
    color: $black-text;
  }

  &__link_active:hover {
    color: $black-75;
  }

  &__navigation-item_with-submenu > .header__link::after,
  &__navigation-item_expanded > .header__link::after {
    position: absolute;
    right: -25px;
    bottom: -5px;
    display: inline-block;
    padding-top: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 23.91px;
    font-family: "Material Icons";
    color: $black-50;
    cursor: pointer;
=======
    &:last-child {
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }

    &:last-child {
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
      }
    }

    &_active {
      cursor: default;

      .header__link {
        font-weight: 700;
        cursor: default;
      }
    }

    .header__link {
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__navigation-item_with-submenu {
    position: relative;
    margin-right: 33px;

    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
      margin-top: 0;
      margin-left: 10px;
    }

  }

  &__navigation-item_with-submenu .header__navigation-item {
    display: block;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;

    @media (max-width: $mobile-menu-breakpoint) {
      position: static;
      text-align: center;
      background: $black-10;
      display: flex;
      flex: 1 1 auto;      
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 2px;
      margin-left: auto;
      margin-right: auto;
      margin-right: 0;
    }
>>>>>>> 19196f176283432f4da306a96c4fa22b86c68a8a

    @media (max-width: $mobile-menu-breakpoint) {
      margin-left: 5px;
      padding-top: 0;
      position: relative;
      width: 20px;
      top: 8px;
      left: -5px;
      line-height: 1px;
    }

<<<<<<< HEAD
  &__navigation-item_with-submenu > .header__link::after {
    content: "expand_more";
  }

  &__navigation-item_expanded > .header__link::after {
    content: "expand_less";
  }

  &__user-block-logged {
    flex: 0 0 145px;
    height: 30px;
    margin-top: 4px;
    padding-top: 10px;
    padding-left: 30px;
    border-left: 1px solid $black-10;

    @media (max-width: 950px) {
      flex: 0 0 100%;
      text-align: right;
      padding-right: 50px;
      padding-right: 29px;
    }

    @media (max-width: $mobile-menu-breakpoint) {
      display: none;
      text-align: center;
      border-left: 0;
      border-top: 1px solid $black-10;
      margin-bottom: 10px;
=======
    &:nth-child(1) {
      margin-right: 0;

      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &:nth-child(2) {
      margin-right: 0;

      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &:nth-child(3) {
      margin-right: 0;

      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
>>>>>>> 19196f176283432f4da306a96c4fa22b86c68a8a
    }

<<<<<<< HEAD
  &__user {
    font-weight: 400;
    font-size: 14px;
    font-family: Montserrat, Arial, sans-serif;
    color: $black-50;
    cursor: default;
  }

  &__user-block {
    flex: 0 1 auto;
    margin-bottom: 0;
    padding-top: 3px;
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: 950px) {
      flex: 0 0 100%;
    }

    @media (max-width: $mobile-menu-breakpoint) {
      display: none;
      flex-wrap: wrap;
      margin: 0 auto;
      width: auto;
      flex: none;
      text-align: center;
      max-width: 100%;
    }
  }

  &__user-block_visible {
    @media (max-width: $mobile-menu-breakpoint) {
      display: inline-block;
    }
  }

  &__btn {
    flex: 1 1 79%*100/200;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 10px;
    text-decoration: none;

    @media (max-width: $mobile-menu-breakpoint) {
      flex: none;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 9px;
    }
  }

  &__btn-content {
    @media (max-width: 950px) {
      width: 303px;
      margin-right: 24px;
    }

    @media (max-width: $mobile-menu-breakpoint) {
      width: 100%;
      margin: 0 auto;
    }
  }
}




.header__navigation-item {
  position: relative;
  display: inline-block;
  margin-right: 34px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat, Arial, sans-serif;

  @media (max-width: $mobile-menu-breakpoint) {
    display: block;
    margin-right: 0;
    text-align: center;
    line-height: 14px;

    .header__link {
      text-align: center;
      position: relative;
      z-index: 1;
    }
  }

  @media (max-width: $mobile-menu-breakpoint) {
    margin-right: 0;
    margin-left: 0;
  }

  &:nth-child(1) {
    margin-right: 18px;

    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &:nth-child(2) {
    margin-right: 41px;

    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
      margin-left: 0;
    }

    .header__navigation-item .header__link {
      min-width: 65px;
    }
  }

  &:nth-child(3) {
    margin-right: 17px;

    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &:nth-child(4) {
    margin-right: 17px;

    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &:last-child {
    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &:last-child {
    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
    }
  }

  &_active {
    cursor: default;

    .header__link {
      font-weight: 700;
      cursor: default;
    }
  }

  .header__link {
    text-decoration: none;
    cursor: pointer;
=======
    &:nth-child(4) {
      margin-right: 0;

      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &:last-child {
      margin-right: 0;

      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }


    


    &__link {
      display: block;
      min-width: 110px;

      @media (max-width: $mobile-menu-breakpoint) {
        display: inline;
      }
    }
  }

  &__navigation-item_with-submenu .header__navigation-item:hover {
    @media (max-width: $mobile-menu-breakpoint) {

      .header__link {
        color: $black-text;
      }
    }
  }

  &__navigation-list_visible {
    visibility: visible;
    opacity: 1;

    @media (max-width: $mobile-menu-breakpoint) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      visibility: visible;
      opacity: 1;
    }
  }

  &__navigation-item_active:hover {
    cursor: default;

    .header__link {
      cursor: default;
    }
  }

  &__navigation-item_active a:hover,
  &__link_active:hover {
    cursor: default;
  }

  &__link {
    position: relative;
    z-index: 1;
    color: $black-50;
  }

  &__link_active {
    color: $black-75;
    font-weight: 700;
  }

  &__link:hover {
    color: $black-text;
  }

  &__link_active:hover {
    color: $black-75;
  }

  &__navigation-item_with-submenu > .header__link::after,
  &__navigation-item_expanded > .header__link::after {
    position: absolute;
    right: -25px;
    bottom: -5px;
    display: inline-block;
    padding-top: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 23.91px;
    font-family: "Material Icons";
    color: $black-50;
    cursor: pointer;

    @media (max-width: $mobile-menu-breakpoint) {
      margin-left: 5px;
      padding-top: 0;
      position: relative;
      width: 20px;
      top: 8px;
      left: -5px;
      line-height: 1px;
    }
  }

  &__navigation-item_with-submenu > .header__link::after {
    content: "expand_more";
  }

  &__navigation-item_expanded > .header__link::after {
    content: "expand_less";
  }

  &__user-block-logged {
    flex: 0 0 145px;
    height: 30px;
    margin-top: 4px;
    padding-top: 10px;
    padding-left: 30px;
    border-left: 1px solid $black-10;

    @media (max-width: 950px) {
      flex: 0 0 100%;
      text-align: right;
      padding-right: 50px;
      padding-right: 29px;
    }

    @media (max-width: $mobile-menu-breakpoint) {
      display: none;
      text-align: center;
      border-left: 0;
      border-top: 1px solid $black-10;
      margin-bottom: 10px;
    }
  }

  &__user {
    font-weight: 400;
    font-size: 14px;
    font-family: Montserrat, Arial, sans-serif;
    color: $black-50;
    cursor: default;
  }

  &__user-block {
    flex: 0 1 auto;
    margin-bottom: 0;
    padding-top: 3px;
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: 950px) {
      flex: 0 0 100%;
    }

    @media (max-width: $mobile-menu-breakpoint) {
      display: none;
      flex-wrap: wrap;
      margin: 0 auto;
      width: auto;
      flex: none;
      text-align: center;
      max-width: 100%;
    }
  }

  &__user-block_visible {
    @media (max-width: $mobile-menu-breakpoint) {
      display: inline-block;
    }
  }

  &__btn {
    flex: 1 1 79%*100/200;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 10px;
    text-decoration: none;

    @media (max-width: $mobile-menu-breakpoint) {
      flex: none;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 9px;
    }
  }

  &__btn-content {
    @media (max-width: 950px) {
      width: 303px;
      margin-right: 24px;
    }

    @media (max-width: $mobile-menu-breakpoint) {
      width: 100%;
      margin: 0 auto;
    }
>>>>>>> 19196f176283432f4da306a96c4fa22b86c68a8a
  }
}

