@import '../../variables.scss';
.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 17px;
  @media (max-width: 1440px) {
    max-width: $page-container;
  }
  @media (max-width: $page-container) {
    max-width: 100%;
  }
  @media (max-width: 420px) {
    max-width: 380%*100/420;
  }
  @media (max-width: 380px) {
    max-width: 315px;
  }
}
.header__active-page-number {
  display: none;
}
.header__logo .page__logo {
  display: block;
  flex: 0 0 106px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.header__burger {
  position: relative;
  display: none;
  @media (max-width: $mobile-menu-breakpoint) {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 18px;
    right: 3%;
    cursor: pointer;
  }
}
.header__burger-line {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 14px;
  left: 0;
  background: $black;
  &::before, &::after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    background: $black;
  }
  &::before {
    top: -10px;
  }
  &::after {
    top: 10px;
  }
  &_cross {
    background: transparent;
    &::before, &::after {
      content: '';
      top: 0;
      transform-origin: center center;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
.header__navigation-list {
  &-wrap {
    flex: 1 1 320px;
    padding-top: 12px;
    text-align: right;
    // border: 1px solid green;
    @media (max-width: 750px) {
    }
    @media (max-width: $mobile-menu-breakpoint) {
      flex: 0 0 100%;
      display: none;
      padding-right: 0;
      margin: 0 auto;
    }
  }
  &-submenu {
    position: absolute;
    top: 16px;
    left: -10px;
    z-index: 10;
    padding-top: 10px;
    background: $white;
    border: 1px solid $black-50;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    @media (max-width: $mobile-menu-breakpoint) {
      position: static;
      display: none;
      text-align: center;
      border-radius: 0;
      border: none;
      padding-top: 15px;
      &-inner {
        display: inline-block;
        margin: 0 auto;
      }
    }
  }
  &-submenu_active {
    display: block;
  }
}
.header__navigation-list-wrap_visible {
  @media (max-width: $mobile-menu-breakpoint) {
    display: block;
  }
}
.header__navigation-item {
  position: relative;
  display: inline-block;
  margin-right: 26px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat, Arial, sans-serif;
  @media (max-width: $mobile-menu-breakpoint) {
    display: block;
    margin-right: 0;
    text-align: center;
    line-height: 14px;
    a {
      text-align: center;
    }
  }
  &:last-child {
    margin-right: 29px;
    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
    }
  }
  &_with-submenu {
    position: relative;
    margin-right: 36px;
    @media (max-width: $mobile-menu-breakpoint) {
      margin-right: 0;
      margin-top: 0;
      margin-left: 10px;
    }
  }
  &_submenu {
    display: block;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    @media (max-width: $mobile-menu-breakpoint) {
      position: static;
      text-align: center;
      background: $black-10;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 2px;
      margin-left: auto;
      margin-right: auto;
    }
    &:hover {
      @media (max-width: $mobile-menu-breakpoint) {
        a {
          color: $black-text;
        }
      }
    }
    a {
      display: block;
      min-width: 110px;
      @media (max-width: $mobile-menu-breakpoint) {
        display: inline;
      }
    }
  }
  &_active {
    cursor: default;
    a {
      font-weight: 700;
      cursor: default;
    }
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.header__navigation-list-submenu_visible {
  visibility: visible;
  opacity: 1;
  @media (max-width: $mobile-menu-breakpoint) {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}
.header__navigation-item_active:hover {
  cursor: default;
  a {
    cursor: default;
  }
}
.header__navigation-item_active a:hover, .header__a_active:hover {
  cursor: default;
}
.header__a {
  color: $black-50;
}
.header__a_active {
  color: $black-75;
}
.header__a:hover {
  color: $black-text;
}
.header__a_active:hover {
  color: $black-75;
}
.header__navigation-item_with-submenu .header__a_with-submenu::after, .header__navigation-item_with-submenu-open .header__a_with-submenu::after {
  position: absolute;
  right: -25px;
  bottom: -6px;
  display: inline-block;
  padding-top: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 23.91px;
  font-family: 'Material Icons';
  color: $black-50;
  cursor: pointer;
  @media (max-width: $mobile-menu-breakpoint) {
    margin-left: 5px;
    padding-top: 0;
    position: relative;
    width: 20px;
    top: 8px;
    left: -5px;
    line-height: 1px;
  }
}
.header__navigation-item_with-submenu .header__a_with-submenu::after {
  content: 'expand_more';
}
.header__navigation-item_with-submenu-open .header__a_with-submenu::after {
  content: 'expand_less';
}
.header__btn-container-logged {
  flex: 0 0 145px;
  height: 30px;
  margin-top: 4px;
  padding-top: 10px;
  padding-left: 30px;
  border-left: 1px solid $black-10;
  @media (max-width: 950px) {
    flex: 0 0 100%;
    text-align: right;
    padding-right: 50px;
    padding-right: 29px;
  }
  @media (max-width: $mobile-menu-breakpoint) {
    display: none;
    text-align: center;
    border-left: none;
    border-top: 1px solid $black-10;
    margin-bottom: 10px;
  }
}
.header__user {
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-50;
  cursor: default;
}
.header__btn-container {
  flex: 0 0 200px;
  margin-bottom: 0;
  padding-top: 3px;
  display: flex;
  flex-wrap: nowrap;
  @media (max-width: 950px) {
    flex: 0 0 100%;
  }
  @media (max-width: $mobile-menu-breakpoint) {
    display: none;
    flex-wrap: wrap;
    margin: 0 auto;
    width: auto;
    flex: none;
    text-align: center;
    max-width: 100%;
  }
}
.header__btn-container_visible {
  @media (max-width: $mobile-menu-breakpoint) {
    display: inline-block;
  }
}
.header__btn-wrap {
  flex: 1 1 79%*100/200;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 10px;
  &:last-child {
    margin-right: 0;
    margin-bottom: 9px;
  }
  @media (max-width: $mobile-menu-breakpoint) {
    flex: none;
    margin-right: 0;
  }
}
.header__btn {
  @media (max-width: $mobile-menu-breakpoint) {
    display: inline-block;
    width: inherit;
    min-width: 196px;
  }
}
