@import '../../variables.scss';
.headers-footers {
  padding-bottom: 130px;
  background: $grey;
  .footer__container {
    padding-top: 98px;
    &_bottom {
      padding-top: 12px;
    }
    @media (max-width: $mobile-menu-breakpoint) {
      padding-top: 25px;
    }
  }
  .footer__block-1 {
    padding-bottom: 79px;
    @media (max-width: $mobile-menu-breakpoint) {
      padding-bottom: 25px;
    }
  }
  .footer__social-item {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
  .footer__copyright {
    letter-spacing: -0.1px;
  }
}
.headers-footers__header {
  width: 100%;
  background: $white;
  &_1 {
    margin-top: 8px;
    margin-bottom: 38px;
  }
  &_2 {
    margin-bottom: 42px;
  }
  .header__navigation {
    padding-top: 17px;
  }
  .header__navigation-list {
    padding-top: 12px;
    padding-right: 0;
  }
  .header__navigation-item {
    margin-right: 26px;
    @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    &:nth-child(1) {
      margin-right: 26px;
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:nth-child(2) {
      margin-right: 26px;
      .header__navigation-item_submenu .header__link {
        min-width: 65px;
      }
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:nth-child(3) {
      margin-right: 36px;
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:nth-child(4) {
      margin-right: 26px;
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:last-child {
      margin-right: 29px;
      @media (max-width: $mobile-menu-breakpoint) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
  .header__navigation-item_submenu {
    margin-right: 0;
    @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    &:nth-child(1) {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:nth-child(2) {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:nth-child(3) {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:nth-child(4) {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:last-child {
      margin-right: 0;
      @media (max-width:$mobile-menu-breakpoint) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .header__user-block {
    margin-bottom: 0;
    flex: 0 0 200px;
    @media (max-width: $mobile-menu-breakpoint) {
      flex: none;
    }
  }
  .header__btn-content {
    @media (max-width: 950px) {
      width: none;
      margin-right: 0;
    }
    @media (max-width: $mobile-menu-breakpoint) {
      width: 100%;
      margin: 0 auto;
    }
  }
  .header__btn .btn {
    @media (max-width: $mobile-menu-breakpoint) {
      min-width: 105px;
    }
  }
}
.headers-footers__footer-1 {
  margin-bottom: 38px;
  background: $white;
  box-shadow: 0 10px 20px $black-5;
}
.headers-footers__footer-wrapper {
  background: $white;
  box-shadow: 0 10px 20px $black-5;
}
.headers-footers__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7em;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
  margin-bottom: 20px;
} 
.headers-footers__footer-container {
  padding-left: 5px;
  padding-right: 5px;
  width: 560%*100/1440;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 110px;
  text-align: center;
  @media (max-width: 1440px) {
    width: 560px;
  }
  @media (max-width: 560px) {
    width: 100%;
  }
  @media (max-width: 420px) {
    width: 100vw;
  }
}
.headers-footers__logo {
  width: 106px;
  margin: 0 auto;
  margin-bottom: 16px;
}