extends ../../base.pug
block description
	meta(name='description', content="Headers & Footers")
block title
	| Headers & Footers
block main
	.headers-footers
		include ../../components/ui-kit/ui-kit.pug
		include ../../components/header/header.pug
		include ../../components/footer/footer.pug
		+ui-kit
		-
			let MenuItem = function(item, href, incl, hrefs) {
				this.item = item;
				this.href = href;
				this.incl = incl;
				this.hrefs = hrefs;
			}
			let menu = [
				new MenuItem('Home', '/mock-address/change-me'),
				new MenuItem('About Us', '/mock-address/change-me'),
				new MenuItem('Services', '/mock-address/change-me', ['Service 1', 'Service 2', 'Service 3'], ['/mock-address/change-me', "/mock-address/change-me", '/mock-address/change-me']),
				new MenuItem('Careers', '/mock-address/change-me'),
				new MenuItem('News', '/mock-address/change-me'),
				new MenuItem('Documentation', '/mock-address/change-me')
			];
			let nav = [
				new MenuItem('Navigation', '/mock-address/change-me', ['About Us', 'News', 'Support', 'Products'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me']),
				new MenuItem('About Us', '/mock-address/change-me', ['Who we are', 'Our team', 'Careers', 'Investors'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me']),
				new MenuItem('Support', '/mock-address/change-me', ['Documentation', 'Community', 'Get in Touch'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me'])
			];
		.headers-footers__menu.headers-footers__menu_1
			+header(headers-footers__header-menu, menu, 0, 'Login', '/mock-address/change-me', 'Register', '/mock-address/change-me')
		.headers-footers__menu.headers-footers__menu_2
			+header(headers-footers__header-menu, menu, 0, 'Login', '/mock-address/change-me', 'Register', '/mock-address/change-me', 1)
		.headers-footers__footer-1
			+footer(
				headers-footers__footer, 
				'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
				nav, 
				'Subscribe to our newsletter',
				'Receive our latest news and promotions in your inbox!',
				'Copyright © 2018 Toxin UI Kit. All rights reserved.', 
				1)
		.headers-footers__footer-2
			.headers-footers__footer-wrapper
				.headers-footers__footer-container
					.headers-footers__logo
						.page__logo
					p.headers-footers__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
					ul.headers-footers__social-list
						li.footer__social-item
							a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social footer__social_twitter") Twitter
						li.footer__social-item
							a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social footer__social_facebook") Facebook
						li.footer__social-item
							a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social footer__social_instagram") Instagram