@import '../../variables.scss';
.headers-footers {
  padding-bottom: 130px;
  background: $grey;
}
.headers-footers__menu {
  width: 100%;
  background: $white;
  box-shadow: 0 10px 20px $black-5;
  &_1 {
    margin-top: 8px;
    margin-bottom: 38px;
  }
  &_2 {
    margin-bottom: 42px;
  }
}
.headers-footers__footer-1 {
  margin-bottom: 38px;
  background: $white;
  box-shadow: 0 10px 20px $black-5;
}
.headers-footers__footer-wrapper {
  background: $white;
  box-shadow: 0 10px 20px $black-5;
}
.headers-footers__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7em;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
  margin-bottom: 20px;
} 
.headers-footers__footer-container {
  padding-left: 5px;
  padding-right: 5px;
  width: 560%*100/1440;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 110px;
  text-align: center;
  // border: 1px solid red;
  @media (max-width: 1440px) {
    width: 560px;
  }
  @media (max-width: 560px) {
    width: 100%;
  }
  @media (max-width: 420px) {
    width: 100vw;
  }
}
.headers-footers__logo {
  .page__logo {
    margin: 0 auto;
    margin-bottom: 18px;
  }
}