extends ../../base.pug
block description
	meta(name='description', content="Headers & Footers")
block title
	| Headers & Footers
block main
	.headers-footers
		include ../../components/ui-kit/ui-kit.pug
		include ../../components/header/header.pug
		include ../../components/footer/footer.pug
		include ../../components/logo/logo.pug
		-
			const text = 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.';

		+ui-kit
		.headers-footers__header.headers-footers__header_unlogged
			+header(1)
		.headers-footers__header.headers-footers__header_logged.js-headers-footers__header_logged
			+header(1, 1)
		.headers-footers__footer
			+footer(1)
		.headers-footers__footer-small
			.headers-footers__footer
				.headers-footers__footer-container
					.headers-footers__logo
						+logo
					p.headers-footers__text #{text}
					ul.headers-footers__social-list
						li.footer__social-item
							a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link_theme_twitter") Twitter
						li.footer__social-item
							a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link_theme_facebook") Facebook
						li.footer__social-item
							a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link_theme_instagram") Instagram