mixin datepicker
	.datepicker__container
		.datepicker__content
		.datepicker__bottom
			.datepicker__clear_wrap
				.datepicker__clear очистить
			.datepicker__set_wrap
				.datepicker__set применить