mixin datepicker
	.datepicker__container
		.datepicker__content
		.datepicker__bottom
			.datepicker__clear_wrapper
				.datepicker__clear очистить
			.datepicker__set_wrapper
				.datepicker__set применить