include ../../components/input/input.pug
include ../../components/dropdown/dropdown.pug
article.room__container
	.room__header
		.room__header-1
			h1.page__h1.room__h1 <span class="room__header--number">№</span>888
				span.room__header--category  люкс
		.room__header-2
			p.room__header--p 9 990₽ <span class="room__header--price">в сутки</span>
	form
		.room__input-wrap
			.room__input-inner
				+input(
				'прибытие', 
				'date', 
				'arrival', 
				'room__input-1', 
				'2019-08-19', 
				'', 
				'', 
				'expand_more')
			.room__input-space
			.room__input-inner
				+input(
				'выезд', 
				'date', 
				'departure', 
				'room__input-2', 
				'2019-08-23', 
				'', 
				'', 
				'expand_more')
		+dropdown(
		'peoples',
		'room__dropdown', 
		'гости', 
		'', 
		'взрослые', 
		'дети', 
		'младенцы',
		'1')
		p.room__p 
			span.room__p--left 9 990₽ х 4 суток 
			span.room__p--right 39 960₽
		p.room__p
			span.room__p--left Сбор за услуги: скидка 2 179₽ 
			span.room__i i
			span.room__p--right 0₽
		p.room__p
			span.room__p--left Сбор за дополнительные услуги
			span.room__i i
			span.room__p--right 300₽
		.room__price
			span.page__h2.room__price-1 Итого
			span.room__price-2
			h2.room__price-3 38 081₽
		button.btn.btn--arrow.btn--button.room__btn забронировать
