@import '../../variables.scss';
.room__container {
  padding-top: 40px;
  padding-bottom: 30px;
}
.room__header-1 {
  display: inline-block;
  width: 60%;
  padding-left: 2px;
}
.room__header-2 {
  display: inline-block;
  width: 38%;
  text-align: right;
}
.room__header {
  margin-bottom: 12px;
  &--number {
    font-weight: 700;
    font-size: 16px;
    font-family: Montserrat, Arial, sans-serif;
  }
  &--category {
    font-weight: 700;
    font-size: 12px;
    font-family: Montserrat, Arial, sans-serif;
    color: $purple;
    text-transform: uppercase;
  }
  &--p {
    font-weight: 700;
  }
  &--price {
    font-weight: 400;
    font-size: 12px;
  }
}
.room__input-wrap {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 17px;
}
.room__input-1, .room__input-2 {
  letter-spacing: -0.4px;
}
.room__input-inner {
  flex: 0 0 47%;
}
.room__input-space {
  flex: auto;
}
.room__dropdown-container {
  margin-bottom: 22px;
}
.room__p {
  clear: both;
  margin-bottom: 15px;
  line-height: 1.3em;
  &--left {
    display: inline-block;
    width: 220%*100/320;
  }
  &--right {
    float: right;
    width: 75%*100/320;
    text-align: right;
  }
}
.room__i {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  text-align: center;
  border: 1px solid $black-25;
  border-radius: 10px;
}
.room__price {
  display: flex;
  flex-wrap: wrap;
  clear: both;
  margin-bottom: 19px;
  padding-top: 16px;
  &-1 {
    flex-grow: 0;
    margin-right: 5px;
  }
  &-2 {
    flex-grow: 1;
    height: 18px;
    border-bottom: 1px dotted $black-25;
  }
  &-3 {
    flex-grow: 0;
    margin-left: 5px;
  }
}
.room__btn {
  clear: both;
}