mixin checkbox(data)
	-
		const {className, text, title} = data
	.checkbox
		each t, i in text
			label.checkbox__label
				input(type="checkbox" name=className+"-"+i class="js-checkbox__input"+" "+className)
				.checkbox__custom
				if title
					h4.checkbox__header= title[i]
				else
					p.checkbox__text= t
			if title
				p.checkbox__text_small= t
