mixin checkbox(index, title, text)
	label.checkbox
		input(type="checkbox" name=`checkbox-${index}` class="checkbox__input js-checkbox__input")
		.checkbox__inner
		if title
			h4.checkbox__header= title
		else
			p.checkbox__text= text
	if title
		p.checkbox__text_small= text
