mixin checkbox(cl, text, head)
	.checkbox
		each t, i in text
			label.checkbox__label
				input(type="checkbox" name=cl+"-"+i class="checkbox__input"+" "+cl)
				.checkbox__custom
				if head
					h4.checkbox__header= head[i]
				else
					p.checkbox__text= t
			if head
				p.checkbox__text_small= t
