@import "../../variables.scss";
.info__container {
	padding-bottom: 20px;
}
.info__img {
	display: inline-block;
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 10px;
	font-weight: 400;
	font-size: 48px;
	line-height: 47.81px;
	font-family: "Material Icons";
	color: $purple;
}
.info__text-wrap {
	display: inline-block;
	padding-top: 3px;
}
.info__h4 {
	margin-bottom: 5px;
}