@import '../../variables.scss';
.login__container {
  padding-top: 40px;
  padding-bottom: 30px;
}
.login__h1 {
  margin-bottom: 20px;
  @media (max-width: 350px) {
    word-break: break-all;
  }
}
.login__input-1 {
  margin-bottom: 10px;
}
.login__input-2 {
  margin-bottom: 20px;
}
.login__btn {
  margin-bottom: 30px;
}
.login__footer {
  display: flex;
  flex-wrap: nowrap;
}
.login__footer-1 {
  flex: auto;
  padding-top: 10px;
}
.login__footer-text {
  color: $black-text;
}
.login__footer-2 {
  flex: 0 0 99%*100/320;
}
.login__btn-2 {
  display: block;
  span {
    padding-left: 10px;
    padding-right: 10px;
    word-break: break-all;
  }
}