@import "../../variables.scss";
.login__container {
	padding-top: 40px;
	padding-bottom: 30px;
}
.login__h1 {
	margin-bottom: 18px;
}
.login__input-1 {
	margin-bottom: 10px;
}
.login__input-2 {
	margin-bottom: 20px;
}
.login__btn {
	margin-bottom: 30px;
}
.login__footer {
	display: flex;
	flex-wrap: nowrap;
}
.login__footer-1 {
	flex: auto;
	padding-top: 10px;
}
.login__footer-text {
	color: $black-text;
}
.login__footer-2 {
	flex: 0 0 99%*100/320;
}