mixin search
	include ../../components/input/input.pug
	include ../../components/dropdown/dropdown.pug
	include ../../components/datepicker/datepicker.pug
	article.search
		.search__header-wrapper
			h1.search__header Найдём номера под ваши пожелания
		form.search__form
			.search__inputs-wrapper
				.search__input-1-wrapper
					+input(
					'прибытие', 
					'text', 
					'arrival', 
					'search__input-1', 
					'', 
					'ДД.ММ.ГГГГ', 
					'', 
					'expand_more')
				.search__input-2-wrapper
					+input(
					'выезд', 
					'text', 
					'departure', 
					'search__input-2', 
					'', 
					'ДД.ММ.ГГГГ', 
					'', 
					'expand_more')
			.search__datepicker-wrapper
				.search__datepicker-container
					+datepicker
			+dropdown(
			'peoples',
			'search__dropdown', 
			'гости', 
			'', 
			'взрослые', 
			'дети', 
			'младенцы',
			'1')
			a(href="search-room.html" class="search__link")
				.btn.btn_arrow подобрать номер