@import '../../variables.scss';
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Quicksand';

  src: url('../../fonts/quicksand-regular.woff');
  src: url('../../fonts/quicksand-regular.ttf') format('truetype'), url('../../fonts/quicksand-regular.svg') format('svg');
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Quicksand';

  src: url('../../fonts/quicksand-bold.woff');
  src: url('../../fonts/quicksand-bold.ttf') format('truetype'), url('../../fonts/quicksand-bold.svg') format('svg');
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Montserrat';

  src: url('../../fonts/montserrat-regular.woff');
  src: url('../../fonts/montserrat-regular.ttf') format('truetype'), url('../../fonts/montserrat-regular.svg') format('svg');
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Montserrat';

  src: url('../../fonts/montserrat-bold.woff');
  src: url('../../fonts/montserrat-bold.ttf') format('truetype'), url('../../fonts/montserrat-bold.svg') format('svg');
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Material Icons';

  src: url('../../fonts/materialIcons-regular.woff');
  src: url('../../fonts/materialIcons-regular.ttf') format('truetype'), url('../../fonts/materialIcons-regular.svg') format('svg');
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Open Sans';

  src: url('../../fonts/open-sans-bold.woff');
  src: url('../../fonts/open-sans-bold.ttf') format('truetype'), url('../../fonts/montserrat-bold.svg') format('svg');
}

*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: $page-inner-max;
  min-width: $page-min;
  margin: 0 auto;
}
header, main {
  flex: 0 0 auto;
}
.page__space {
  flex: auto;
}
footer {
  flex: 0 0 auto;
}
// *, *::before, *::after {
//   box-sizing: inherit;
// }
// h1 {
//   font-weight: 700;
//   font-size: 24px;
//   line-height: 1.2em;
//   font-family: Quicksand, Arial, sans-serif;
//   color: #1f2041;
// }
// .page__h1 {
//   font-weight: 700;
//   font-size: 24px;
//   line-height: 1.25em;
//   font-family: 'Open Sans', Arial, sans-serif;
//   color: $black;
// }
// h2 {
//   font-weight: 700;
//   font-size: 19px;
//   line-height: 1.2em;
//   font-family: Quicksand, Arial, sans-serif;
//   color: $black;
// }
// .page__h2 {
//   font-weight: 700;
//   font-size: 19px;
//   font-family: 'Open Sans', Arial, sans-serif;
//   color: $black;
// }
// h3 {
//   font-weight: 700;
//   font-size: 12px;
//   line-height: 1.2em;
//   font-family: Montserrat, Arial, sans-serif;
//   color: $black;
//   text-transform: uppercase;
// }
// h4 {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 18px;
//   font-family: Montserrat, Arial, sans-serif;
//   color: $black-75;
//   text-transform: none;
// }
// a {
//   text-decoration: none;
// }
// p {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.6em;
//   font-family: Montserrat, Arial, sans-serif;
//   color: $black-75;
// }
.page__container {
  width: 100%;
  max-width: 1200%*100/1440;
  margin: 0 auto;
  // border: 1px solid blue;
  padding-right: 20%*100/1440;
  padding-left: 20%*100/1440;
  @media (max-width: 1440px) {
    max-width: $page-container;
  }
  @media (max-width: $page-container) {
    max-width: 100%;
  }
}
.page__li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
}
.page__li::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  background-color: $black-25;
  border-radius: 5px;
}
.page__logo {
  width: 106px;
  height: 40px;
  background: transparent url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22106%22%20height%3D%2240%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M62.335%2013.368c.222%200%20.402.076.542.227.152.14.228.321.228.543a.74.74%200%200%201-.227.543.705.705%200%200%201-.543.227h-3.763v10.5a.761.761%200%200%201-.227.56c-.14.14-.32.21-.542.21-.21%200-.391-.07-.543-.21a.761.761%200%200%201-.227-.56v-10.5H53.27a.74.74%200%200%201-.543-.227.74.74%200%200%201-.227-.543c0-.222.076-.402.227-.543a.74.74%200%200%201%20.543-.227h9.065zM68.908%2013.368c.886%200%201.72.17%202.502.508.794.338%201.482.799%202.065%201.382a6.343%206.343%200%200%201%201.4%202.065c.338.782.508%201.616.508%202.503a6.259%206.259%200%200%201-.665%202.87%206.498%206.498%200%200%201-1.803%202.204l-.035.036c-.56.42-1.172.752-1.837.997a6.403%206.403%200%200%201-2.135.35c-.887%200-1.721-.17-2.503-.508a6.753%206.753%200%200%201-2.065-1.382%206.538%206.538%200%200%201-1.382-2.047%206.276%206.276%200%200%201-.508-2.52c0-.98.198-1.885.595-2.713.397-.84.94-1.557%201.628-2.152l.07-.07c.011%200%20.029-.012.052-.036a6.334%206.334%200%200%201%201.89-1.085c.7-.268%201.44-.402%202.223-.402zm0%2011.375c.443%200%20.863-.052%201.26-.157a5.584%205.584%200%200%200%201.155-.473L65.18%2016.64a4.916%204.916%200%200%200-.875%201.47%204.664%204.664%200%200%200-.315%201.716c0%20.676.128%201.312.385%201.907s.607%201.12%201.05%201.575c.455.443.98.793%201.575%201.05s1.231.385%201.908.385zm3.622-1.592c.408-.444.724-.945.945-1.506.234-.571.35-1.178.35-1.82a4.813%204.813%200%200%200-1.453-3.465%204.813%204.813%200%200%200-3.464-1.452c-.467%200-.916.064-1.348.193a4.462%204.462%200%200%200-1.207.524l6.177%207.526zM82.351%2020.63a.762.762%200%200%201-.595-.28l-4.498-5.775a.714.714%200%200%201-.157-.542.722.722%200%200%201%20.28-.508.658.658%200%200%201%20.543-.14c.21.024.379.117.507.28l3.92%205.006%203.832-4.918a.709.709%200%200%201%20.49-.28c.21-.023.397.03.56.157a.721.721%200%200%201%20.28.508.713.713%200%200%201-.157.543l-4.41%205.67a.73.73%200%200%201-.595.28zm4.918%205.636a1.572%201.572%200%200%201-.56-.105%203.865%203.865%200%200%201-.42-.228%202.376%202.376%200%200%201-.42-.42L82.35%2020.98l-3.832%204.936a.721.721%200%200%201-.508.28.714.714%200%200%201-.542-.158.709.709%200%200%201-.28-.49.741.741%200%200%201%20.157-.56l4.41-5.67a.682.682%200%200%201%20.578-.28c.256%200%20.46.093.612.28l4.095%205.25c.058.082.11.134.157.157l.106.053c.198%200%20.361.07.49.21.14.128.215.292.227.49a.657.657%200%200%201-.175.542.744.744%200%200%201-.525.245h-.052zM91.734%2026.265a.761.761%200%200%201-.56-.227.761.761%200%200%201-.227-.56V14.103c0-.21.076-.39.227-.543a.761.761%200%200%201%20.56-.227c.21%200%20.391.076.543.227a.74.74%200%200%201%20.227.543v11.375a.761.761%200%200%201-.227.56.74.74%200%200%201-.543.227zM104.938%2026.23a.685.685%200%200%201-.595-.297l-7.298-9.59v9.135a.74.74%200%200%201-.227.542.712.712%200%200%201-.525.21.75.75%200%200%201-.753-.752V14.12c0-.163.047-.309.14-.437a.697.697%200%200%201%20.385-.262.678.678%200%200%201%20.455-.018.79.79%200%200%201%20.385.262l7.28%209.608v-9.152c0-.199.07-.374.21-.526a.742.742%200%200%201%20.543-.227c.21%200%20.385.076.525.227a.723.723%200%200%201%20.227.525v11.358c0%20.163-.047.31-.14.438a.799.799%200%200%201-.367.28%201.492%201.492%200%200%201-.245.034z%22%20fill%3D%22%231F2041%22%2F%3E%3Cpath%20d%3D%22M20%2027.059a1.18%201.18%200%200%201-1.176-1.177c0-4.53-3.706-8.235-8.235-8.235a1.18%201.18%200%200%201-1.177-1.177c0-.647.53-1.176%201.177-1.176a10.582%2010.582%200%200%201%2010.588%2010.588A1.18%201.18%200%200%201%2020%2027.06z%22%20fill%3D%22url%28%23Logo-paint0_linear%29%22%2F%3E%3Cpath%20d%3D%22M30.588%2016.47a1.18%201.18%200%200%201-1.176%201.177%208.21%208.21%200%200%200-6.765%203.559%2012.044%2012.044%200%200%200-1.176-2.294%2010.49%2010.49%200%200%201%207.94-3.618c.648%200%201.177.53%201.177%201.176z%22%20fill%3D%22url%28%23Logo-paint1_linear%29%22%2F%3E%3Cpath%20d%3D%22M20%2040C8.97%2040%200%2031.03%200%2020S8.97%200%2020%200s20%208.97%2020%2020-8.97%2020-20%2020zm0-37.647C10.265%202.353%202.353%2010.265%202.353%2020S10.265%2037.647%2020%2037.647%2037.647%2029.735%2037.647%2020%2029.735%202.353%2020%202.353z%22%20fill%3D%22url%28%23Logo-paint2_linear%29%22%2F%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22Logo-paint0_linear%22%20x1%3D%2215.294%22%20y1%3D%2215.294%22%20x2%3D%2215.294%22%20y2%3D%2227.059%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%23BC9CFF%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%238BA4F9%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient%20id%3D%22Logo-paint1_linear%22%20x1%3D%2226.029%22%20y1%3D%2215.294%22%20x2%3D%2226.029%22%20y2%3D%2221.206%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%236FCF97%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2366D2EA%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient%20id%3D%22Logo-paint2_linear%22%20x1%3D%2220%22%20x2%3D%2220%22%20y2%3D%2240%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%23BC9CFF%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%238BA4F9%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E') left top no-repeat;
}