@import '../../variables.scss';
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Quicksand';

  src: url('../../fonts/quicksand-regular.woff');
  src: url('../../fonts/quicksand-regular.ttf') format('truetype'), url('../../fonts/quicksand-regular.svg') format('svg');
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Quicksand';

  src: url('../../fonts/quicksand-bold.woff');
  src: url('../../fonts/quicksand-bold.ttf') format('truetype'), url('../../fonts/quicksand-bold.svg') format('svg');
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Montserrat';

  src: url('../../fonts/montserrat-regular.woff');
  src: url('../../fonts/montserrat-regular.ttf') format('truetype'), url('../../fonts/montserrat-regular.svg') format('svg');
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Montserrat';

  src: url('../../fonts/montserrat-bold.woff');
  src: url('../../fonts/montserrat-bold.ttf') format('truetype'), url('../../fonts/montserrat-bold.svg') format('svg');
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Material Icons';

  src: url('../../fonts/materialIcons-regular.woff');
  src: url('../../fonts/materialIcons-regular.ttf') format('truetype'), url('../../fonts/materialIcons-regular.svg') format('svg');
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Open Sans';

  src: url('../../fonts/open-sans-bold.woff');
  src: url('../../fonts/open-sans-bold.ttf') format('truetype'), url('../../fonts/montserrat-bold.svg') format('svg');
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-75;
  *, *::before, *::after {
    box-sizing: inherit;
  }
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: $page-inner-max;
  min-width: $page-min;
  margin: 0 auto;
}
