.page_footer__container {
  .footer__container {
    padding-top: 99px;
    &--bottom {
      padding-top: 13px;
    }
  }
  .footer__social-li {
    margin-right: 17px;
    &:last-child {
      margin-right: 0;
    }
  }
  .footer__copyright {
    letter-spacing: 0;
  }
}