.page_footer__container
	include ../../components/footer/footer.pug
	-
		let nav = [
			new MenuItem('навигация', '#', ['О нас', 'Новости', 'Служба поддержки', 'Услуги'], ['#', '#', '#', '#']),
			new MenuItem('о нас', '#', ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'], ['#', '#', '#', '#']),
			new MenuItem('Служба поддержки', '#', ['Соглашения', 'Сообщества', 'Связь с нами'], ['#', '#', '#'])
		];
	.page_footer__content

		+footer(
			headers_footers__footer, 
			'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
			nav, 
			'Подписка',
			'Получайте специальные предложения и новости сервиса',
			'Copyright © 2018 Toxin отель. Все права зачищены.')