@import '../../variables.scss';
.registration__header {
  box-shadow: 0 10px 20px $black-5;
}
.registration__wrap {
  padding-top: 30px;
  padding-bottom: 25px;
  background: transparent url('reg__bg.jpg') center bottom no-repeat;
  // background-position-y: -70px;
  background-size: cover;
}
.registration__container {
  width: 380%*100/1440;
  margin: 0 auto;
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px $shadow;
  max-width: 380px;
  @media (max-width: 1440px) {
    width: 380px;
  }
  @media (max-width: 385px) {
    width: 97%;
    // min-width: 375px;
  }
  .toggle__text {
    margin-top: -2px;
  }
}
.registration__inner {
  width: 320%*100/380;
  margin: 0 auto;
  .reg__radio-wrap {
    margin-bottom: 18px;
  }
}