extends ../../base.pug
block title
	| Registration
block main
	.registration__header
		include ../../components/page_header/page_header.pug
	.registration__wrap
		.registration__container
			.registration__inner
				include ../../components/reg/reg.pug
	include ../../components/page_footer/page_footer.pug