@import '../../variables.scss';
.page-footer {
  .footer__container {
    padding-top: 101px;
    &_bottom {
      padding-top: 13px;
    }
    @media (max-width: $mobile-menu-breakpoint) {
      padding-top: 25px;
    }
  }
  .footer__block-1 {
    @media (max-width: $mobile-menu-breakpoint) {
      padding-bottom: 25px;
    }
  }
  .footer__social-li {
    margin-right: 17px;
    &:last-child {
      margin-right: 0;
    }
  }
  .footer__copyright {
    letter-spacing: 0;
  }
}