include ../../components/input/input.pug
mixin login
	article.login
		h1.login__header Войти
		form.login__form
			+input(
				'', 
				'email', 
				'email', 
				'login__input-1', 
				'', 
				'Email', 
				'')
			+input(
				'', 
				'text', 
				'password', 
				'login__input-2', 
				'', 
				'Пароль', 
				'')
			.login__btn
				button.btn.btn_arrow.btn_button войти
		.login__footer
			.login__footer-1
				p.login__footer-text Нет аккаунта на Toxin?
			.login__footer-2
				a(href="registration.html" class="login__link")
					.login__btn-2 
						.btn.btn_light
							span.btn_light-inner.btn_light-form создать
