@import '../../variables.scss';
.login {
  padding-top: 40px;
  padding-bottom: 30px;
}
.login__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25em;
  font-family: 'Open Sans', Arial, sans-serif;
  color: $black;
  margin-bottom: 20px;
  @media (max-width: 350px) {
    word-break: break-all;
  }
}
.login__input-1 {
  margin-bottom: 10px;
}
.login__input-2 {
  margin-bottom: 20px;
}
.login__btn {
  margin-bottom: 30px;
  word-break: break-all;
  .btn_arrow::after {
    word-break: normal;
  }
}
.login__footer {
  display: flex;
  flex-wrap: nowrap;
}
.login__footer-1 {
  flex: auto;
  padding-top: 14px;
}
.login__footer-text {
  color: $black-text;
}
.login__footer-2 {
  flex: 0 0 99%*100/320;
}
.login__btn-2 {
  display: block;
  min-width: 98.5px;
}
.login__btn-2-inner {
  padding-left: 10px;
  padding-right: 10px;
  word-break: break-all;
}