mixin dates-selector
	include ../../components/input/input.pug
	include ../../components/dropdown/dropdown.pug
	include ../../components/datepicker-block/datepicker-block.pug
	.dates-selector
		.dates-selector__inputs-wrapper
			.dates-selector__arrival-wrapper
				+input(
				'прибытие', 
				'text', 
				'arrival', 
				'', 
				'', 
				'дд.мм.гггг', 
				'', 
				'expand_more')
			.dates-selector__departure-wrapper
				+input(
				'выезд', 
				'text', 
				'departure', 
				'', 
				'', 
				'дд.мм.гггг', 
				'', 
				'expand_more')
		.dates-selector__datepicker-wrapper
			.dates-selector__datepicker-container
				+datepicker
