mixin dates-selector(data1, data2, text1, text2)
	include ../../components/input/input.pug
	include ../../components/dropdown/dropdown.pug
	include ../../components/datepicker-block/datepicker-block.pug
	.dates-selector
		+dropdown (data1)
		+dropdown (data2)
		.js-dates-selector__datepicker
				+datepicker(text1, text2)
