@import '../../variables.scss';
.js-dates-selector {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
.js-dates-selector__datepicker {
  position: absolute;
  bottom: -7px;
  transform: translate(0, 100%);
  z-index: 10;
  display: none;
  width: 100%;
  background: $white;
  border-radius: 4px;
  &_visible {
    display: block;
  }
}
