@import '../../variables.scss';
.dates-selector__inputs-wrapper {
  display: flex;
  flex-wrap: nowrap;
}
.dates-selector__input {
  margin-top: auto;
  flex: 0 0 47.24%;
  .input__button {
    @media (max-width: 350px) {
      width: 32px;
    }
  }
}
.dates-selector__input:first-child {
  margin-right: auto;
}
.dates-selector__input .input__field {
  text-transform: uppercase;
  letter-spacing: -0.4px;
  cursor: default;
  &:hover {
    border: 1px solid $black-25;
  }
  @media (max-width: 350px) {
    padding-left: 12px;
  }
}
.dates-selector__datepicker-wrapper {
  position: relative;
}
.dates-selector__datepicker-container {
  position: absolute;
  top: 6px;
  z-index: 10;
  display: none;
  width: 100%;
  background: $white;
  &_visible {
    display: block;
  }
}
