mixin dates-selector
	include ../../components/input/input.pug
	include ../../components/dropdown/dropdown.pug
	include ../../components/datepicker-block/datepicker-block.pug
	.dates-selector
		+dropdown (
		' dropdown_theme_date',
		'arrival',
		'прибытие')
		+dropdown (
		' dropdown_theme_date',
		'departure',
		'выезд')
		.dates-selector__datepicker
				+datepicker
