@import "../../variables.scss";

.toggle {

  &__input {
    display: none;
  }

  &__label {
    position: relative;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: $white;
    border: 1px solid $black-25;
    border-radius: 10px;
  }

  &__inner-circle {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: $black-25;
    border-radius: 6px;
  }

  &__input:checked + .toggle__inner {
    border: 1px solid $purple;
    .toggle__inner-circle {
      left: 22px;
      background: $gradient-purple;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
    font-family: Montserrat, Arial, sans-serif;
    color: $black-75;
    cursor: pointer;
    margin-bottom: 10px;
    padding-left: 50px;
  }
}