extends ../../base.pug
block title
	| Room details
block main
	.room_details__header
		include ../../components/page_header/page_header.pug
	.room_details__img-wrap
		.room_details__img-col-1
			img(src="img/room1.jpg" width="100%")
		.room_details__img-col-2
			.room_details__img-2
				img(src="img/room2.jpg" width="100%")
			.room_details__img-3
				img(src="img/room3.jpg" width="100%")
	.room_details__container
		.room_details__col-1
			.room_details__content-row-1
				.room_details__text-1
				.room_details__text-space-1
				.room_details__text-2
			.room_details__content-row-2
				.room_details__text-3
			.room_details__content-row-3
				.room_details__text-4
				.room_details__text-space-2
				.room_details__text-5
		.room_details__space
		.room_details__col-2