extends ../../base.pug
block title
	| Room details
block main
	header.room_details__header
		include ../../components/page_header/page_header.pug
	figure.room_details__img-wrap
		.room_details__img-col-1
			img(src="img/room1.jpg" width="100%")
		.room_details__img-col-2
			.room_details__img-2
				img(src="img/room2.jpg" width="100%")
			.room_details__img-3
				img(src="img/room3.jpg" width="100%")
	.room_details__wrap
		section.room_details__container
			include ../../components/info/info.pug
			include ../../components/like/like.pug
			include ../../components/review/review.pug
			.room_details__col-1
				.room_details__content-row-1
					article.room_details__text-1
						h2.page__h2.room_details__h2-1 Сведения о номере
						.room_details__info-wrap
							+info(
								'room_details__info-1',
								'insert_emoticon',
								'Комфорт',
								'Шумопоглощающие стены')
						.room_details__info-wrap
							+info(
								'room_details__info-2',
								'location_city',
								'Удобство',
								'Окно в каждой из спален')
						.room_details__info-wrap
							+info(
								'room_details__info-3',
								'whatshot',
								'Уют',
								'Номер оснащён камином')
					//- .room_details__text-space-1
					article.room_details__text-2
						h2.page__h2.room_details__h2-2 Впечатления от номера
						.room_details__chart-wrap
							.room_details__chart
							.room_details__chart-2
							.room_details__chart-inner
								.room_details__chart-number 260
								.room_details__chart-text голосов
						.room_details__chart-comment
							.room_details__chart-item
								.room_details__chart-before.room_details__chart-before--1
								p.room_details__chart-p Великолепно
							.room_details__chart-item
								.room_details__chart-before.room_details__chart-before--2
								p.room_details__chart-p Хорошо
							.room_details__chart-item
								.room_details__chart-before.room_details__chart-before--3
								p.room_details__chart-p Удовлетворительно
							.room_details__chart-item
								.room_details__chart-before.room_details__chart-before--4
								p.room_details__chart-p Разочарован
				.room_details__content-row-2
					article.room_details__text-3
						h2.page__h2.room_details__h2-3 Отзывы посетителей номера
						.room_details__review-wrap
							+review(
								'room_details__revew-1',
								'img/murad.jpg',
								'12',
								'Мурад Сарафанов',
								'5 дней назад',
								'Великолепный матрас на кровати в основной спальне! А пуфик вообще 	потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
						.room_details__review-wrap
							+review(
								'room_details__revew-2',
								'img/Patricia.jpg',
								'2',
								'Патрисия Стёклышкова',
								'Неделю назад',
								'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент')
				.room_details__content-row-3
					article.room_details__text-4
						h2.page__h2.room_details__h2-4 Правила
						ul.room_details__ul
							li.page__li Нельзя с питомцами
							li.page__li Без вечеринок и мероприятий
							li.page__li Время прибытия — после 13:00, а выезд до 12:00
					.room_details__text-space-2
					article.room_details__text-5
						h2.page__h2.room_details__h2-5 Отмена
						p.room_details__p-5 Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
			//- .room_details__space
			.room_details__col-2
				.room_details__form
					.room_details__form-inner
						include ../../components/room/room.pug
	include ../../components/page_footer/page_footer.pug