extends ../../base.pug
block description
	meta(name='description', content="Cards")
block title
	| Cards
block main
	.cards
		include ../../components/ui-kit/ui-kit.pug
		include ../../components/card/card.pug
		include ../../components/datepicker-block/datepicker-block.pug
		include ../../components/login-form/login-form.pug
		include ../../components/registration-form/registration-form.pug
		include ../../components/reservation-form/reservation-form.pug
		include ../../components/search-form/search-form.pug
		+ui-kit
		- 	
			const datepickerText = ['применить', 'очистить'];
			const searchFormData = {
				title: 'Найдём номера под ваши пожелания',
				dropdown1: {
					name: 'arrival',
					header: 'прибытие'
				}, 
				dropdown2: {
					name: 'departure',
					header: 'выезд'
				},
				dropdown3: {
					name: 'guests',
					header: 'гости',
					text: '',
					item1: 'взрослые',
					item2: 'дети',
					item3: 'младенцы',
					clear: '1'
				}, 
				btnText: 'подобрать номер',
				datepickerText1: datepickerText[0],
				datepickerText2: datepickerText[1]
			}
			const registrationFormData = {
				title: 'Регистрация аккаунта',
				input1: {
					header: '',
					type: 'text',
					name: 'name',
					value: '',
					placeholder: 'Имя',
					text: '',
					modifiers: ['themeLight']
				},
				input2: {
					header: '',
					type: 'text',
					name: 'surname',
					value: '',
					placeholder: 'Фамилия',
					text: '',
					modifiers: ['themeLight']
				},
				radio: {
					name: 'registration-form__radio',
					text: ['Мужчина', 'Женщина']
				},
				input3: {
					header: 'дата рождения',
					type: 'text',
					name: 'birthday',
					value: '',
					placeholder: 'дд.мм.гггг',
					text: '',
					modifiers: ['themeUpprecase', 'typeMasked']
				},
				input4: {
					header: 'данные для входа в сервис',
					type: 'email',
					name: 'email',
					value: '',
					placeholder: 'Email',
					text: '',
					modifiers: ['themeLight']
				},
				input5: {
					header: '',
					type: 'password',
					name: 'password',
					value: '',
					placeholder: 'Пароль',
					text: '',
					modifiers: ['themeLight']
				},
				toggle: {
					text: ['Получать спецпредложения']
				},
				btnText: 'перейти к оплате',
				footerText: 'Уже есть аккаунт на Toxin',
				btnText2: 'войти'
			}
			const reservationFormData = {
				title: '888',
				title2: 'люкс',
				titlePrice: '9 990₽',
				titlePrice2: 'в сутки',
				dropdown1: {
					name: 'arrival',
					header: 'прибытие'
				}, 
				dropdown2: {
					name: 'departure',
					header: 'выезд'
				},
				dropdown3: {
					name: 'guests',
					header: 'гости',
					text: '',
					item1: 'взрослые',
					item2: 'дети',
					item3: 'младенцы',
					clear: '1'
				}, 
				text: ['9 990₽ х 4 суток', '39 960₽', 'Сбор за услуги: скидка 2', '179₽', '0₽', 'Сбор за дополнительные услуги', '300₽'],
				total: ['Итого', '38 081₽'],
				btnText: 'забронировать',
				datepickerText1: datepickerText[0],
				datepickerText2: datepickerText[1]
			}
			const loginFormData = {
				title: 'Войти',
				input1: {
					header: '',
					type: 'email',
					name: 'email',
					value: '',
					placeholder: 'Email',
					text: '',
					modifiers: ['themeLight']
				},
				input2: {
					header: '',
					type: 'password',
					name: 'password',
					value: '',
					placeholder: 'Пароль',
					text: '',
					modifiers: ['themeLight']
				},
				btnText: 'войти',
				footerText: 'Нет аккаунта на Toxin?',
				btnText2: 'создать'
			}
			const RoomData = function(img, num, lux, price, rate, rev) {
				this.img = img;
				this.num = num;
				this.lux = lux;
				this.price = price;
				this.rate = rate;
				this.rev = rev;
			};
			const data = [
				new RoomData(['img/image1.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 888, 'люкс', '9 990', 5, 145),
				new RoomData(['img/image2.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 840, '', '9 990', 4, 65)
				];
			const cardText = ['₽', 'в сутки', 'Отзывов'];
		.cards__container
			.cards__column
				.cards__card-wrapper.cards__card-wrapper_block_search
					+search-form(searchFormData)
				.cards__card-wrapper.cards__card-wrapper_block_registration
					+registration-form(registrationFormData)
			.cards__column
				.cards__card-wrapper.cards__card-wrapper_block_reservation
					+reservation-form(reservationFormData)
				.cards__card-wrapper.cards__card-wrapper_block_login
					+login-form(loginFormData)
			.cards__column.cards__column_right
				.cards__card-wrapper.cards__card-wrapper_block_datepicker
					+datepicker(datepickerText[0], datepickerText[1])
				.cards__card-wrapper.cards__card-wrapper_block_card
					.cards__card
						+card(data[0], cardText)
				.cards__card-wrapper.cards__card-wrapper_block_card
					.cards__card
						+card(data[1], cardText)
