@import "../../variables.scss";

.cards {
  background: $grey;

  &__container {
    width: 1200%*100/1440;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1440px) {
      width: $page-container;
    }

    @media (max-width: $page-container) {
      width: 100%;
    }
  }

  &__column {
    flex: 0 0 420%*100/1200;

    @media (max-width: $page-container) {
      flex: 1 0 320px;
    }

    @media (max-width: 420px) {
      display: block;
      width: 100%;
    }

    &_right {
      flex: 0 0 360%*100/1200;

      @media (max-width: $page-container) {
        flex: 1 0 320px;
      }

      @media (max-width: 420px) {
        display: block;
        width: 100%;
      }
    }
  }

  &__card-wrapper {
    width: 380%*100/420;
    max-width: 380px;
    padding-left: 30%*100/420;
    padding-right: 30%*100/420;
    margin: 0 auto;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 0 25px $shadow;

    @media (max-width: $page-container) {
      min-width: 310px;
    }

    @media (max-width: 380px) {
      overflow-x: hidden;
    }

    &_block {

      &_search {
        margin-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
        background: transparent;
        box-shadow: none;
      }

      &_registration {
        margin-bottom: 140px;

        @media (max-width: $page-container) {
          margin-bottom: 40px;
        }
      }

      &_reservation {
        margin-bottom: 39px;
      }

      &_login,
      &_datepicker {
        margin-bottom: 39px;
      }

      &_card {
        margin-bottom: 40px;
        background: transparent;
        box-shadow: none;
        padding-left: .7%;
        padding-right: 14.6%;
      }
    }
  }

  &__card {
    // background: $white;
    box-shadow: 0 0 25px $shadow;
    border-right: 4px;
    width: 270px;
  }

  &__card-wrapper_block_datepicker {
    max-width: 330px;
    padding: 0; 

    @media (min-width: 1445px) {
      margin-left: 20px;
      margin-right: auto;
    } 
  }
}