extends ../../base.pug
block description
	meta(name='description', content="Cards")
block title
	| Cards
block main
	.cards
		include ../../components/ui-kit/ui-kit.pug
		include ../../components/card/card.pug
		include ../../components/datepicker/datepicker.pug
		include ../../components/login-form/login-form.pug
		include ../../components/registration-form/registration-form.pug
		include ../../components/reservation-form/reservation-form.pug
		include ../../components/search-form/search-form.pug
		+ui-kit
		- 	
			let RoomData = function(img, num, lux, price, rate, rev) {
				this.img = img;
				this.num = num;
				this.lux = lux;
				this.price = price;
				this.rate = rate;
				this.rev = rev;
			};
			let data = [
				new RoomData(['img/image1.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 888, 'люкс', '9 990', 5, 145),
				new RoomData(['img/image2.jpg', 'img/image13.jpg', 'img/image14.jpg', 'img/image15.jpg'], 840, '', '9 990', 4, 65)
				];
		.cards__container
			.cards__column.cards__column_1
				.cards__card-wrapper.cards__card-wrapper_1
					+search-form
				.cards__card-wrapper.cards__card-wrapper_2
					+registration-form
			.cards__column.cards__column_2
				.cards__card-wrapper.cards__card-wrapper_3
					+reservation-form
				.cards__card-wrapper.cards__card-wrapper_4
					+login-form
			.cards__column.cards__column_3
				.cards__card-wrapper.cards__card-wrapper_5
					+datepicker
				.cards__card-wrapper.cards__card-wrapper_6
					+card('cards__card-1', data[0])
				.cards__card-wrapper.cards__card-wrapper_7
					+card('cards__card-1', data[1])
