// Colors
$black: #1f2041;
$purple: #bc9cff;
$white: #ffffff;
$green: #6fcf97;
$orange: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$grey: #f4f4f6;
$black-75: rgba(31, 32, 65, 0.75);
$black-50: rgba(31, 32, 65, 0.5);
$black-25: rgba(31, 32, 65, 0.25);
$black-10: rgba(31, 32, 65, 0.1);
$black-5: rgba(31, 32, 65, 0.05);
$gradient-purple: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$gradient-green: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$gradient-black: linear-gradient(180deg, #919191 0%, #3d4975 100%);
$shadow: rgba(0, 0, 0, 0.2);
$black-text: #000000;
$bg-purple: rgba(188, 156, 255, 0.25);
// width
$page-min: 320px;
$page-content-min: 315px;
$page-inner-max: 1920px;
$page-inner-min: 380px;
$page-container: 1200px;
$mobile-menu-breakpoint: 450px;