// Colors
$black: #1f2041;
$purple: #bc9cff;
$white: #ffffff;
$green: #6fcf97;
$black-75: rgba(31, 32, 65, 0.75);
$black-50: rgba(31, 32, 65, 0.5);
$black-25: rgba(31, 32, 65, 0.25);
$black-5: rgba(31, 32, 65, 0.05);
$gradient-purple: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
// width
$page-min: 320px;
$page-inner-max: 1440px;
$page-inner-min: 380px;
$page-container: 1200px;