@import "../../variables.scss";
.checkbox {
	display: none;
}
.checkbox__label {
	position: relative;
}
.checkbox__custom {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: $white;
	border: 1px solid $black-25;
	border-radius: 4px;
}
.checkbox:checked + .checkbox__custom {
	background: url("check.svg") center center no-repeat;
	border: 1px solid $purple;
}
.checkbox__text {
	margin-bottom: 11px;
	padding-left: 29px;
	line-height: 1.4em;
	color: $black-50;
}