@import "../../variables.scss";
.checkbox {
	display: none;
}
.checkbox__label {
	position: relative;	
}
.checkbox__custom {
	width: 20px;
	height: 20px;
	border-radius: 4px;
border: 1px solid $black-25;
background-color: $white;
position: absolute;
top: 0;
left: 0;
}
.checkbox:checked + .checkbox__custom {
	border: 1px solid $purple;
	background: url("check.svg") center center no-repeat;
}
.checkbox__text {
	padding-left: 29px;
	margin-bottom: 10px;
	line-height: 1.4em;
}