@import "../../variables.scss";
.d-none {
	display: none;
}
.search_room__header {
	position: relative;
	z-index: 10;
	box-shadow: 0 10px 20px $black-5;
}
.search_room__wrap {
	position: relative;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	background: $white;
	@media (max-width: 380px) {
		width: 100vw;
	}
}
.search_room__container {
	// border: 1px solid red;
	display: flex;
	flex-wrap: nowrap;
	width: 1200%*100/1440;
	margin: 0 auto;
	padding-top: 25px;
	padding-right: 14%*100/1440;
	padding-left: 20%*100/1440;
	border-bottom: 1px solid $black-10;
	@media (max-width: 1440px) {
		width: 1200px;
	}
	@media (max-width: $page-container) {
		width: 100vw;
	}
	@media (max-width: 600px) {
		flex-wrap: wrap;
	}
}
.search_room__form {
	flex: 0 0 275%*100/1200;
	// border: 1px solid green;
	min-width: 266px;
	@media (max-width: 600px) {
		flex-grow: 1;
	}
}
.search_room__input-wrap {
	margin-bottom: 18px;
}
.search_room__datepicker-wrap {
	position: relative;
}
.search_room__datepicker-container {
	position: absolute;
	top: -10px;
	left: -5px;
	z-index: 10;
	display: none;
	width: 320px;
	background: $white;
}
.search_room__dropdown-wrap {
	margin-bottom: 29px;
}
.search_room__slider-wrap {
	margin-bottom: 15px;
}
.search_room__slider-text {
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	font-family: Montserrat;
	color: $black-50;
}
.search_room__checkbox-wrap {
	width: 222%*100/266;
	margin-bottom: 33px;
}
.search_room__checkbox-h3 {
	margin-bottom: 15px;
}
.search_room__rich-wrap {
	margin-bottom: 28px;
}
.search_room__rich-h3 {
	margin-bottom: 18px;
}
.search_room__dropdown-2-wrap {
	margin-bottom: 31px;
}
.search_room__expandable-h3 {
	position: relative;
	margin-bottom: 20px;
	cursor: pointer;
	&::after, &--rotate::after {
		content: "expand_more";
		position: absolute;
		top: -1px;
		right: 12px;
		display: block;
		font-weight: 400;
		font-size: 24px;
		font-family: "Material Icons";
		text-align: center;
		color: $black-50;
		text-transform: none;
		background: #ffffff;
		border-radius: 4px;
	}
	&--rotate::after {
		transform: rotate(180deg);
	}
}
.search_room__expandable-text {
	margin-bottom: 30px;
}
.search_room__space {
	// flex: 0 1 100%*100/1200;
	flex: 0 1 210px;
	// flex: auto;
}
.search_room__cards {
	// flex: 0 0 834%*100/1200;
	flex: auto;
	// border: 1px solid blue;
	min-width: 282px;
}
.search_room__h1 {
	margin-bottom: 20px;
}
.search_room__cards-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 21px;
}
.search_room__card-wrap {
	cursor: pointer;
	flex: 1 0 280px;
	margin-bottom: 21px;
	padding-right: 4.8%*100/834;
	// border: 1px solid magenta;
	padding-left: 4.8%*100/834;
	border-radius: 4px;
	box-shadow: 0 10px 20px $black-5;
}
.search_room__pagination-wrap {
	width: 320px;
	margin: 0 auto;
	margin-bottom: 70px;
}
