extends ../../base.pug
block title
	| Search room/Filter
block main
	.search_room__header
		include ../../components/page_header/page_header.pug
	.search_room__wrap
		include ../../components/input/input.pug
		include ../../components/dropdown/dropdown.pug
		include ../../components/slider/slider.pug
		include ../../components/checkbox/checkbox.pug
		include ../../components/card/card.pug
		- 	
			let RoomData = function(img, num, lux, price, rate, rev) {
				this.img = img;
				this.num = num;
				this.lux = lux;
				this.price = price;
				this.rate = rate;
				this.rev = rev;
			};
			let data = [
				new RoomData(['img/image1.jpg', 'img/image2.jpg', 'img/image3.jpg', 'img/image4.jpg'], 888, 'люкс', '9 990', 5, 145),
				new RoomData(['img/image2.jpg', 'img/image3.jpg', 'img/image4.jpg', 'img/image5.jpg'], 840, '', '9 990', 4, 65),
				new RoomData(['img/image2.jpg', 'img/image3.jpg', 'img/image4.jpg', 'img/image5.jpg'], 840, '', '9 990', 4, 65),
				new RoomData(['img/image2.jpg', 'img/image3.jpg', 'img/image4.jpg', 'img/image5.jpg'], 840, '', '9 990', 4, 65),
				new RoomData(['img/image2.jpg', 'img/image3.jpg', 'img/image4.jpg', 'img/image5.jpg'], 840, '', '9 990', 4, 65),
				new RoomData(['img/image2.jpg', 'img/image3.jpg', 'img/image4.jpg', 'img/image5.jpg'], 840, '', '9 990', 4, 65)
				];
		.search_room__container
			.search_room__form
				form
					.search_room__input-wrap
						+input(
							'даты пребывания в отеле', 
							'text', 
							'search_room__input-1', 
							'search_room__input', 
							'', 
							'19 авг - 23 авг', 
							'',
							'expand_more')
					.search_room__datepicker-wrap
						.search_room__datepicker-container
							include ../../components/datepicker/datepicker.pug
					.search_room__dropdown-wrap
						+dropdown(
							'peoples',
							'search_room__dropdown-peoples-1', 
							'гости', 
							'', 
							'взрослые', 
							'дети', 
							'младенцы',
							'1')
					.search_room__slider-wrap
						+slider(1, 'диапазон цены')
					.search_room__slider-text Стоимость за сутки пребывания в номере
					.search_room__checkbox-wrap
						h3.search_room__checkbox-h3 Checkbox Buttons
						+checkbox(
							'search_room__checkbox-1', 
							['Можно курить', 
							'Можно с питомцами', 
							'Можно пригласить гостей (до 10 человек)'])
					.search_room__rich-wrap
						h3.search_room__rich-h3 доступность
						+checkbox(
							'search_room__checkbox-2', 
							['Ширина коридоров в номере не менее 91 см.', 
							'На 1 этаже вас встретит специалист  и проводит до номера.'],
							['Широкий коридор',
							'Помощник для инвалидов'])
					.search_room__dropdown-2-wrap
						+dropdown(
							'rooms',
							'search_room__dropdown-rooms-1', 
							'удобства номера', 
							'', 
							'спальни', 
							'кровати', 
							'ванные комнаты')
					.search_room__expandable-wrap
						h3.search_room__expandable-h3 дополнительные удобства
						.search_room__expandable-text.d-none
							+checkbox(
								'search_room__checkbox-3', 
								['Завтрак', 
								'Письменный стол', 
								'Стул для кормления',
								'Кроватка',
								'Телевизор',
								'Шампунь',
								'Телевизор',
								'Шампунь'])
			.search_room__space
			.search_room__cards
				h1.page__h1.search_room__h1 Номера, которые мы для вас подобрали
				.search_room__cards-wrap
					each val, i in data
						.search_room__card-wrap
							+card('cards__card-' + i, val)

				