@import '../../variables.scss';
.d-none {
  display: none;
}
.d-block {
  display: block !important;
}
.search_room__header {
  position: relative;
  z-index: 10;
  box-shadow: 0 10px 20px $black-5;
}
.search_room__wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  background: $white;
}
.search_room__space {
  border-bottom: 1px solid $black-10;
}
.search_room__container {
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1200%*100/1440;
  margin: 0 auto;
  margin-bottom: 3px;
  padding-top: 27px;
  padding-right: 14%*100/1440;
  padding-left: 20%*100/1440;
  @media (max-width: 1440px) {
    width: 1200px;
  }
  @media (max-width: 1220px) {
    width: 100%;
  }
  @media (max-width: 905px) {
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
  }
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}
.search_room__filters {
  display: none;
  @media (max-width: 905px) {
    display: block;
    margin: 0 auto;
    width: 310px;
    padding-top: 16px;
    margin-bottom: 30px;
    text-align: center;
    background: $black-10;
  }
  &-h3 {
    position: relative;
    margin-bottom: 18px;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    max-width: 240px;
    &::after, &--rotate::after {
      content: 'expand_more';
      position: absolute;
      top: -1px;
      right: -28px;
      font-weight: 400;
      font-size: 24px;
      font-family: 'Material Icons';
      text-align: center;
      color: $black-text;
      text-transform: none;
      background: transparent;
    }
    &--rotate::after {
      transform: rotate(180deg);
    }
  }
}
.search_room__form {
  flex: 0 0 275%*100/1200;
  // border: 1px solid green;
  min-width: 266px;
  max-width: 310px;
  margin-right: 4.5%;
  @media (max-width: 905px) {
    margin: 0 auto;
    margin-bottom: 50px;
    display: none;
  }
  @media (max-width: 600px) {
    flex-grow: 1;
  }
}
.search_room__input-wrap {
  margin-bottom: 17px;
}
.search_room__input-1 {
  &::-webkit-input-placeholder {
    color: $black-75;
  }
  &::-moz-placeholder {
    color: $black-75;
  }
  &:-moz-placeholder {
    color: $black-75;
  }
  &:-ms-input-placeholder {
    color: $black-75;
  }
  &:hover {
    border: 1px solid $black-25;
  }
}
.search_room__datepicker-wrap {
  position: relative;
}
.search_room__datepicker-container {
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 10;
  display: none;
  width: 320px;
  background: $white;
}
.search_room__dropdown-wrap {
  margin-bottom: 29px;
}
.search_room__slider-wrap {
  margin-bottom: 15px;
}
.search_room__slider-text {
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-family: Montserrat, Arial, sans-serif;
  color: $black-50;
}
.search_room__checkbox-wrap {
  width: 222%*100/266;
  margin-bottom: 31px;
}
.search_room__checkbox-h3 {
  margin-bottom: 15px;
}
.search_room__rich-wrap {
  margin-bottom: 28px;
}
.search_room__rich-h3 {
  margin-bottom: 18px;
}
.search_room__dropdown-2-wrap {
  margin-bottom: 30px;
}
.search_room__expandable-h3 {
  position: relative;
  margin-bottom: 18px;
  cursor: pointer;
  &::after, &--rotate::after {
    content: 'expand_more';
    position: absolute;
    top: -1px;
    right: 12px;
    display: block;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Material Icons';
    text-align: center;
    color: $black-50;
    text-transform: none;
    background: #ffffff;
    border-radius: 4px;
  }
  &--rotate::after {
    transform: rotate(180deg);
  }
}
.search_room__expandable-text {
  margin-bottom: 30px;
  .checkbox__text {
    margin-bottom: 11px;
  }
}
.search_room__cards {
  flex: auto;
  padding-top: 3px;
  // border: 1px solid blue;
  min-width: 282px;
}
.search_room__h1 {
  padding-left: 4px;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}
.search_room__cards-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18px;
}
.search_room__card-wrap {
  flex: 1 0 280px;
  margin-bottom: 21px;
  padding-right: 4.8%*100/834;
  // border: 1px solid magenta;
  padding-left: 4.8%*100/834;
  border-radius: 4px;
  box-shadow: 0 10px 20px $black-5;
  // cursor: pointer;
}
.search_room__pagination-wrap {
  margin-bottom: 69px;
  text-align: center;
  margin-left: -20px;
  #pagination-container {
    display: inline-block;
  }
  @media (max-width: 905px) {
    margin: 0 auto;
    margin-bottom: 69px;
  }
}
.search_room__pagination-wrap .paginationjs-page {
  margin-right: 1px;
  @media (max-width: 800px) {
    margin-right: -6px;
  }
}
.search_room__input-icon-text {
  font-weight: 400;
  font-size: 24px;
  font-family: 'Material Icons';
  color: $black-50;
}