extends ../../base.pug
block title
	| Search room/Filter
block main
	.search_room__header
		include ../../components/page_header/page_header.pug
	.search_room__wrap
		.search_room__container
			.search_room__form
			.search_room__space
			.search_room__cards
				.search_room__card-wrap

				