mixin slider(a, text)
	.slider__container
		h3.slider__h3= text
		p.slider__p
			label(for="amount")
			//- h3.slider__h3 Range Slider
		input(type="text" id="amount" readonly style="border:0;")
		.slider__clearfix
		#slider-range