mixin slider(a, text)
	.slider__container
		h3.slider__header= text
		p.slider__text
			label(for="amount")
		input(type="text" id="amount" readonly style="border:0;")
		.slider__clearfix
		#slider-range