mixin toggle(cl, text)
	.toggle__container
		each t, i in text
			label.toggle__label
				input(type="checkbox" name=cl+"-"+i class="toggle"+" "+cl)
				.toggle__custom
					.toggle__custom-inner
				p.toggle__text= t