extends ../../base.pug
block title
	| Form Elements	
block main
	include ../../components/ui_kit/ui_kit.pug
	include ../../components/input/input.pug
	include ../../components/checkbox/checkbox.pug
	include ../../components/radio/radio.pug
	include ../../components/toggle/toggle.pug
	include ../../components/like/like.pug
	include ../../components/rate/rate.pug
	include ../../components/slider/slider.pug
	include ../../components/dropdown/dropdown.pug
	include ../../components/info/info.pug
	include ../../components/review/review.pug
	.page__container
		article.form_elements__row
			.form_elements__col.form_elements__col--1
				section.form_elements__inner.form_elements__inner--1
					.form_elements__item.form_elements__item--1
						+input(
							'Text Field', 
							'email', 
							'form_elements__input-1', 
							'form_elements__input', 
							'', 
							'Email', 
							'Default')
					.form_elements__item.form_elements__item--2
						+input(
							'Text Field', 
							'email', 
							'form_elements__input-2', 
							'input__input--hover form_elements__input', 
							'This is pretty awesome', 
							'', 
							'Hover / Focus')
					.form_elements__item.form_elements__item--3
						+input(
							'Dropdown', 
							'email', 
							'form_elements__input-3', 
							'form_elements__input', 
							'Сколько гостей', 
							'', 
							'Default', 
							'expand_more')
					.form_elements__item.form_elements__item--4
						+input(
							'masked text field', 
							'date', 
							'form_elements__input-4', 
							'form_elements__input', 
							'', 
							'Email', 
							'Default', 
							'expand_more')
					.form_elements__item.form_elements__item--5
						.form_elements__item-inner.form_elements__item-inner--1
							+input(
								'date Dropdown', 
								'date', 
								'form_elements__input-5', 
								'form_elements__input', 
								'', 
								'', 
								'', 
								'expand_more')
						.form_elements__space
						.form_elements__item-inner.form_elements__item-inner--2
							+input(
								'date Dropdown', 
								'date', 
								'form_elements__input-6', 
								'form_elements__input', 
								'2019-08-19', 
								'', 
								'', 
								'expand_more')
					.form_elements__item.form_elements__item--6
						+input(
							'filter date dropdown', 
							'email', 
							'form_elements__input-7', 
							'form_elements__input', 
							'19 авг - 23 авг', 
							'', 
							'', 
							'expand_more')
					.form_elements__item.form_elements__item--7
						+input(
							'subscription text field', 
							'email', 
							'form_elements__input-8', 
							'form_elements__input', 
							'', 
							'Email', 
							'', 
							'arrow_forward', 
							'purple')
			.form_elements__col.form_elements__col--2
				section.form_elements__inner.form_elements__inner--2
					.form_elements__item.form_elements__item--8
						h3.form_elements__item-8-header Checkbox Buttons
						+checkbox(
							'form_elements__checkbox-1', 
							['Можно курить', 
							'Можно с питомцами', 
							'Можно пригласить гостей (до 10 человек)'])
					.form_elements__item.form_elements__item--9
						h3.form_elements__item-9-header Radio Buttons
						+radio(
							'form_elements__radio', 
							['Мужчина', 'Женщина'])
					.form_elements__item.form_elements__item--10
						h3.form_elements__item-10-header Toggle
						+toggle(
							'form_elements__toggle', 
							['Получать спецпредложения', 
							'Получать спецпредложения'])
					.form_elements__item.form_elements__item--11
						h3.form_elements__item-11-header like button
						+like('form_elements__1', '2')
						+like('form_elements__2', '12')
					.form_elements__item.form_elements__item--12
						h3.form_elements__item-11-header rate button
						+rate('form_elements__rate-1', 4, 1)
						+rate('form_elements__rate-2', 5, 1)
			.form_elements__col.form_elements__col--3
				section.form_elements__inner.form_elements__inner--3
					.form_elements__item.form_elements__item--13
						+slider(1, 'Range Slider')
					.form_elements__item.form_elements__item--14
						h3.form_elements__item-14-header buttons
						.form_elements__btn.form_elements__btn--1.btn click me
						.form_elements__btn.form_elements__btn--2.btn.btn--hover click me
						.form_elements__btn.form_elements__btn--3.btn.btn--white click me
						.form_elements__btn.form_elements__btn--4.btn.btn--white.btn--hover click me
						.form_elements__btn.form_elements__btn--5.btn.btn--icon-link click me
						.form_elements__btn.form_elements__btn--6.btn.btn--icon-link.btn--icon-link-hover click me
						.form_elements__btn.form_elements__btn--7.btn.btn--arrow перейти к оплате
					.form_elements__item.form_elements__item--15
						h3.form_elements__item-15-header pagination
						#pagination-container
						p.pagination__text <span class="pagination__first">1</span> – <span class="pagination__second">12</span> из 100+ вариантов аренды
			.form_elements__col.form_elements__col--4
				section.form_elements__inner.form_elements__inner--4
					.form_elements__item.form_elements__item--16
						+dropdown(
							'rooms',
							'form_elements__dropdown-rooms-1', 
							'dropdown', 
							'Default', 
							'спальни', 
							'кровати', 
							'ванные комнаты')
					.form_elements__item.form_elements__item--17
						+dropdown(
							'rooms',
							'form_elements__dropdown-rooms-1', 
							'dropdown', 
							'expanded', 
							'спальни', 
							'кровати', 
							'ванные комнаты')
					.form_elements__item.form_elements__item--18
						h3 expandable checkbox list
					.form_elements__item.form_elements__item--19
						h3 expandable checkbox list
						+checkbox(
							'form_elements__checkbox-2', 
							['Завтрак', 
							'Письменный стол', 
							'Стул для кормления',
							'Кроватка',
							'Телевизор',
							'Шампунь',
							'Телевизор',
							'Шампунь'])
			.form_elements__col.form_elements__col--5
				section.form_elements__inner.form_elements__inner--5
					.form_elements__item.form_elements__item--20
						+dropdown(
							'peoples',
							'form_elements__dropdown-peoples-1', 
							'dropdown', 
							'', 
							'взрослые', 
							'дети', 
							'младенцы',
							'1')
					.form_elements__item.form_elements__item--21
						h3 rich Checkbox Buttons
						+checkbox(
							'form_elements__checkbox-3', 
							['Ширина коридоров в номере не менее 91 см.', 
							'На 1 этаже вас встретит специалист  и проводит до номера.'],
							['Широкий коридор',
							'Помощник для инвалидов'])
			.form_elements__col.form_elements__col--6
				section.form_elements__inner.form_elements__inner--6
					.form_elements__item.form_elements__item--22
						+dropdown(
							'peoples',
							'form_elements__dropdown-peoples-2', 
							'dropdown', 
							'', 
							'взрослые', 
							'дети', 
							'младенцы',
							'1')
					.form_elements__item.form_elements__item--23
						h3 bullet list
						ul
							li.page__li Нельзя с питомцами
							li.page__li Без вечеринок и мероприятий
							li.page__li Время прибытия — после 13:00, а выезд до 12:00
			.form_elements__col.form_elements__col--7
				section.form_elements__inner.form_elements__inner--7
					.form_elements__item.form_elements__item--24
						+info(
							'form_elements__info-1',
							'insert_emoticon',
							'Комфорт',
							'Шумопоглощающие стены')
					.form_elements__item.form_elements__item--25
						+info(
							'form_elements__info-1',
							'location_city',
							'Удобство',
							'Окно в каждой из спален')
			.form_elements__col.form_elements__col--8
				section.form_elements__inner.form_elements__inner--8
					.form_elements__item.form_elements__item--26
						+review(
							'form_elements__revew-1',
							'img/murad.jpg',
							'12',
							'Мурад Сарафанов',
							'5 дней назад',
							'Великолепный матрас на кровати в основной спальне! А пуфик вообще 	потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')