extends ../base
block title
	| Form Elements	
block main
	include ../../components/ui_kit/ui_kit.pug
	include ../../components/input/input.pug
	include ../../components/checkbox/checkbox.pug
	include ../../components/radio/radio.pug
	include ../../components/toggle/toggle.pug
	include ../../components/like/like.pug
	include ../../components/rate/rate.pug
	include ../../components/slider/slider.pug
	.page__container
		.form_elements__row
			.form_elements__col.form_elements__col--1
				.form_elements__inner.form_elements__inner--1
					.form_elements__item.form_elements__item--1
						+input('Text Field', 'email', 'form_elements__input-1', 'form_elements__input', '', 'Email', 'Default')
					.form_elements__item.form_elements__item--2
						+input('Text Field', 'email', 'form_elements__input-2', 'input__input--hover form_elements__input', 'This is pretty awesome', '', 'Hover / Focus')
					.form_elements__item.form_elements__item--3
						+input('Dropdown', 'email', 'form_elements__input-3', 'form_elements__input', 'Сколько гостей', '', 'Default', 'expand_more')
					.form_elements__item.form_elements__item--4
						+input('masked text field', 'date', 'form_elements__input-4', 'form_elements__input', '', 'Email', 'Default', 'expand_more')
					.form_elements__item.form_elements__item--5
						.form_elements__item-inner.form_elements__item-inner--1
							+input('date Dropdown', 'date', 'form_elements__input-5', 'form_elements__input', '', '', '', 'expand_more')
						.form_elements__item-inner.form_elements__item-inner--2
							+input('date Dropdown', 'date', 'form_elements__input-6', 'form_elements__input', '2019-08-19', '', '', 'expand_more')
					.form_elements__item.form_elements__item--6
						+input('filter date dropdown', 'email', 'form_elements__input-7', 'form_elements__input', '19 авг - 23 авг', '', '', 'expand_more')
					.form_elements__item.form_elements__item--7
						+input('subscription text field', 'email', 'form_elements__input-8', 'form_elements__input', '', 'Email', '', 'arrow_forward', 'purple')
			.form_elements__col.form_elements__col--2
				.form_elements__inner.form_elements__inner--2
					.form_elements__item.form_elements__item--8
						h3.form_elements__item-8-header Checkbox Buttons
						+checkbox('form_elements__checkbox-1', ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'])
					.form_elements__item.form_elements__item--9
						h3.form_elements__item-9-header Radio Buttons
						+radio('form_elements__radio', ['Мужчина', 'Женщина'])
					.form_elements__item.form_elements__item--10
						h3.form_elements__item-10-header Toggle
						+toggle('form_elements__toggle', ['Получать спецпредложения', 'Получать спецпредложения'])
					.form_elements__item.form_elements__item--11
						h3.form_elements__item-11-header like button
						+like('form_elements__like-1', '2')
						+like('form_elements__like-2', '12')
					.form_elements__item.form_elements__item--12
						h3.form_elements__item-11-header rate button
						+rate('form_elements__rate-1', 4, 1)
						+rate('form_elements__rate-2', 5, 1)
			.form_elements__col.form_elements__col--3
				.form_elements__inner.form_elements__inner--3
					.form_elements__item.form_elements__item--13
						+slider(1)
					.form_elements__item.form_elements__item--14
						h3.form_elements__item-14-header buttons
						.form_elements__btn.form_elements__btn--1.btn CLICK ME
						.form_elements__btn.form_elements__btn--2.btn.btn--hover CLICK ME
						.form_elements__btn.form_elements__btn--3.btn.btn--white CLICK ME
						.form_elements__btn.form_elements__btn--4.btn.btn--white.btn--hover CLICK ME
						.form_elements__btn.form_elements__btn--5.btn.btn--icon-link CLICK ME
						.form_elements__btn.form_elements__btn--6.btn.btn--icon-link.btn--icon-link-hover CLICK ME
						.form_elements__btn.form_elements__btn--7.btn.btn--arrow перейти к оплате
					.form_elements__item.form_elements__item--15
						h3.form_elements__item-15-header pagination
			.form_elements__col.form_elements__col--4
				.form_elements__inner.form_elements__inner--4
			.form_elements__col.form_elements__col--5
				.form_elements__inner.form_elements__inner--5
			.form_elements__col.form_elements__col--6
				.form_elements__inner.form_elements__inner--6
			.form_elements__col.form_elements__col--7
				.form_elements__inner.form_elements__inner--7
			.form_elements__col.form_elements__col--8
				.form_elements__inner.form_elements__inner--8