extends ../base
block title
	| Form Elements
block main
	include ../../components/ui_kit/ui_kit.pug
	include ../../components/input/input.pug
	.page__container
		.form_elements__row
			.form_elements__col.form_elements__col--1
				.form_elements__inner.form_elements__inner--1
					.form_elements__item.form_elements__item--1
						+input('Text Field', 'email', 'form_elements__input-1', 'form_elements__input', '', 'Email', 'Default')
					.form_elements__item.form_elements__item--2
						+input('Text Field', 'email', 'form_elements__input-1', 'input__input--hover form_elements__input', 'This is pretty awesome', '', 'Hover / Focus')
					.form_elements__item.form_elements__item--3
						+input('Dropdown', 'email', 'form_elements__input-1', 'form_elements__input', 'Сколько гостей', '', 'Default')
					.form_elements__item.form_elements__item--4
						+input('masked text field', 'date', 'form_elements__input-1', 'form_elements__input', '', 'Email', 'Default')
					.form_elements__item.form_elements__item--5
						.form_elements__item-inner.form_elements__item-inner--1
							+input('date Dropdown', 'date', 'form_elements__input-1', 'form_elements__input', '', '', '')
						.form_elements__item-inner.form_elements__item-inner--2
							+input('date Dropdown', 'date', 'form_elements__input-1', 'form_elements__input', '2019-08-19', '', '')
					.form_elements__item.form_elements__item--6
						+input('filter date dropdown', 'email', 'form_elements__input-1', 'form_elements__input', '19 авг - 23 авг', '', '')
					.form_elements__item.form_elements__item--7
						+input('subscription text field', 'email', 'form_elements__input-1', 'form_elements__input', '', 'Email', '')
			.form_elements__col.form_elements__col--2
				.form_elements__inner.form_elements__inner--2
			.form_elements__col.form_elements__col--3
				.form_elements__inner.form_elements__inner--3
			.form_elements__col.form_elements__col--4
				.form_elements__inner.form_elements__inner--4
			.form_elements__col.form_elements__col--5
				.form_elements__inner.form_elements__inner--5
			.form_elements__col.form_elements__col--6
				.form_elements__inner.form_elements__inner--6
			.form_elements__col.form_elements__col--7
				.form_elements__inner.form_elements__inner--7
			.form_elements__col.form_elements__col--8
				.form_elements__inner.form_elements__inner--8